<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>무료 체험수업</li>
      <li>무료 체험수업 신청</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub04">
  <p>무료 체험수업 신청</p>
</div>
<!-- //sub_top -->

<div class="inner">

  <aside ng-include="'modules/core/client/views/sidebar-leveltest.client.view.html'"></aside>
  <form name="vm.form.leveltestForm" novalidate autocomplete="off">
  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit">무료 체험수업 신청</h3>
    <div class="request">
      <p class="txt">
        <strong>원스탑에듀 무료 체험수업을 신청하세요!</strong>
        (신청 후 담당매니저가 상담전화를 드리며, 테스트는 10분간 진행됩니다.)
      </p>

      <div class="section">
        <div class="table_write">
          <ul>
            <li class="title">이름</li>
            <li class="inputs"><input type="text" name="koreanName" ng-model="vm.application.koreanName" placeholder="이름을 입력해주세요." required/></li>
          </ul>

          <ul>
            <li class="title">영문 이름</li>
            <li class="inputs"><input type="text" name="englishName" ng-model="vm.application.englishName" placeholder="영문이름을 입력해주세요." lowercase/></li>
          </ul>

          <ul class="form-group" show-errors>
            <li class="title">전화번호</li>
            <li class="inputs"><input type="text" name="mobile" ng-model="vm.application.mobile" class="form-control help-block" placeholder="번호를 입력해주세요." ng-pattern="vm.mobileRex" required/></li>
            <span class="chk" ng-messages="vm.form.leveltestForm.mobile.$error" style="font-size:15px;" role="alert">
              <p ng-message="required" class="help-block error-text">수업 받을 연락처를 필히 작성해주세요.</p>
              <p ng-message="pattern" class="help-block error-text">숫자만 입력해주세요.</p>
            </span>
          </ul>

          <ul>
            <li class="title">이메일</li>
            <li>
              <input type="text" ng-model="vm.emailId" style="width:115px" required/> @
              <input type="text" ng-model="vm.emailUrl" style="width:115px" required/>

              <select name="choiceEmail" ng-change="vm.choiceUrl()" ng-model="vm.choiceEmail">
                <option value="">직접 입력</option>
                <option value="naver.com">naver.com</option>
                <option value="hanmail.net">hanmail.net</option>
                <option value="daum.net">daum.net</option>
                <option value="nate.com">nate.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="hotmail.com">hotmail.com</option>
              </select>
            </li>
          </ul>
          <span class="level_txt">(*결과 안내 받을 이메일 주소 작성해주세요)</span>

          <ul>
            <li class="title">수업 날짜</li>
            <li style="width:200px;"><input type="text" jq-datepicker ng-model="vm.date" class="startDay" readonly="readonly" /></li>
            <li class="title">회화 수준</li>
            <li class="inputs">
              <select name="skill" ng-model="vm.application.skill" required>
                <option value=""></option>
                <option value="novice">왕초보 수준</option>
                <option value="conversation">기본 대화 가능</option>
                <option value="communication">의사소통 원활</option>
                <option value="debate">주제 토론 가능</option>
              </select>
            </li>
          </ul>
          <span class="level_txt">(당일 체험수업은 오후 7시 이전 신청자에 한하여 가능합니다.)</span>

          <ul>
            <li class="title">수업 방식</li>
            <li class="inputs">
              <select ng-model="vm.application.productType" required>
                <option value=""></option>
                <option value="telephone">전화</option>
                <option value="skype">스카이프</option>
                <option value="screenBoard">화상칠판</option>
              </select>
            </li>

            <li ng-if="vm.application.productType === 'skype'" class="title">스카이프 ID</li>
            <li ng-if="vm.application.productType === 'skype'" class="inputs">
              <input type="text" name="skype" id="skype" ng-model="vm.application.skype"/>
            </li>
          </ul>

          <ul>
            <li class="title">수업 시간</li>
            <li>
              <span style="color:red; font-size:14px;">
                (요청하신 시간대에 수업 스케줄을 등록한 후,
                휴대폰 번호로 정확한 시간을 안내해 드리겠습니다.)
              </span>
            </li>
          </ul>

          <ul style="height:170px; line-height:20px;">
            <li>
              <div class="test_hour" desire-timer autoscroll="true" ng-model="vm.application.desired" start="6" end="24"></div>
            </li>
          </ul>

          <ul style="height:130px;">
            <li>
              <textarea ng-model="vm.application.memo" style="width:650px;height:120px" placeholder="해외 전화번호, 친구 추천인 이름 등..."></textarea>
            </li>
          </ul>

          <ul>
            <li>
              <input type="checkbox" name="termPersonal" id="termPersonal" ng-model="vm.termPersonal" />
              <label for="termPersonal">개인정보 취급 방침 동의 <a href="javascript:;" ng-click="vm.popTerms();">(보기)</a></label>
            </li>
          </ul>

        </div>
      </div>

      <div class="btn">
        <a href="javascript:;" ng-click="vm.apply(vm.form.leveltestForm.$valid)">신청하기</a>
      </div>

    </div>
  </div>
  <!-- //contents -->
  </form>

  <!-- 개인정보 취급 방침 동의 팝업 -->
  <div class="pop pop_privacy" ng-class="{'show': vm.isterms}">
    <div class="inner">
      <a href="javascript:;" ng-click="vm.isterms = !vm.isterms" class="close_pop"><img src="/img/btn_close.png" /></a>
      <p class="tit">개인정보 수집 및 이용약관</p>
      <div class="terms_area" ng-include="'/modules/user/client/views/termsinfo/personal.html'"></div>
    </div>
  </div>
  <!-- //개인정보 취급 방침 동의 팝업 -->

</div>
