<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>무료 체험수업</li>
      <li>무료 체험수업 안내</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub04">
  <p>무료 체험수업 안내</p>
</div>
<!-- //sub_top -->

<div class="inner">

  <aside ng-include="'modules/core/client/views/sidebar-leveltest.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit">무료 레벨테스트</h3>

    <div class="test_confirm">
      <p class="txt">
        {{vm.apply.koreanName}} 님의 레벨테스트 신청내용은 아래와 같습니다.
      </p>

      <div class="table_list">
        <table>
          <caption class="hide"></caption>
          <colgroup>
            <col style="width:50%" />
            <col style="width:50%" />
          </colgroup>
          <tr>
            <th scope="row">레벨테스트 시간</th>
            <td>{{vm.apply.desired}}</td>
          </tr>
          <tr>
            <th scope="row">레벨테스트 전화번호</th>
            <td>{{vm.apply.mobile | telHyphen}}</td>
          </tr>
          <tr>
            <th scope="row">레벨테스트 방식</th>
            <td>
              <span ng-if="vm.apply.productType === 'telephone'">전화</span>
              <span ng-if="vm.apply.productType === 'skype'">스카이프</span>
              <span ng-if="vm.apply.productType === 'screenBoard'">화상칠판</span>
            </td>
          </tr>
          <tr>
            <th>이메일</th>
            <td>{{vm.apply.email}}</td>
          </tr>
        </table>
      </div>

      <div class="txt">
        요청하신 시간대에 테스트 스케줄을 등록한 후, 휴대폰 번호로 정확한 시간을 안내해 드리겠습니다.<br>
        (010-2123-6383으로 테스트 안내 및 상담 전화를 드릴 예정입니다.)<br>
        <span style="font-size:15px; color:red;">*신청하신 시간은 강사 스케줄에 따라 변경될 수 있습니다.</span>
      </div>

      <div class="btn">
        <a href="javascript:;" ui-sref="home">메인화면</a>
      </div>

    </div>

  </div>
  <!-- //contents -->

</div>
