<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>수강안내</li>
        <li>해외수강안내</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub03">
    <p>해외수강안내</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-course.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">해외수강안내</h3>
      <p class="sub_txt"></p>
      <!-- le_gb_process -->
      <div class="le_gb_process">
        <div class="chat_box">
          <h4>
            해외에서도 수강 가능한 ‘프리미엄 전화영어 원스탑에듀’
          </h4>
          <p class="text_balloon blue_balloon">
            나라 상관없이 수업이 가능한가요?
          </p>
          <p class="text_balloon gray_balloon">
            가능합니다! 어느 나라에 있든 수업할 수 있습니다.
          </p>
          <p class="text_balloon blue_balloon">
            시차가 다른데 수업시간은 어떻게 정하나요?
          </p>
          <p class="text_balloon gray_balloon">
            회원님의 시차와 수업 스케줄을 고려하여 학습 매니저가<br/>
            수업 스케줄을 안내해 드립니다.
          </p>
        </div>
        <div class="section">
          <h4>
            해외 수강 신청
          </h4>
          <p>
              01. 무료 체험수업 신청 시 메모란에 연락 가능 시간, 연락 가능한 연락처를 입력 바랍니다.<br/>
              02. 해외 학생들의 원활한 상담을 위해 스카이프, 카카오톡, 홈페이지 문의가 가능합니다.<br/>
              03. 결제 문의는 고객센터(+82-2-6383-8883) 또는 스카이프(live:esther212_2),<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 카카오톡(1stopedu)으로 문의 바랍니다.
          </p>
        </div>
        <div class="section ">
          <h4>
            해외 수강 후기
          </h4>
          <div class="img_content">
            <img src="/img/le_gb_imgcon.jpg" alt="해외 수강 후기 이미지"/>
            <p class="hidden">
              <b>미국 이민 1년차 김*화 님</b>
              이민와서 일상적인 영어도
              힘들었는데 원스탑에듀
              듣고나서 말이 금방 트였어요.
              <b>러시아 유학생 이*진 님</b>
              영어가 필수라 학원을 알아
              보다가 원스탑에듀를 알게
              되었는데 1:1 맞춤 수업이라
              실력이 금방 늘었어요!
              <b>중국 유학생 김*민 님</b>
              중국어 배우면서 마땅히 영어
              배울 학원이 없어서 화상영어를
              시작했는데 시간도 절약 돼서
              좋아요.
              <b>일본 직장인 조*화 님</b>
              원어민과 1:1로 수업을 들으니
              발음 교정도 할 수 있고 실무에
              바로 적용해서 쓸 수 있어요!
              <b>호주 워킹홀리데이 최*형 님</b>
              호주 와서도 늘 쓰는 영어만 써서 실력이 늘지
              않았는데 원스탑에듀를 꾸준히 하다보니
              고급 회화도 할 수 있게 됐어요!
            </p>
          </div>
          <div class="m_content le_gb_slide">
            <a href=""><img src="" /></a>
            <a href=""><img src="" /></a>
            <ul>
              <li>
                <h2>
                  미국 이민 1년차 김*화 님
                </h2>
                <p>
                  이민와서 일상적인 영어도
                  힘들었는데 원스탑에듀
                  듣고나서 말이 금방 트였어요.
                </p>
              </li>
              <li>
                <h2>
                  러시아 유학생 이*진 님
                </h2>
                <p>
                  영어가 필수라 학원을 알아
                  보다가 원스탑에듀를 알게
                  되었는데 1:1 맞춤 수업이라
                  실력이 금방 늘었어요!
                </p>
              </li>
              <li>
                <h2>
                  중국 유학생 김*민 님
                </h2>
                <p>
                  중국어 배우면서 마땅히 영어
                  배울 학원이 없어서 화상영어를
                  시작했는데 시간도 절약 돼서
                  좋아요.
                </p>
              </li>
              <li>
                <h2>
                  일본 직장인 조*화 님
                </h2>
                <p>
                  원어민과 1:1로 수업을 들으니
                  발음 교정도 할 수 있고 실무에
                  바로 적용해서 쓸 수 있어요!
                </p>
              </li>
              <li>
                <h2>
                  호주 워킹홀리데이 최*형 님
                </h2>
                <p>
                  호주 와서도 늘 쓰는 영어만 써서 실력이 늘지
                  않았는데 원스탑에듀를 꾸준히 하다보니
                  고급 회화도 할 수 있게 됐어요!
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <!-- // le_gb_process -->


    </div>
    <!-- //contents -->

  </div>
