<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>수강안내</li>
        <li>해외수강안내</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub03">
    <p>해외수강안내</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-course.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">수강절차</h3>
      <p class="sub_txt">원스탑에듀는 모든 수강생분들께 다양한 교육과정을 제공하고, 1:1 맞춤형 영어학습 솔루션을 제시합니다.</p>

      <div class="le_process">
        <ul>
          <li>
            <div class="img">
              <img src="/img/img_le_process01.jpg" alt="Step 1"/>
            </div>
            <div class="txt long">
              <span class="step">Step 1</span>
              <p>무료 체험수업 신청 및 진행</p>
              <ul>
                <li><strong>첫째!</strong> 무료 체험수업 신청</li>
                <li><strong>둘째!</strong> 10분간 영어 의사전달 능력을 테스트</li>
              </ul>
              <div class="btn">
                <a ui-sref="register.leveltest.apply">무료 체험수업 신청</a>
              </div>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="/img/img_le_process02.jpg" alt="Step 2"/>
            </div>
            <div class="txt">
              <span class="step">Step 2</span>
              <p>무료 체험수업 결과안내 및 상담</p>
              <ul>
                <li><strong>첫째!</strong> 무료 체험수업 후, E-mail로 결과발송</li>
                <li><strong>둘째!</strong> 원어민 강사의 자세한 분석과 Comment 전달</li>
                <li><strong>셋째!</strong> 전담매니저의 적합한 영어교육 과정 추천</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="/img/img_le_process03.jpg" alt="Step 3"/>
            </div>
            <div class="txt long">
              <span class="step">Step 3</span>
              <p>수강신청 및 결제</p>
              <ul>
                <li><strong>첫째!</strong> 수강교육 과정 선택</li>
                <li><strong>둘째!</strong> 수강시간 및 강사 선택</li>
                <li><strong>셋째!</strong> 수강 신청한 강의 결제 진행</li>
              </ul>
              <div class="btn">
                <a ui-sref="register.course.apply">수강 신청하기</a>
              </div>
            </div>
          </li>
          <li class="last">
            <div class="img">
              <img src="/img/img_le_process04.jpg" alt="Step 4"/>
            </div>
            <div class="txt">
              <span class="step">Step 4</span>
              <p>수업 시작</p>
              <ul>
                <li><strong>첫째!</strong> 수강료 결제 완료 후, 수업진행</li>
                <li><strong>둘째!</strong> 전담매니저의 지속적인 수업관리</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="le_process02">
        <p>원스탑에듀는 학습자의 편의를 위해 수업방식을 총 3가지로 구성하였습니다.</p>
        <ul>
          <li>
            <div class="img">
              <img src="/img/img_le_process05.png" alt=""/>
            </div>
            <div class="txt">
              <strong>전화 영어</strong>
              <p>
                전화 영어수업은 시간이 부족한 학습자들에게 추천하는 수업입니다.<br />
                원어민 강사와 철저한 1:1학습으로 영어 정복이 가능하고,<br />
                짧은 시간 내에 집중적인 영어 Training을 경험할 수 있습니다.<br />
                수업 후 녹음파일과 comment가 제공되어 효과적인 복습이 가능합니다.
              </p>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="/img/img_le_process06.png" alt=""/>
            </div>
            <div class="txt">
              <strong>스카이프 영어</strong>
              <p>
                스카이프 수업은 전화수업과 화상칠판 수업의 특장점을 결합한<br />
                모든 학습자들에게 적합한 수업입니다.<br />
                수업 중에 채팅 창을 자유롭게 활용하여<br />
                듣기, 말하기, 읽기, 쓰기 학습이 가능합니다.
              </p>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="/img/img_le_process07.png" alt=""/>
            </div>
            <div class="txt long">
              <strong>화상칠판 영어</strong>
              <p>
                화상칠판수업은 초보학습자와 다양한 학습자료를 필요로 하는<br />
                어린이 학습자에게 적합한 수업 방식입니다.<br />
                강사와 학습자가 판서기능을 이용하여 쓰기 학습을 할 수 있으며,<br />
                동영상 등 다양한 도구를 활용하여 듣기, 말하기, 읽기 학습이 가능합니다. <br />
                수업 후 녹화 파일을 보며 복습이 가능합니다.
              </p>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <!-- //contents -->

  </div>
