  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>수강안내</li>
        <li>수강규정</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub03">
    <p>수강규정</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-course.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">수강규정</h3>
      <p class="sub_txt">
        원스탑에듀의 수강규정입니다.<br />
        수강신청하기 전 수강규정을 확인하시고, 문의사항이 있으시면 교육지원센터<span class="blue">(02-6383-8883)</span> 연락바랍니다.
      </p>

      <div class="regul">

        <div class="section">
          <h4>수업진행 방식</h4>
          <p>
            수업가능시간은 <strong>월요일 ~ 금요일(6:00 ~ 24:00)</strong> 입니다. <br />
            수업방식은 <strong>전화, 스카이프, 화상칠판</strong> 총 3가지로 구성되어 있습니다.<br />
            수업시작 후 강사님이 3회 이상 연락을 했으나 회원님의 사정으로 연결이 되지 않은 경우는 결석으로 간주합니다.
          </p>
        </div>

        <div class="section">
          <h4>수업연기 규정</h4>
          <p>
            주 5회 수업 시 월 4회, 주 2/3회 수업 시 월 2회 연기가 가능합니다.<br />
            (7일 이상은  장기연기신청이 가능합니다. 단, 강사변경 가능성 있음.)<br />
            6개월 이상 장기연기시 남은 수업은 소멸됩니다.<br />
            연기는 최소 수업 3시간 전에 신청해 주셔야 합니다.
          </p>
        </div>

        <div class="section">
          <h4>원스탑에듀 환불 규정</h4>
          <div class="deposit">
            <strong>1개월(20회) 입금 기준</strong>
            <ul>
              <li>수업 시작일 이전 : 이미 납부한 수강료 전액</li>
              <li>총 수업 일의 1/3 경과 전 : 이미 납부한 수강료의 2/3에 해당하는 금액</li>
              <li>총 수업 일의 1/2 경과 전 : 이미 납부한 수강료의 1/2에 해당하는 금액</li>
              <li>총 수업 일의 1/2 경과 후 : 반환하지 아니함</li>
            </ul>
          </div>
          <p>
            장기연기 및 타인에게 양도 가능합니다.<br />
            환불 시 타행 수수료 및 카드결제 수수료는 개인 부담입니다.<br />
            환불금액 산정 시 연기는 수업을 진행 한 것으로 간주하여 계산됩니다.<br />
            3개월 이상 입금 시 1개월 환불기준에 비례하여 환불 조치 합니다.
          </p>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
