<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>교육지원센터</li>
      <li>문의하기</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub05">
  <p>문의하기</p>
</div>
<!-- //sub_top -->

<div class="inner">

  <aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">



    <h3 class="h3_tit">문의하기</h3>
    <p class="sub_txt">
      수업 스케줄 및 기술적인 사항 등을 질문해주세요.<br />
      (수업 내용에 관한 질문은 마이페이지 &gt;&gt; 담당강사문의를 활용해주세요.)
    </p>

    <div class="question_list">
        <div class="search_area">
          <div class="left">
            <select ng-model="vm.searchOptions" style="width:65px;">
              <option name="title" value="title">제목</option>
              <option name="contents" value="contents">내용</option>
            </select>
            <input type="text" name="searchKeyword" ng-model="vm.searchKeyword" ng-keydown="$event.keyCode === 13 && vm.searching()"/>
            <button ng-click="vm.searching()">Search</button>
          </div>
          <div class="right">
            <a ng-click="vm.write()" href="javascript:;">글쓰기</a>
          </div>
        </div>

        <div class="table_list02">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:65px" />
              <col style="" />
              <col style="width:80px" />
              <col style="width:80px" />
              <col style="width:80px" />
              <col style="width:100px" />
              <col style="width:80px" />
            </colgroup>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">상태</th>
              <th scope="col">답변처리</th>
              <th scope="col">작성일</th>
              <th scope="col">조회</th>
            </tr>


            <tr ng-repeat="contactUs in vm.contactUss | orderBy:'-counters'">
              <td>{{contactUs.counters}}</td>
              <td class="left">
                <a ui-sref="articles.contact-us.read({contactUsId:contactUs._id})" ng-if="contactUs.contactUsType === 'public'">{{contactUs.title | letterCount}}</a>
                <a ui-sref="articles.contact-us.read({contactUsId:contactUs._id})" ng-if="contactUs.contactUsType === 'private' && contactUs.user.username === vm.auth.user.username">{{contactUs.title | letterCount}}</a>
                <div ng-if="contactUs.contactUsType === 'private' && contactUs.user.username !== vm.auth.user.username">{{contactUs.title | letterCount}}</div>
              </td>
              <td>{{contactUs.user.koreanName | nameMasking}}</td>
              <td>{{contactUs.contactUsType === "private" ? "비밀글" : "공개글"}}</td>
              <td>완료</td>
              <td>{{contactUs.created | date: 'yyyy-MM-dd'}}</td>
              <td>{{contactUs.views}}</td>
            </tr>
          </table>
        </div>
        <div uib-pagination boundary-links="true" rotate="false" max-size="vm.maxSize" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" template-url="modules/core/client/templates/pagination.client.view.html"></div>
    </div>

  </div>
  <!-- //contents -->

</div>
