<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육지원센터</li>
        <li>문의하기</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub05">
    <p>문의하기</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit noBorder">문의하기</h3>

      <div class="question_view">

        <div class="table_view">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:80px;" />
              <col style="width:220px" />
              <col style="width:80px;" />
              <col style="width:220px" />
              <col style="width:80px;" />
              <col style="" />
            </colgroup>
            <tr>
              <th scope="row">제목 : </th>
              <td colspan="5">{{vm.contactUs.title}}</td>
            </tr>
            <tr>
              <th scope="row">작성자 :</th>
              <td>{{vm.contactUs.user.koreanName}}</td>
              <th scope="row">작성일 :</th>
              <td>{{vm.contactUs.created | date: 'yyyy-MM-dd'}}</td>
              <th scope="row">조회 :</th>
              <td>{{vm.contactUs.views}}</td>
            </tr>
            <tr>
              <td colspan="6" class="cont" ng-bind-html="vm.contactUs.contents">
              </td>
            </tr>
          </table>
        </div>

        <div class="teacher_reply">
          <dl>
            <dt>
              원스탑에듀 답변 {{vm.contactUs.comments[0].created | date: 'yyyy-MM-dd HH:mm:ss'}}
            </dt>
            <dd ng-bind-html="vm.contactUs.comments[0].contents">
            </dd>
          </dl>
        </div>

        <div class="btn_group">
          <div class="right">

            <a ui-sref="articles.contact-us.edit({contactUsId:vm.contactUs._id})" ng-if="vm.contactUs.user.username === vm.auth.user.username" class="btn_style01">수정</a>
            <a ng-click="vm.removeContactUs()" href="javascript:;" ng-if="vm.contactUs.user.username === vm.auth.user.username" class="btn_style01">삭제</a>


            <a ui-sref="articles.contact-us.list" class="btn_style01">목록</a>
          </div>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
