  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육지원센터</li>
        <li>문의하기</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub05">
    <p>문의하기</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">

<aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">문의하기</h3>

      <div class="question_write">

        <div class="table_list04">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:125px" />
              <col style="width:240px" />
              <col style="width:125px" />
              <col />
            </colgroup>
            <tr>
              <th scope="row"><label for="title">제목</label></th>
              <td colspan="3" class="left"><input type="text" name="title" id="title" ng-model="vm.contactUs.title"/></td>
            </tr>
            <tr>
              <th scope="row">공개설정</th>
              <td colspan="3" class="left">
                <label for="secret">비밀글</label>
                <input type="radio" name="contactUsType" id="secret" ng-model="vm.contactUs.contactUsType" value="private"> &nbsp; &nbsp; &nbsp;
                <label for="public">공개글</label>
                <input type="radio" name="contactUsType" id="public" ng-model="vm.contactUs.contactUsType" value="public">
              </td>
            </tr>
            <tr>
              <th scope="row"><label for="cont">내용</label></th>
              <td colspan="3" class="left">
                <div class="textarea">
                  <textarea name="content" id="content" ng-model="vm.contactUs.contents"></textarea>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="btn_group">
          <div class="right">
            <a href="javascript:;" ng-click="vm.write()" class="btn_style01">등록</a>
            <a ui-sref="articles.contact-us.list" class="btn_style01" >취소</a>
          </div>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
