  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>마이페이지</li>
        <li>내정보관리</li>
        <li>정보수정</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub06">
    <p>정보수정</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
    <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>


    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">개인 정보 수정</h3>

      <div class="modify">
        <div class="table_write">
            <table>
              <caption class="hide"></caption>
              <colgroup>
                <col style="width:135px;">
                <col>
              </colgroup>
              <tr>
                <th scope="row"><label for="ID">아이디</label></th>
                <td>
                  <input type="hidden" >{{vm.auth.user.username}}
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="currentPassword">현재 비밀번호 <span class="star">*</span></label></th>
                <td>
                  <input type="password" name="currentPassword" id="currentPassword" ng-model="vm.auth.user.currentPassword" style="width:240px;">
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="newPassword">새 비밀번호 </label></th>
                <td>
                  <input type="password" name="newPassword" id="newPassword" ng-model="vm.auth.user.newPassword" style="width:240px;">
                  <span class="chk" ng-if="!vm.auth.user.newPassword">8자~20자이내로 입력해주세요.</span>
                  <span class="chk" ng-if="!(vm.auth.user.newPassword.length > 7 && vm.auth.user.newPassword.length < 20) && vm.auth.user.newPassword" style="color: red;">8자~20자이내로 입력해주세요.</span>
                  <span class="chk2 green" ng-if="vm.auth.user.newPassword.length > 7 && vm.auth.user.newPassword.length < 20">올바른 비밀번호 입니다.</span>
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="confirmPassword">비밀번호 확인</label></th>
                <td>
                  <input type="password" name="confirmPassword" id="confirmPassword" ng-model="vm.auth.user.confirmPassword" style="width:240px;">
                  <span class="chk" ng-if="(vm.auth.user.newPassword !== vm.auth.user.confirmPassword) && vm.auth.user.confirmPassword" style="color: red;">비밀번호가 일치하지 않습니다.</span>
                  <span class="chk2 green" ng-if="(vm.auth.user.newPassword === vm.auth.user.confirmPassword) && vm.auth.user.confirmPassword">비밀번호가 일치합니다.</span>
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="koreanName">이름 <span class="star">*</span></label></th>
                <td>
                  <input type="text" name="koreanName" id="koreanName" ng-model="vm.auth.user.koreanName" style="width:240px;">
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="englishName">영어 닉네임 <span class="star">*</span></label></th>
                <td>
                  <input type="text" name="englishName" id="englishName" ng-model="vm.auth.user.englishName" style="width:240px;" >
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="kakao">카카오톡 아이디</label></th>
                <td>
                  <input type="text" name="kakao" id="kakao" ng-model="vm.auth.user.kakao" style="width:240px;" >
                  <span class="chk">카카오톡 강의 시 필수 기재 사항입니다.</span>
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="skype">스카이프 아이디</label></th>
                <td>
                  <input type="text" name="skype" id="skype" ng-model="vm.auth.user.skype" style="width:240px;" >
                  <span class="chk">스카이프 강의 시 필수 기재 사항입니다.</span>
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="phone">휴대폰번호 <span class="star">*</span></label></th>
                <td>
                  <input type="text" name="mobileFirst" id="mobileFirst" ng-model="vm.mobileFirst" style="width:70px;" maxlength="3"> -
                  <input type="text" name="mobileMiddle" id="mobileMiddle" ng-model="vm.mobileMiddle" style="width:70px;" maxlength="4"> -
                  <input type="text" name="mobileLast" id="mobileLast" ng-model="vm.mobileLast" style="width:70px;" maxlength="4" >
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="email">이메일 <span class="star">*</span></label></th>
                <td>
                  <input id="email" name="email" type="email" ng-model="vm.auth.user.email" style="width:370px;"  />
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="address">주소 <span class="star">*</span></label></th>
                <td>
                  <input type="text" name="zipcode" id="zipNo" ng-model="vm.auth.user.zipcode" readonly style="width:110px;margin-bottom:8px;" >
                  <a href="javascript:;" class="btn">우편번호검색</a><br>
                  <input type="text" name="address" id="address" ng-model="vm.auth.user.address"  style="width:450px;">
                </td>
              </tr>

            </table>
        </div>

        <div class="btn">
          <a href="javascript:;" ng-click="vm.completion()">완료</a>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
