  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>마이페이지</li>
        <li>내정보관리</li>
        <li>회원탈퇴</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub06">
    <p>회원탈퇴</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">

    <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>

    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">원스탑에듀 회원탈퇴</h3>
      <p class="sub_txt">회원님의 탈퇴사유를 간략히 적어주시면 앞으로 더 나은 서비스를 위해 개선하도록 노력하겠습니다.</p>

      <div class="withdrawal">

        <div class="table_write">
            <table>
              <caption class="hide"></caption>
              <colgroup>
                <col style="width:140px" />
                <col />
              </colgroup>
              <tr>
                <th scope="row"><label>아이디</label></th>
                <td>{{vm.auth.user.username}}</td>
              </tr>
              <tr>
                <th scope="row"><label for="password">비밀번호</label></th>
                <td><input type="password" name="password" id="password" ng-model="vm.withdrawal.password" style="width:230px" /></td>
              </tr>
              <tr>
                <th scope="row"><label for="reason">탈퇴사유</label></th>
                <td>
                  <div class="textarea">
                    <textarea id="reason" name="withdrawalReason" ng-model="vm.withdrawal.withdrawalReason"></textarea>
                  </div>
                </td>
              </tr>
            </table>
        </div>

        <div class="btn">
          <a ng-click="vm.complete();" href="javascript:;">완료</a>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
