  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>마이페이지</li>
        <li>내정보관리</li>
        <li>회원탈퇴</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub06">
    <p>회원탈퇴</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">


    <!-- contents -->
    <div id="contents" class="wide">

      <div class="with_confirm">
        <h3>정상적으로 탈퇴처리가 완료 되었습니다.</h3>
        <p>
          회원님의 소중한 의견 감사합니다. <br />
          원스탑에듀는 보다 나은 서비스 제공을 위해 항상 노력하겠습니다.
        </p>
        <div class="btn">
          <a ui-sref="home">메인</a>
        </div>
      </div>

    </div>
    <!-- //contents -->

  </div>
