<div class="year">
  <a ng-click="ctrl.lastMonth()" href="javascript:;" class="btn_prev calBtn"><img src="/img/btn_prev03.png" alt="이전" /></a>
  <div class="year_select">
    <a>{{ctrl.calendar.format('YYYY')}}</a> 년
  </div>
  <div class="month_select">
    <a>{{ctrl.calendar.format('MM')}}</a> 월
  </div>
  <a ng-click="ctrl.nextMonth()" href="javascript:;" class="btn_next calBtn"><img src="/img/btn_next03.png" alt="다음" /></a>
</div>

<div class="class_schedule">
  <table>
    <caption class="hide"></caption>
    <colgroup>
      <col style="width:101px" />
      <col style="width:101px" />
      <col style="width:101px" />
      <col style="width:101px" />
      <col style="width:101px" />
      <col style="width:101px" />
      <col style="width:101px" />
    </colgroup>
    <tr>
      <th scope="col" ng-repeat="weekDay in ctrl.weekName">{{weekDay}}</th>
    </tr>

    <tr ng-repeat="day in ctrl.weeks">
      <td ng-repeat="date in day track by $index">
        <span class="date">{{date}}</span>
        <div class="stat">
          <div ng-repeat="schedule in ctrl.scheduled" ng-if="schedule._id.day === date && schedule._id.state === 'onStandby'"><img src='/img/ico_class_stat01.png' alt="수강예정" />
            <span>{{schedule._id.time}}</span>
            <a href="javascript:;"><img src='/img/btn_time_delay.png' style="padding:5px 0;" alt='연기하기' ng-if="schedule._id.day === date && schedule._id.state === 'onStandby'"></a>
          </div>
          <div ng-repeat="schedule in ctrl.scheduled" ng-if="schedule._id.day === date && schedule._id.state === 'attendance'">
            <a href="javascript:;" ng-click="attendance(schedule)"><img src='/img/ico_class_stat02.png' alt="출석" /></a>
            <span>{{schedule._id.time}}</span>
          </div>
          <img src='/img/ico_class_stat03.png' alt="결석" ng-repeat="schedule in ctrl.scheduled"
            ng-if="schedule._id.day === date && (schedule._id.state === 'absence' || schedule._id.state === 'tutorCanceled' || schedule._id.state === 'technicalProblem')" />
          <img src='/img/ico_class_stat05.png' alt="휴강" ng-repeat="schedule in ctrl.scheduled" ng-if="schedule._id.day === date && schedule._id.state === 'dayOff'" />
          <img src='/img/ico_class_stat06.png' alt="단기연기" ng-repeat="schedule in ctrl.scheduled" ng-if="schedule._id.day === date && schedule._id.state === 'postpone'" />
          <img src='/img/ico_class_stat07.png' alt="장기연기" ng-repeat="schedule in ctrl.scheduled" ng-if="schedule._id.day === date && schedule._id.state === 'hold'" />
        </div>
        <!-- <div class="stat" ng-if="date">
          <a href="javascript:;"><img src='/img/btn_time_delay.png' alt='연기하기' ng-repeat="schedule in ctrl.scheduled" ng-if="schedule._id.day === date && schedule._id.state === 'onStandby'"></a>
        </div> -->
      </td>
    </tr>

  </table>

</div>

<div class="pop pop_appraisal" ng-class="{'show' : isFeedback}">
  <div class="inner" style="overflow-y:auto;">
    <a href="javascript:;" class="close_pop" ng-click="isFeedback = !isFeedback"><img src="/img/btn_close.png" alt="close" /></a>
    <h3>수업평가</h3>
    <p class="txt">* 음원파일은 14일 후 삭제될 수 있으니 미리 다운로드 해주시길 바랍니다.</p>
    <div class="btn">
      <a style="cursor:pointer" onclick="alert('준비중입니다.')">프린트</a>
      <a href="javascript:;" ng-click="recording()" class="open_pop">수업음원</a>
    </div>
    <div class="table_list04">
      <table>
        <caption class="hide"></caption>
        <colgroup>
          <col style="width:20%">
          <col style="width:25%">
          <col style="width:20%">
          <col style="width:35%">
        </colgroup>
        <tr>
          <th scope="col">회원명</th>
          <td id="user_name">{{auth.koreanName}}</td>
          <th scope="col">수업방식</th>
          <td id="scType">
            <span ng-if="course.virtualProduct.productType === 'telephone'">전화</span>
						<span ng-if="course.virtualProduct.productType === 'skype'">스카이프</span>
						<span ng-if="course.virtualProduct.productType === 'kakao'">카카오톡</span>
						<span ng-if="course.virtualProduct.productType === 'screenBoard'">화상</span>
          </td>
        </tr>
        <tr>
          <th scope="col">강사명</th>
          <td id="tu_name">{{course.mainTutor.nickName}}</td>
          <th scope="col">수업일시</th>
          <td id="lessonTime">{{lessonTime}}</td>
        </tr>
      </table>
    </div>
    <div class="appraisal">
      <dl>
        <dt>Lesson Title</dt>
        <dd id="lessonTitle">-</dd>
      </dl>
      <dl>
        <dt>Today’s Corrections</dt>
        <dd id="tutorCorrections">
          <!-- <div ng-bind-html="vm.course.lessonEvaluation.corrections">
					</div> -->
        </dd>
      </dl>
      <dl>
        <dt>Homework/Next Lesson Details</dt>
        <dd id="lessonDetails">
          <!-- <div ng-bind-html="vm.course.lessonEvaluation.corrections">
					</div> -->
        </dd>
      </dl>
      <dl>
        <dt>Tutor Feedback</dt>
        <dd id="toturFeedback">
          <!-- {{feedback.tutorFeedback}} -->
          <div ng-bind-html="feedback.tutorFeedback">
					</div>
        </dd>
      </dl>
    </div>
  </div>
</div>
