
<div class="pop pop_class_audio" style="display:block;">
	<div class="inner">
		<a href="javascript:;" class="close_pop close_pop_audio">
			<img src="/img/btn_close.png" alt="close" ng-click="ctrl.dismiss()" style="cursor:pointer" />
		</a>
		<h3>수업음원</h3>

		<div class="audio">
			<audio controls ng-src="{{recordingUrl | url}}" type="audio/mp3" />
		</div>
		<div class="btn">
			<a href="{{downloadUrl}}" download="{{originalname}}" target="_self">다운로드</a>
		</div>
	</div>
</div>
