<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>마이페이지</li>
      <li>나의 수업관리</li>
      <li>담당강사문의</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub06">
  <p>담당강사문의</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit">담당강사문의</h3>

    <div class="consult_write">

      <div class="table_list04">
          <input type="hidden" name="idx" >
          <input type="hidden" name="delim" value="consultModify">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:125px" />
              <col style="width:240px" />
              <col style="width:125px" />
              <col />
            </colgroup>
            <tr>
              <th scope="row"><label for="title">제목</label></th>
              <td colspan="3" class="left"><input type="text" name="title" id="title" ng-model="vm.consult.title"/></td>
            </tr>
            <tr>
              <th scope="row"><label for="teacher">담당강사</label></th>
              <!-- <td colspan="3" class="left">


              </td> -->
            </tr>
            <tr>
              <th scope="row"><label for="cont">내용</label></th>
              <td colspan="3" class="left">
                <div class="textarea">
                  <textarea name="content" id="content" ng-model="vm.consult.contents">content</textarea>
                </div>
              </td>
            </tr>
            <!-- <tr>
              <th scope="row"><label for="attach_file">첨부파일</label></th>
              <td colspan="3" class="left">
                <input type="file" name="" id="attach_file"/>
              </td>
            </tr> -->
        </table>
      </div>

      <div class="btn_group">
        <div class="right">
          <a ng-click="vm.edit(vm.consult._id);" href="javascript:;" class="btn_style01" >수정</a>
          <a ui-sref="mypage.consult.read({contact1x1Id:vm.consult._id})" class="btn_style01" >취소</a>
        </div>
      </div>

    </div>

  </div>
  <!-- //contents -->

</div>
