  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>마이페이지</li>
        <li>나의 수업관리</li>
        <li>담당강사문의</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub06">
    <p>담당강사문의</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">

    <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">담당강사문의</h3>
      <p class="sub_txt">수업 중 궁금한 내용을 담당강사에게 영어로 질문해주세요.</p>

      <div class="consult_list">
          <div class="search_area">
            <div class="left">
              <select ng-model="vm.searchOptions" style="width:65px;">
                <option name="title" value="title">제목</option>
                <option name="contents" value="contents">내용</option>
              </select>
              <input type="text" name="searchKeyword" ng-model="vm.searchKeyword" ng-keydown="$event.keyCode === 13 && vm.searching()"/>
              <button ng-click="vm.searching()">Search</button>
            </div>
            <div class="right">
              <a ui-sref="mypage.consult.write">글쓰기</a>
            </div>
          </div>

          <div class="table_list02">
            <table>
              <caption class="hide"></caption>
              <colgroup>
                <col style="width:65px" />
                <col style="" />
                <col style="width:100px" />
                <col style="width:100px" />
                <col style="width:120px" />
              </colgroup>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">답변상태</th>
                <th scope="col">담당강사</th>
                <th scope="col">작성일</th>
              </tr>
              <tr ng-repeat="consult in vm.consults | orderBy:'-created'">
                <td>{{(vm.totalItems - $index) - ((vm.currentPage - 1) * 5)}}</td>
                <td class="left"><a ui-sref="mypage.consult.read({contact1x1Id:consult._id})">{{consult.title}}</a></td>
                <td ng-if="consult.comments.length === 0">미완료</td>
                <td ng-if="consult.comments.length > 0">완료</td>
                <td></td>
                <td>{{consult.created | date: 'yyyy-MM-dd'}}</td>
              </tr>
            </table>
          </div>



          <div uib-pagination boundary-links="true" rotate="false" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"
            template-url="modules/core/client/templates/pagination.client.view.html"></div>
      </div>



    </div>
    <!-- //contents -->

  </div>
