  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>마이페이지</li>
        <li>나의 수업관리</li>
        <li>담당강사문의</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub06">
    <p>담당강사문의</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
    <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>

    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit noBorder">담당강사문의</h3>

      <div class="consult_view">

        <div class="table_view">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:80px;" />
              <col style="width:220px;" />
              <col style="width:80px;" />
              <col style="width:220px;" />
              <col style="width:80px;" />
              <col style="" />
            </colgroup>
            <tr>
              <th scope="row">제목 : </th>
              <td colspan="5">{{vm.consult.title}}</td>
            </tr>
            <tr>
              <td colspan="6" class="cont" ng-bind-html="vm.consult.contents">
                <br><br>
                <img src="" style="max-width: 600px">

              </td>
            </tr>
          </table>
        </div>

        <div class="teacher_reply">
          <dl>
            <dt>담당강사 답변 <span ng-if="!vm.consult.comments[0]">(대기중)</span>
              <span ng-if="vm.consult.comments[0]">({{vm.consult.comments[0].created | date: 'yyyy-MM-dd HH:mm:ss'}})</span></dt>
            <dd ng-bind-html="vm.consult.comments[0].contents">
            </dd>
          </dl>
        </div>

        <div class="btn_group">
          <div class="right">

            <a ui-sref="mypage.consult.edit({contact1x1Id:vm.consult._id})" class="btn_style01">수정</a>
            <a ng-click="vm.remove()" href="javascript:;" class="btn_style01">삭제</a>
            <a ui-sref="mypage.consult.list" class="btn_style01">목록</a>

          </div>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
