  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>마이페이지</li>
        <li>나의 수업관리</li>
        <li>담당강사문의</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub06">
    <p>담당강사문의</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
    <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">담당강사문의</h3>

      <div class="consult_write">

        <div class="table_list04">
            <input type="hidden" name="delim" value="consultWirte">
            <table>
              <caption class="hide"></caption>
              <colgroup>
                <col style="width:125px" />
                <col style="width:240px" />
                <col style="width:125px" />
                <col />
              </colgroup>
              <tr>
                <th scope="row"><label for="title">제목</label></th>
                <td colspan="3" class="left"><input type="text" name="title" id="title" ng-model="vm.consult.title" /></td>
              </tr>
              <tr>
                <th scope="row"><label for="teacher">담당강사</label></th>
                <td colspan="3" class="left">
                  <select ng-model="vm.consult.tutor">
                    <option ng-repeat="tutor in vm.tutors">
                      {{tutor.mainTutor.nickName}}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="row"><label for="content">내용</label></th>
                <td colspan="3" class="left">
                  <div class="textarea">
                    <textarea name="contents" id="content" ng-model="vm.consult.contents"></textarea>
                  </div>
                </td>
              </tr>
            </table>
        </div>

        <div class="btn_group">
          <div class="right">
            <a href="javascript:;" ng-click="vm.registration()" class="btn_style01">등록</a>
            <a ui-sref="mypage.consult.list" class="btn_style01">취소</a>
          </div>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
