<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>원스탑에듀</li>
        <li>회사소개</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub01">
    <p>회사소개</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-introduction.client.view.html'"></aside>

    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">회사소개</h3>
      <p class="sub_txt">전화영어교육의 새로운 패러다임을 제시하는 원스탑에듀 입니다.</p>

      <div class="introduction">
        <div class="img_area">
          <img src="/img/img_introduction01.jpg" alt="안녕하세요. 전화화상영어 전문업체인 원스탑에듀를 방문해주셔서 진심으로 감사합니다. 원스탑에듀는 글로벌 전문 번역회사인 원스탑코리아의 Family 기업임과 동시에 전화중국어 1등 교육업체인 우리차이나와 함께 하고 있습니다. Global 공용어인 영어를 체계적인 학습방법과 한 단계 높은 수준의 영어교육으로 회원님의 실력향상을 도와드리는 게 저희의 교육목표입니다. 원스탑에듀는 보다 나은 영어학습을 제공해드리기 위해 항상 끊임없이 노력하겠습니다."/>
        </div>
      </div>

    </div>
    <!-- //contents -->

  </div>
