  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>원스탑에듀</li>
        <li>강사시스템</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub01">
    <p>강사시스템</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-introduction.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">강사시스템</h3>
      <p class="sub_txt">
        세계적인 Recruiting Network를 통하여 강사를 선발하고,<br />
        체계적인 Training System을 도입하여 강사를 관리합니다.
      </p>

      <div class="tc_introduction">
        <div class="img_area">
          <img src="/img/img_tc_system.jpg" alt="강사채용 및 훈련 과정"/>
        </div>
      </div>

    </div>
    <!-- //contents -->
