<div id="footer">
	<div class="foot_menu">
		<ul>
			<li><a ui-sref="guide.introduction.company">회사소개</a></li>
			<li><a ui-sref="register.partner">제휴문의</a></li>
			<li><a ui-sref="mypage.course">마이페이지</a></li>
			<li><a ui-sref="privacy-policy">개인정보취급방침</a></li>
		</ul>
		<span></span>
	</div>
	<div class="inner">
		<div class="logo">
			<img src="/img/img_foot_logo.png" alt="원스탑에듀" />
		</div>
		<div class="foot_info">
			<div class="about">
				<h2>About Us</h2>
				<ul>
					<li>본점: 경기도 부천시 조마루로297번길 21 (중동) 3층19호</li>
                    <li>지점 : 서울시 종로구 삼일대로 460, 본관 5층</li>
					<li>대표: 신동철 | 상호: 주식회사 케이이십일</li>
					<li>사업자등록번호: 129-81-32383 </li>
					<li>통신판매번호: 제 2018-경기부천-2318호</li>
					<li>Copyright(c) k-21. All Right Reserved.</li>
				</ul>
			</div>
			<div class="center">
				<h2>Customer Center</h2>
				<ul>
					<li>TEL : 02-6383-8883  | HP : 010-2123-6383 </li>
					<li>카카오톡ID : 1stopedu | skype : live:esther212_2</li>
					<li>운영시간 10:00 ~ 19:00 | 월~금(공휴일제외)</li>
					<li>수업시간 06:00 ~ 24:00 | 월~금(공휴일제외)</li>
					<li>국민은행: 479037-01-017179 | 예금주: ㈜케이이십일</li>
				</ul>
			</div>
		</div>
	</div>
</div>
