<div ng-controller="HeaderController as vm">

	<div id="header" menu-slider>
		<div class="inner">
			<h1><a ui-sref="home"><img src="/img/img_logo.png" alt="원스탑에듀" /></a></h1>
			<div class="gnb">
				<ul>
					<li>
						<a ui-sref="guide.introduction.company">원스탑에듀</a>
						<div class="gnb_sub">
							<ul>
								<li><a ui-sref="guide.introduction.company">회사소개</a></li>
								<li><a ui-sref="guide.introduction.tutor.eu">강사소개</a></li>
								<li><a ui-sref="guide.introduction.tutor-system">강사시스템</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a ui-sref="guide.curriculum.total">교육과정</a>
						<div class="gnb_sub">
							<ul>
								<li><a ui-sref="guide.curriculum.total">전체과정</a></li>
								<li><a ui-sref="guide.curriculum.regular">정규회화</a></li>
								<li><a ui-sref="guide.curriculum.junior">어린이 회화</a></li>
								<li><a ui-sref="guide.curriculum.freetalking">프리토킹</a></li>
								<li><a ui-sref="guide.curriculum.business">비즈니스</a></li>
								<li><a ui-sref="guide.curriculum.interview">인터뷰</a></li>
								<li><a ui-sref="guide.curriculum.exam">시험대비</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a ui-sref="guide.course.process">수강안내</a>
						<div class="gnb_sub">
							<ul>
								<li><a ui-sref="register.course.apply">수강신청</a></li>
								<li><a ui-sref="articles.course-review.list">수강후기</a></li>
								<li><a ui-sref="guide.course.process">수강절차</a></li>
								<li><a ui-sref="guide.course.regulation">수강규정</a></li>
								<li><a ui-sref="guide.course.overseas">해외수강 안내</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a ui-sref="register.leveltest.apply">무료 체험수업</a>
						<div class="gnb_sub">
							<ul>
								<li><a ui-sref="register.leveltest.apply">무료 체험수업 신청</a></li>
								<li><a ui-sref="guide.leveltest">무료 체험수업 안내</a></li>

							</ul>
						</div>
					</li>
					<li>
						<a ui-sref="articles.notice.list">교육지원센터</a>
						<div class="gnb_sub">
							<ul>
								<li><a ui-sref="articles.notice.list">공지사항</a></li>
								<li><a ui-sref="articles.event">이벤트</a></li>
								<li><a ui-sref="articles.contact-us.list({page:1})">문의하기</a></li>
								<li><a ui-sref="articles.faq">자주하는 질문</a></li>
								<li><a ui-sref="register.partner">제휴문의</a></li>
								<li><a ui-sref="guide.program.pc">프로그램 지원</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<a href="#" class="open_mymenu"><img src="/img/btn_mymenu.png" alt=""></a>
			<div class="mymenu">
				<ul>
					<!-- log in-->
					<li ng-if="vm.auth.user"><a href="/api/logout" target="_self">로그아웃</a></li>
					<li ng-if="vm.auth.user"><a ui-sref="mypage.leveltest.list">무료 체험수업 결과</a></li>
					<li ng-if="vm.auth.user"><a ui-sref="mypage.course">마이페이지</a></li>
					<!-- log out-->
					<li ng-if="!vm.auth.user"><a ui-sref="user.signin">로그인</a></li>
					<li ng-if="!vm.auth.user"><a ui-sref="user.signup">회원가입</a></li>
					<li ng-if="!vm.auth.user"><a ng-click="vm.mypageLevel();" href="javascript:;">무료 체험수업 결과</a></li>
					<li ng-if="!vm.auth.user"><a ng-click="vm.mypageCourse();" href="javascript:;">마이페이지</a></li>
				</ul>

			</div>
		</div>
		<div class="tel_chi"><a href="http://www.urichina.com">전화중국어</a></div>
	</div>
	<!-- mobile_header -->
	<div id="m_header" class="only_mobile">
		<div id="container">
			<div class="logo">
				<a href="/"><img src="/img/img_logo.png" alt="원스탑에듀" /></a>
			</div>
			<div class="top_btn">
				<button class="open_mymenu"><img src="/img/btn_mymenu.png" alt=""></button>
			</div>
			<div class="top_chi">
				<div class="m_tel_chi"><a href="http://www.urichina.com">전화중국어</a></div>
			</div>
		</div>

	</div>
	<!-- mobile_nav_wrap -->
	<div class="m_nav_wrap only_mobile">
		<div class="left_blank" style="position:absolute;left:0;top:0;width:20%;height:100%;background-color:transparent">

		</div>
		<!-- nav_wrap_box -->
		<div class="nav_wrap_box">
			<div class="btn_area">
				<button>
					<img src="/img/m_btn_close.png">
				</button>
			</div>
			<!--logo-->
			<div class="nav_logo">
				<img src="/img/m_right_logo.png" />
			</div>
			<!-- //logo-->
			<!-- mypage -->
			<div class="m_mymenu">
				<ul>
					<!-- log in-->
					<li><a ui-sref="user.signin" id="logOut">로그아웃</a></li>
					<li><a ui-sref="mypage.course">마이페이지</a></li>

					<!-- log out-->
					<li><a ui-sref="user.signin">로그인</a></li>
					<li><a ui-sref="user.signup">회원가입</a></li>


				</ul>
			</div>
			<!-- //mypage -->

			<!-- gnb -->
			<div class="gnb_wrap">
				<ul>
					<li>
						<span ui-sref="guide.introduction.company">원스탑에듀<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></span>
						<div class="gnb_sub">
							<ul>
								<li><a ui-sref="guide.introduction.company">회사소개</a></li>
								<li><a ui-sref="guide.introduction.tutor.eu">강사소개</a></li>
								<li><a ui-sref="guide.introduction.tutor-system">강사시스템</a></li>
							</ul>
						</div>
					</li>
					<li>
						<span ui-sref="guide.curriculum.total">교육과정<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></span>
						<div class="gnb_sub">
							<ul>
								<li><a ui-sref="guide.curriculum.total">전체과정</a></li>
								<li><a ui-sref="guide.curriculum.regular">정규회화</a></li>
								<li><a ui-sref="guide.curriculum.junior">어린이 회화</a></li>
								<li><a ui-sref="guide.curriculum.freetalking">프리토킹</a></li>
								<li><a ui-sref="guide.curriculum.business">비즈니스</a></li>
								<li><a ui-sref="guide.curriculum.interview">인터뷰</a></li>
								<li><a ui-sref="guide.curriculum.exam">시험대비</a></li>
							</ul>
						</div>
					</li>
					<li>
						<span ui-sref="guide.course.process">수강안내<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></span>
						<div class="gnb_sub">
							<ul>
								<li><a ui-sref="register.course.apply">수강신청</a></li>
								<li><a ui-sref="articles.course-review.list">수강후기</a></li>
								<li><a ui-sref="guide.course.process">수강절차</a></li>
								<li><a ui-sref="guide.course.regulation">수강규정</a></li>
								<li><a ui-sref="guide.course.overseas">해외수강 안내</a></li>
							</ul>
						</div>
					</li>
					<li>
						<span ui-sref="register.leveltest.apply">무료 체험수업<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></span>
						<div class="gnb_sub">
							<ul>
								<li><a ui-sref="register.leveltest.apply">무료 체험수업 신청</a></li>
								<li><a ui-sref="guide.leveltest">무료 체험수업 안내</a></li>
							</ul>
						</div>
					</li>
					<li>
						<span ui-sref="articles.notice.list">교육지원센터<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></span>
						<div class="gnb_sub">
							<ul>
								<li><a ui-sref="articles.notice.list">공지사항</a></li>
								<li><a ui-sref="articles.event">이벤트</a></li>
								<li><a ui-sref="articles.contact-us.list({page:1})">문의하기</a></li>
								<li><a ui-sref="articles.faq">자주하는 질문</a></li>
								<li><a ui-sref="register.partner">제휴문의</a></li>
								<li><a ui-sref="guide.program.pc">프로그램 지원</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<!-- //gnb -->
			<!-- level -->
			<div class="level_menu">
				<ul>
					<li>
						<a ui-sref="register.leveltest.apply">무료 체험수업 신청</a>
					</li>
				</ul>
			</div>
			<!-- //level -->
		</div>
		<!-- //nav_wrap_box -->
	</div>

	<div class="small_event only_web" style="bottom:40px;">
		<button>
			<img src="/img/1907_close.png">
		</button>
		<a href="/onestopedu/support/event.view.html?idx=18" class="only_web">
			<img src="/img/1908_small.png" alt="" class="only_web">
		</a>
	</div>

	</div>
