<div ng-controller="HomeController as vm">
	<div class="main_visual only_web">
		<ul>
			<li class="act">
				<a class="item" ui-sref="articles.event.list"  style="background-image:url(/img/event/edu_1908_roll.jpg);" title="평범한 나도 할 수 있는! 특별한 ENGLISH!">
					<img src="/img/event/1908_right.png" class="actRight" alt=""/>
					<img src="/img/event/1908_text.png" class="actText" alt=""/>
					<img src="/img/event/1908_right_cy.png" class="actCy" alt=""/>
					<img src="/img/event/1908_right_smallCy.png" class="actSmCy" alt=""/>
					<img src="/img/event/1908_right_bigcy.png" class="actBigCy" alt=""/>
					<img src="/img/event/1908_right_star.png" class="actStar" alt=""/>
				</a>
			</li>
			<li>
				<a class="item" ui-sref="register.leveltest.apply" style="background-image:url(/img/event/1812_roll_1.jpg);cursor:default"  title="우리아이 기초영어가 10년 후를 결정합니다" >
				</a>
			</li>
			<li>
				<a class="item" ui-sref="register.leveltest.apply" style="background-image:url(/img/event/1812_roll_2.jpg);cursor:default" alt="프리미엄 원어민 강사진">
				</a>
			</li>
		</ul>
	</div>
	<!-- <div class="mobile_visual only_mobile">
		<ul>
			<li>
				<a ui-sref="articles.event.list">
					<img class="item" src="/img/event/edu_1908_m_roll.jpg" alt="평범한 나도 할 수 있는! 특별한 ENGLISH!">
				</a>
			</li>
			<li>
				<a ui-sref="register.leveltest.apply">
					<img class="item" src="/img/1812_m_roll_1.png" alt="우리아이 기초영어가 10년 후를 결정합니다" >
				</a>
			</li>
			<li>
				<a ui-sref="register.leveltest.apply">
					<img class="item" src="/img/1812_m_roll_2.png" alt="프리미엄 원어민 강사진" >
				</a>
			</li>
		</ul>
	</div> -->
	<!-- main_onstop -->
	<div class="main_onstop">
		<div class="inner">
			<h2 class="main_h2_tit"><strong>English Speaking</strong> 원스탑에듀로!</h2>
			<div class="list">
				<ul>
					<li class="main_onstop_list01">
						<a ui-sref="register.leveltest.apply" class="img">무료 체험수업 신청</a>
						<p>
								필리핀, 유럽, 미주 강사 택1<br/>
								전화, 스카이프, 화상칠판 택1
						</p>
					</li>
					<li class="main_onstop_list02">
						<a ui-sref="guide.curriculum.total" class="img">교육과정</a>
						<p>
								일대일 맞춤 영어회화<br/>
								왕초보부터 어린이영어까지
						</p>
					</li>
					<li class="main_onstop_list03">
						<a ui-sref="register.course.apply" class="img">수강신청</a>
						<p>
								내가 선택한 강사와 <br/>
								원하는 시간으로 수강신청!
						</p>
					</li>
					<li class="main_onstop_list04">
						<a ui-sref="mypage.course" class="img">마이페이지</a>
						<p>
								자세한 일일 코멘트!<br/>
								나의 학습현황 체크!
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- main_curriculum2 -->
	<div class="main_curriculum2">
		<div class="inner">
			<h2 class="main_h2_tit">원스탑에듀의 세분화되고 체계적인 <strong>커리큘럼</strong></h2>
			<p>
			 어린이부터 직장인까지! <strong>전화. 화상영어 전문 강사진</strong>과 함께하는 레벨별 맞춤 커리큘럼!
			</p>
			<div class="list">
				<ul>
					<li>
						<a ui-sref="guide.curriculum.regular">
							<h3>[ 정규회화 ]</h3>
							<div class="img">
								<img src="/img/img_main_curriculum01.jpg" alt="">
								<div class="hover">
									<!-- 영어를 처음 시작하시는 분부터 고급영어까지, 다양한 방법으로 체계적인 학습을 원하시는 분들께 추천하는 과정 -->
									입문 영어에서 고급 영어회화까지,<br/> 체계적이고 다양한 학습을 원하시는 분들께<br/> 추천하는 과정
								</div>
							</div>
						</a>
					</li>
					<li>
						<a ui-sref="guide.curriculum.junior" target="_top">
							<h3>[ 어린이 회화 ]</h3>
							<div class="img">
								<img src="/img/img_main_curriculum02.jpg" alt="">
								<div class="hover">
									그림, 노래 등 다양한 학습자료를 통해<br/> 아이의 말문을 여는 1:1 맞춤<br/>어린이 화상영어 회화 과정
								</div>
							</div>
						</a>
					</li>
					<li>
						<a ui-sref="guide.curriculum.freetalking" target="_top">
							<h3>[ 프리토킹 ]</h3>
							<div class="img">
								<img src="/img/img_main_curriculum03.jpg" alt="">
								<div class="hover">
									다양한 주제에 대한 생각을 영어로 표현하고,<br/> 원어민 표현을 익히고 싶은 분께 추천하는<br/> 영어 프리토킹 과정
								</div>
							</div>
						</a>
					</li>
					<li>
						<a ui-sref="guide.curriculum.business" target="_top">
							<h3>[ 비즈니스 회화 ]</h3>
							<div class="img">
								<img src="/img/img_main_curriculum04.jpg" alt="">
								<div class="hover">
									취업과 업무 수행을 위해 필요한,<br/> 실용 비즈니스 영어를 배울 수 있는 과정
								</div>
							</div>
						</a>
					</li>
					<li>
						<a ui-sref="guide.curriculum.interview" target="_top">
							<h3>[ 인터뷰/면접 대비 ]</h3>
							<div class="img">
								<img src="/img/img_main_curriculum05.jpg" alt="">
								<div class="hover">
									시험, 이직, 유학 등 영어 인터뷰에 필요한<br/> 표현을 익히고 실전 영어면접에<br/> 대비할 수 있는 과정
								</div>
							</div>
						</a>
					</li>
					<li>
						<a ui-sref="guide.curriculum.exam" target="_top">
							<h3>[ 시험대비 ]</h3>
							<div class="img">
								<img src="/img/img_main_curriculum06.jpg" alt="">
								<div class="hover">
									OPIC/ 토플/ 토익 스피킹/ SAT 등<br/> 영어 스피킹 시험을 각 유형에 맞게<br/> 준비할 수 있는 과정
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- main_advantage -->
	<div class="main_advantage">
		<div class="inner">
			<h2 class="main_h2_tit">원스탑에듀만의 차별화된 <strong>4가지 특장점</strong></h2>
			<div class="img ">
				<img src="/img/img_mainadvantage.png" alt="세분화된 커리큘럼 / 체계적인 학습 시스템 / 경험많고 검증된 원어민 선발 / 맞춤형 회원 관리 프로세스">
			</div>
			<div class="m_advantage ">
				<ul>
					<li>
						<div>
							<span>01</span>
						</div>
						<p>
							세분화된<br/>
							커리큘럼
						</p>
					</li>
					<li>
						<div>
							<span>02</span>
						</div>
						<p>
							체계적인<br/>
							학습 시스템
						</p>
					</li>
					<li>
						<div>
							<span>03</span>
						</div>
						<p>
							경험많고 검증된<br/>
							원어민 선발
						</p>
					</li>
					<li>
						<div>
							<span>04</span>
						</div>
						<p>
							맞춤형 회원관리<br/>
							프로세스
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- main_edu -->
	<div class="main_edu">
		<div class="inner">
			<h2 class="main_h2_tit">원스탑에듀의 <strong>수업은!?</strong></h2>
			<p>원스탑에듀 회원들의 Sample 수업을 확인해보세요.</p>
			<div class="list">
				<ul>
					<li>
						<a href="pop_class_audio" class="main_edu_list01 open_pop">
							<strong>전화영어</strong>
							<p>Sample 음원</p>
						</a>
					</li>
					<li>
						<a href="pop_sampleSkype" class="main_edu_list02 open_pop">
							<strong>스카이프 영어</strong>
							<p>Sample 영상</p>
						</a>
					</li>
					<li>
						<a href="pop_sampleBoard" class="main_edu_list03 open_pop">
							<strong>화상영어</strong>
							<p>Sample 영상</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- main_classreview -->
	<div class="main_classreview">
		<div class="inner">
			<h2 class="main_h2_tit">원스탑에듀 <strong>회원님들의 수강후기</strong></h2>
			<div class="review_box only_web">
				<a class="sPrev" href="javascript:void(0)"></a>
				<ul>
					<li ng-repeat = "homeCourserReview in vm.homeCourserReviews | limitTo : 3">
						<a ui-sref="articles.course-review.read({courseReviewId:homeCourserReview._id})">
							<div class='pic'>
								<div class='slideGroup-content'>
									<p class='dou'></p>
									<p class='orange'>{{homeCourserReview.title | letterCount}}</p>
									<p class='gray'>{{homeCourserReview.contents | contentsCount}}</p>
									<p class='gray-two'>{{homeCourserReview.user.koreanName | nameMasking}}</p>
								</div>
							</div>
						</a>
					</li>
				</ul>
				<a class="sNext" href="javascript:void(0)"></a>
				<div class="btn_more">
					<a ui-sref="articles.course-review.list" href="javascript:;">수강후기 더보기</a>
				</div>
			</div>

		</div>
		<div class="only_mobile m_review_box">
			<a class="sPrev" href="javascript:void(0)"></a>
			<ul>
				<li>
					<a ui-sref="articles.course-review.read({courseReviewId:homeCourserReview._id})">
						<div class='pic'>
							<div class='slideGroup-content'>
								<p class='dou'></p>
								<p class='orange'>제목</p>
								<p class='gray'>내용</p>
								<p class='gray-two'>이름</p>
							</div>
						</div>
					</a>
				</li>
			</ul>
			<a class="sNext" href="javascript:void(0)"></a>
			<div class="btn_more">
				<a ui-sref="articles.course-review.list">수강후기 더보기</a>
			</div>
		</div>
	</div>

	<div class="main_notice">
		<div class="inner">
			<div class="banner">
				<ul>
					<li>
						<a ui-sref="articles.event.list">
							<h2>원스탑에듀 이벤트</h2>
							<div>
								<img src="/img/main_notice_ban_1.png" alt="이벤트"/>
								<!-- <img src="/img/main_notice_ban_1.png" alt="이벤트"/> -->
							</div>
							<span>
								<!-- 이벤트 바로가기 <img src="/img/main_notice_btn_w.png" /> -->
								이벤트 바로가기 <img src="/img/main_notice_btn_w.png" />
							</span>
						</a>
					</li>
					<li>
						<a href="http://blog.naver.com/1stopedu" target="_blank">
							<h2>네이버 블로그</h2>
							<div>
								<img src="/img/main_notice_ban_2.png" alt="네이버 블로그"/>
							</div>
							<span>
								원스탑에듀 공식블로그 <img src="/img/main_notice_btn_w.png" />
							</span>
						</a>
					</li>
					<li>
							<h2>입금계좌번호</h2>
							<p>
								국민은행<br/>
								479037-01-017179<br/>
								㈜ 케이이십일

							</p>
					</li>
					<li>
						<a href="http://skype.daesung.com/download/downloadMain.asp" target="_blank">
							<h2>Skype 설치</h2>
							<div>
								<img src="/img/main_notice_ban_4.png" alt="스카이프 설치"/>
							</div>
							<span>
								이벤트 바로가기 <img src="/img/main_notice_btn_b.png" />
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="notice_wrap">
				<div class="notice only_web">
					<h2>
						<span>공지사항</span>
						<a ui-sref="articles.notice.list" target="_top" class="more"><img src="/img/btn_more.png" alt="공지사항 더보기"></a>
					</h2>

					<div class="list">
						<ul>
							<li ng-repeat="homeNotice in vm.homeNotices | orderBy:'-created' | limitTo : 4">
								<a ui-sref="articles.notice.read({noticeId:homeNotice._id})" href="javascript:;">{{homeNotice.title}}</a>
								<span class="date">{{homeNotice.created | date: 'yyyy-MM-dd'}}</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="center">
					<h2>교육지원센터</h2>
					<ul>
						<li>
							<strong>전화상담_ <b><a href="tel:02-6383-8883" target="_blank">02-6383-8883</a></b> /
																							 <a href="tel:010-2123-6383" target="_blank"><b>010-2123-6383</b></a
							</strong><br />
							월 ~ 금 09:00 ~ 19:00
							<span style="line-height: 26px"> (점심시간 12:00 ~ 13:00)</span>
						</li>
						<li>
							<strong>카카오ID_ </strong>1stopedu
						</li>
						<li>
							<strong>이메일_</strong> <a href="mailto:1stopedu@naver.com" target="_blank">1stopedu@naver.com </a>
						</li>
						<li>
							<strong>스카이프_</strong> live:esther212_2
						</li>
					</ul>
				</div>
			</div>

		</div>
		</div>
	</div>
