
  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>개인정보 취급방침</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <div class="inner">

    <!-- contents -->
    <div id="contents" class="wide" style="margin-top:0;">

      <div class="info_pesonal">
        <h3>개인정보 취급방침</h3>
        <div class="txt">
          <h2 style="font-size:20px;">개인정보 수집 및 이용약관</h2><br>

          01. 개인정보의 수집목적 및 이용<br><br>

          회원님 개인의 정보를 수집하는 목적은 www.1stopedu.co.kr 사이트를 통하여 회원님께 최적의 맞춤화된 서비스를 제공해드리기 위한 것입니다.
          www.1stopedu.co.kr 은 각종의 컨텐츠를 무료로 서비스해 드리고 있습니다. 이때 회원님께서 제공해주신 개인정보를 바탕으로 회원님께 보다 더 유용한 정보를 선택적으로 제공하는 것이 가능하게 됩니다. www.1stopedu.co.kr 은 무료로 서비스를 제공하기 위해서 광고를 게재할 수 있으며, 몇몇 유료서비스에서 개인을 구분하기 위하여 사용되어 집니다.<br> <br>

          02. 수집하는 개인정보 항목 및 수집방법<br><br>

          www.1stopedu.co.kr 은 최초 회원가입을 하실 때 서비스 제공을 위해 가장 필수적인 개인정보를 받고 있습니다.
          회원가입 시에 받는 정보는 회원님의 이름, 성별, 생년월일, 학교 또는 학력, 직업, 결혼여부, 우편번호, 주소 등 입니다.
          이 이외에 보다 양질의 정보를 제공하기 위하여 핸드폰번호, Email 등을 추가로 요청하고 있습니다.
          또한 설문조사나 이벤트 시에 집단적인 통계분석을 위해서나 경품발송을 위한 목적으로도 개인정보 기재를 요청할 수 있습니다 기입하신 정보는 해당서비스 제공이나 회원님께 사전에 밝힌 목적 이외의 다른 어떠한 목적으로도 사용되지 않음을 알려드립니다.<br><br>

          03. 개인정보의 보유 및 폐기<br><br>

          귀하가 www.1stopedu.co.kr 의 회원으로서 www.1stopedu.co.kr 이 제공하는 서비스를 받는 동안 회원님의 개인정보는 www.1stopedu.co.kr 에서 계속 보유하며 서비스 제공을 위해 이용하게 됩니다.
          다만 www.1stopedu.co.kr 의 회원이 아래의 '7. 자신의 개인정보 열람, 정정 및 삭제'에서 설명한 절차에 따라 ID를 삭제하거나 가입해지를 요청한 경우와 회원님께 사전에 알려드린 개인정보를 제공받은 목적이 달성된 경우에 수집된 개인의 정보는 재생할 수 없는 방법에 의하여 하드디스크에서 완전히 삭제되며 어떠한 용도로도 열람 또는 이용할 수 없도록 처리됩니다.<br><br>

          04. 개인정보의 제공 및 공유<br><br>

          원칙적으로 www.1stopedu.co.kr 은 회원님의 개인정보를 타인 또는 타기업•기관에 공개하지 않습니다. 다만 회원님이 공개에 동의한 경우 또는 www.1stopedu.co.kr 의 서비스를 이용하여 타인에게 법적인 피해를 주거나 미풍양속을 해치는 행위를 한 사람 등에게 법적인 조치를 취하기 위하여 개인정보를 공개해야 한다고 판단되는 충분한 근거가 있는 경우는 예외로 합니다.<br><br>
          이 경우에도 개인에게는 제공되지 않으며 규정된 절차에 따라서 수사기관에만 제공할 수 있습니다.
          www.1stopedu.co.kr 은 개인별 맞춤 서비스 등 보다 나은 서비스 제공을 위해 회원님의 개인정보를 비즈니스 파트너와 공유할 수 있습니다.
          이 경우에도 정보수집 또는 정보제공 이전에 회원님께 비즈니스 파트너가 누구인지, 어떤 정보가 왜 필요한지, 그리고 언제까지 어떻게 보호/관리되는지 알려드리고 동의를 구하는 절차를 거치게 되며, 회원님께서 동의하지 않는 경우에는 추가적인 정보를 수집하거나 비즈니스 파트너와 공유하지 않습니다.
          성별, 연령별 기타 특정 조건의 집단에 대한 광고 게재 및 발송 시(예, 20대 여자)에도 회원님 개인의 정보는 광고를 의뢰한 개인이나 단체에 제공되지 않습니다. 기타 통계처리, 학술연구, 시장조사를 위하여 필요한 경우에는 특정한 개인을 식별할 수 없는 형태로만 정보가 제공됩니다.<br><br>

          05. 쿠키(cookie)의 운용 및 활용<br><br>

          회원님 개개인에게 개인화되고(personalized) 맞춤화된(customized) 서비스를 제공하기 위해서 www.1stopedu.co.kr 은 회원님의 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키는 웹사이트를 운영하는데 이용되는 서버가 사용자의 브라우저에게 보내는 조그마한 데이터 꾸러미로 회원님 컴퓨터의 하드디스크에 저장됩니다. 회원님께서 www.1stopedu.co.kr 에 접속한 후 로그인(log-in)하여 개인화된 서비스와 같이 맞춤화된 서비스를 이용하시기 위해서는 쿠키를 허용하여야 합니다.www.1stopedu.co.kr 은 회원님께 적합하고 보다 유용한 서비스를 제공하기 위해서 쿠키를 이용하여 회원님의 아이디에 대한 정보를 찾아냅니다.<br><br>

          06. 개인정보보호를 위한 기술적/제도적 관리<br><br>

          회원님의 개인정보는 비밀번호에 의해 보호되고 있습니다. 회원님 계정의 비밀번호는 오직 본인만이 알 수 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다. 따라서 회원님의 비밀번호는 누구에게도 알려주면 안됩니다. 또한 작업을 마치신 후에는 로그아웃(log-out)하시고 웹브라우저를 종료하는 것이 바람직합니다. 특히 다른 사람과 컴퓨터를 공유하여 사용하거나 공공장소에서 이용한 경우 개인정보가 다른 사람에게 알려지는 것을 막기 위해서 이와 같은 절차가 더욱 필요하다고 하겠습니다. <br><br>

          07. 자신의 개인정보 열람, 정정 및 삭제<br><br>

          회원님은 언제든지 등록되어 있는 회원님의 개인정보를 열람하거나 정정하실 수 있으며, 아이디(ID) 삭제를 요청하실 수 있습니다. 회원님 개인 정보의 열람 및 정정은 www.1stopedu.co.kr 이용자정보관리에서 하실 수 있으며, 아이디 삭제는 로그인후 고객센터에서 신청하실 수 있습니다. 개인정보와 관련하여 불만이나 의견이 있으신 분은 개인정보 관리담당자에게 메일 (young@k21inc.com) 또는 전화(02-6383-8883)로 의견을 주시면 접수 즉시 조치하고 처리결과를 통보해 드리겠습니다. <br><br>

          ▶ 개인정보 관리책임자 <br>
          •	이 름 : 신동철<br>
          •	직 위 : 대표 <br>
          •	전 화 : 02-6383-8883<br>
          •	E-Mail : info@k21inc.com<br>
        </div>
      </div>

    </div>
    <!-- //contents -->

  </div>
