<div id="snb">
	<h2>마이페이지</h2>
	<ul>
		<li>
			<a ui-sref="mypage.course" >나의 수업관리</a>
			<ul>
				<li><a ui-sref-active="on" ui-sref="mypage.course" >수강현황</a></li>
				<li><a ui-sref-active="on" ui-sref="mypage.evaluation.list" >월별평가</a></li>
				<li><a ui-sref-active="on" ui-sref="mypage.leveltest.list">무료 체험수업 결과</a></li>
				<li><a ui-sref-active="on" ui-sref="mypage.consult.list" >담당강사문의</a></li>
				<li><a ui-sref-active="on" ui-sref="mypage.payment">결제내역</a></li>
			</ul>
		</li>
		<li>
			<a ui-sref="mypage.member.modify" >내정보관리</a>
			<ul>
				<li><a ui-sref-active="on" ui-sref="mypage.member.modify" >정보수정</a></li>
				<li><a ui-sref-active="on" ui-sref="mypage.point">포인트내역</a></li>
				<li><a ui-sref-active="on" ui-sref="mypage.coupon">쿠폰내역</a></li>
				<li><a ui-sref-active="on" ui-sref="mypage.member.withdrawal">회원탈퇴</a></li>
			</ul>
		</li>
	</ul>
  <a href="./screen_p.html" class="btn_screen">화상강의</a>
