<div id="snb">
  <h2>수강안내</h2>
  <ul>
    <li><a ui-sref-active="on" ui-sref="register.course.apply">수강신청</a></li>
    <li><a ui-sref-active="on" ui-sref="articles.course-review.list">수강후기</a></li>
    <li><a ui-sref-active="on" ui-sref="guide.course.process">수강절차</a></li>
    <li><a ui-sref-active="on" ui-sref="guide.course.regulation">수강규정</a></li>
    <li><a ui-sref-active="on" ui-sref="guide.course.overseas">해외수강 안내</a></li>
  </ul>
</div>
