<div id="snb">
	<h2>교육지원센터</h2>
	<ul>
		<li><a ui-sref-active="on" ui-sref="articles.notice.list">공지사항</a></li>
		<li><a ui-sref-active="on" ui-sref="articles.event">이벤트</a></li>
		<li><a ui-sref-active="on" ui-sref="articles.contact-us.list({page:1})">문의하기</a></li>
		<li><a ui-sref-active="on" ui-sref="articles.faq">자주하는 질문</a></li>
		<li><a ui-sref-active="on" ui-sref="register.partner">제휴문의</a></li>
		<li><a ui-sref-active="on" ui-sref="guide.program.pc">프로그램 지원</a></li>
	</ul>
</div>
