<div id="snb">
	<h2>원스탑에듀</h2>
	<ul>
		<li><a ui-sref-active="on" ui-sref="guide.introduction.company" id="snb_list01_01">회사소개</a></li>
		<li><a ui-sref-active="on" ui-sref="guide.introduction.tutor.eu" id="snb_list01_02">강사소개</a></li>
		<li><a ui-sref-active="on" ui-sref="guide.introduction.tutor-system" id="snb_list01_03">강사시스템</a></li>
	</ul>
</div>
