<div id="snb">
  <h2>교육과정</h2>
  <ul>
    <li><a ui-sref-active="on" ui-sref="guide.curriculum.total">전체과정</a></li>
    <li><a ui-sref-active="on" ui-sref="guide.curriculum.regular" >정규회화</a></li>
    <li><a ui-sref-active="on" ui-sref="guide.curriculum.junior">어린이 회화</a></li>
    <li><a ui-sref-active="on" ui-sref="guide.curriculum.freetalking" >프리토킹</a></li>
    <li><a ui-sref-active="on" ui-sref="guide.curriculum.business" >비즈니스</a></li>
    <li><a ui-sref-active="on" ui-sref="guide.curriculum.interview">인터뷰</a></li>
    <li><a ui-sref-active="on" ui-sref="guide.curriculum.exam" >시험대비</a></li>
  </ul>
</div>
