<div id="snb">
	<h2>무료 체험수업</h2>
	<ul>
		<li><a ui-sref-active="on" ui-sref="register.leveltest.apply">무료 체험수업 신청</a></li>
		<li><a ui-sref-active="on" ui-sref="guide.leveltest">무료 체험수업 안내</a></li>
	</ul>
</div>
