  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육지원센터</li>
        <li>제휴문의</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub05">
    <p>제휴문의</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">

    <aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">제휴문의</h3>

      <div class="request">
        <form name="vm.form.partnerForm" novalidate autocomplete="off" method="post">
          <p class="txt">
            <strong>최고의 기업교육 PARTNER! 원스탑에듀와 함께 하세요.</strong>
            원스탑에듀는 1:1 온라인 교육 전문업체로 전화 영어, 전화 중국어 교육 지원이 가능합니다.<br />
            성공 파트너 원스탑에듀와 제휴를 원하시면 문의바랍니다.
          </p>

          <div class="section">
            <div class="table_write">
              <table>
                <caption class="hide"></caption>
                <colgroup>
                  <col style="width:95px">
                  <col style="width:200px">
                  <col style="width:95px">
                  <col>
                </colgroup>
                <tr class="form-group" show-errors>
                  <th scope="row"><label for="company">회사명<span class="star">*</span></label></th>
                  <td colspan="3">
                    <input type="text" id="company" name="company" ng-model="vm.partner.company" class="form-control help-block error-input" placeholder="회사명을 입력해주세요." required>
                    <div class="chk" ng-messages="vm.form.partnerForm.company.$error" role="alert">
                      <p ng-message="required" class="help-block error-text">필수입력 사항입니다</p>
                    </div>
                  </td>
                </tr>
                <tr class="form-group" show-errors>
                  <th scope="row"><label for="partnerName">담당자명<span class="star">*</span></label></th>
                  <td colspan="3">
                    <input type="text" id="partnerName" name="partnerName" ng-model="vm.partner.partnerName" class="form-control help-block error-input" placeholder="담당자명을 입력해주세요." lowercase required>
                    <div class="chk" ng-messages="vm.form.partnerForm.partnerName.$error" role="alert">
                      <p ng-message="required" class="help-block error-text">필수입력 사항입니다</p>
                    </div>
                  </td>
                </tr>
                <tr class="form-group" show-errors>
                  <th scope="row"><label for="mobile">연락처<span class="star">*</span></label></th>
                  <td colspan="3">
                    <input type="text" id="mobile" name="mobile" ng-model="vm.partner.mobile" only-number class="form-control help-block error-input" placeholder="연락처를 입력해주세요." required>
                    <div class="chk" ng-messages="vm.form.partnerForm.mobile.$error" role="alert">
                      <p ng-message="required" class="help-block error-text">필수입력 사항입니다</p>
                    </div>
                  </td>
                </tr>
                <tr class="form-group" show-errors>
                  <th scope="row"><label for="relationerEmailId">이메일<span class="star">*</span></label></th>
                  <td colspan="3">
                    <input type="text" id="relationerEmailId" name="relationerEmailId" ng-model="vm.relationerEmailId" class="form-control help-block error-input" style="width:115px" required> @
                    <input type="text" id="relationerEmailUrl" name="relationerEmailUrl" ng-model="vm.relationerEmailUrl" style="width:115px" ng-class="{'error-box': !vm.relationerEmailUrl && vm.isPartnerClick}">
                    <select name="choiceEmail" id="choiceEmail" ng-change="vm.emailUrl()" ng-model="vm.choiceEmail">
                      <option value="" selected>직접 입력</option>
                      <option value="naver.com">naver.com</option>
                      <option value="hanmail.net">hanmail.net</option>
                      <option value="daum.net">daum.net</option>
                      <option value="nate.com">nate.com</option>
                      <option value="gmail.com">gmail.com</option>
                      <option value="hotmail.com">hotmail.com</option>
                    </select>
                    <div class="chk" ng-messages="vm.form.partnerForm.relationerEmailId.$error" role="alert">
                      <p ng-message="required" class="help-block error-text">필수입력 사항입니다</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row" colspan="4"><label>문의내용<span class="star">*</span></label>
                  </th>
                </tr>
                <tr class="form-group" show-errors>
                  <td colspan="4">
                    <div class="textarea">
                      <textarea name="contents" ng-model="vm.partner.contents" required></textarea>
                    </div>
                      <div class="chk" ng-messages="vm.form.partnerForm.contents.$error" role="alert" style="margin:-173px 0 0 75px; position:relative;">
                        <p ng-message="required" class="help-block error-text">필수입력 사항입니다</p>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <div class="agree_tit"> 개인정보 수집 및 이용약관</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="4" class="agree">
                    <input type="checkbox" name="termPersonal" id="termPersonal" ng-model="vm.termPersonal">
                    <label for="termPersonal">개인정보 취급방침 동의</label>
                  </td>
                </tr>
                <tr>
                  <td colspan="4"">
                          <div class=" textarea" style="overflow: auto; height:130px" ng-include="'/modules/user/client/views/termsinfo/personal.html'">
            </div>
            </td>
            </tr>
            <tr>
              <td colspan="4">
                <div id="capcha"></div>
                <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
                          </script> -->
              </td>
            </tr>
            </table>
          </div>
      </div>

      <div class="btn">
        <a href="#" ng-click="vm.partnership(vm.form.partnerForm.$valid)" scroll-top>문의하기</a>
      </div>

      </form>
    </div>

  </div>
  <!-- //contents -->

  </div>
