<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>마이페이지</li>
      <li>나의 수업관리</li>
      <li>월별평가</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub06">
  <p>월별평가</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit">월별평가</h3>

    <div class="mo_evaluation_list">

      <div class="table_list04">
        <table>
          <caption class="hide"></caption>
          <colgroup>
            <col style="width:60px;">
            <col style="width:200px">
            <col style="width:120px;">
            <col style="width:100px;">
            <col style="width:105px;">
          </colgroup>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">수업구분</th>
            <th scope="col">강사명</th>
            <th scope="col">평가기간 (월)</th>
            <th scope="col">평가서 보기</th>
          </tr>
          <tr ng-repeat="evaluation in vm.evaluations | limitTo: 5 | orderBy:'-abled'" ng-if="evaluation.state==='completed'">
            <td>{{(vm.totalItems - $index) - ((vm.currentPage - 1) * 5)}}</td>
            <td>
              {{evaluation.course.payment.paymentedProduct.month}}개월
              주 {{evaluation.course.payment.paymentedProduct.times}}회
              {{evaluation.course.payment.paymentedProduct.minutes}}분
              <label ng-if="evaluation.course.productType === 'telephone' || evaluation.course.productType === '전화'">전화</label>
              <label ng-if="evaluation.course.productType === 'skype' || evaluation.course.productType === '스카이프'">스카이프</label>
              <label ng-if="evaluation.course.productType === 'screenBoard' || evaluation.course.productType === '화상칠판'">화상칠판</label>
            </td>
            <td class="capital">{{evaluation.tutors[0].nickName}}</td>
            <td>{{evaluation.abled | date: 'yyyy-MM'}}</td>
            <td><a ui-sref="mypage.evaluation.list.read({monthlyId: evaluation._id})" class="btn">보기</a></td>
          </tr>
        </table>
      </div>

      <div uib-pagination boundary-links="true" rotate="false" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" template-url="modules/core/client/templates/pagination.client.view.html"></div>

      <!-- 보기 클릭시 노출 -->
      <div ui-view class="fadeIn"></div>
      <!-- //보기 클릭시 노출 -->

    </div>

  </div>
  <!-- //contents -->

</div>
