<!-- 보기 클릭시 노출 -->
<div class="evaluation_list" >
  <div class="inner">
    <div class="table_list04" style="padding-bottom:40px;">
      <table>
        <caption class="hide"></caption>
        <colgroup>
          <col style="width:25%">
          <col style="width:25%">
          <col style="width:25%">
          <col style="width:25%">
        </colgroup>
        <tr>
          <th scope="col">수업 구분</th>
          <th scope="col">강사님</th>
          <th scope="col">수업 시작일</th>
          <th scope="col">수업 종료일</th>
        </tr>
        <tr>
          <td>{{vm.courseInfo(vm.evaluation.course)}}</td>
          <td class="capital">{{vm.evaluation.tutors[0].nickName}}</td>
          <td>{{vm.evaluation.started| date: 'yyyy-MM-dd'}}</td>
          <td>{{vm.evaluation.ended | date: 'yyyy-MM-dd'}}</td>
        </tr>
      </table>
    </div>

    <div class="left">
      <div class="graph">
        <div class="chart-container">
          <canvas class="chart chart-radar" chart-options="vm.chartOptions" chart-data="vm.chartData" chart-colors="vm.datasets" chart-labels="vm.labels" width="248" height="248"></canvas>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="table_list04">
        <table>
          <caption class="hide"></caption>
          <colgroup>
            <col style="width:33.33%">
            <col style="width:66.66%">
          </colgroup>
          <tr>
            <th scope="col">항목</th>
            <th scope="col">강사님 Comment</th>
          </tr>
          <tr>
            <td>Strengths</td>
            <td class="left">
              <div class="comment">
                {{vm.evaluation.evaluation.strengths}}
              </div>
            </td>
          </tr>
          <tr>
            <td>Weeknesses</td>
            <td class="left">
              <div class="comment">
                {{vm.evaluation.evaluation.weeknesses}}
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="clear">
      <dl>
        <dt>General Comment</dt>
        <dd>
          {{vm.evaluation.evaluation.generalComment}}
        </dd>
      </dl>
    </div>
  </div>

</div>
<!-- //보기 클릭시 노출 -->
