<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육지원센터</li>
        <li>공지사항</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub05">
    <p>공지사항</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>

    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">공지사항</h3>

      <div class="notice_list">
        <div class="search_area" style="padding-top:0;">
          <div class="left">
            <select ng-model="vm.searchOptions" style="width:65px;">
              <option name="title" value="title">제목</option>
              <option name="contents" value="contents">내용</option>
            </select>
            <input type="text" name="searchKeyword" ng-model="vm.searchKeyword" ng-keydown="$event.keyCode === 13 && vm.searching()"/>
            <button ng-click="vm.searching()">Search</button>
          </div>
        </div>

        <div class="table_list02">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:65px" />
              <col style="" />
              <col style="width:200px" />

              <col style="width:80px" />
            </colgroup>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">제목</th>

              <th scope="col">작성일</th>
              <th scope="col">조회</th>
            </tr>

            <tr ng-repeat="noticeTop in vm.noticeTops | orderBy:'-counters'">
              <td>{{noticeTop.counters}}</td>
              <td class="left"><a ui-sref="articles.notice.read({noticeId:noticeTop._id})" href="javascript:;"><label>< 공지 ></label>{{noticeTop.title}}</a></td>
              <td>{{noticeTop.created | date: 'yyyy-MM-dd'}}</td>
              <td>{{noticeTop.views}}</td>
            </tr>


            <tr ng-repeat="notice in vm.notices | orderBy:'-counters'" ng-if="notice.noticeType != 'top'">
              <td>{{notice.counters}}</td>
              <td class="left"><a ui-sref="articles.notice.read({noticeId:notice._id})">{{notice.title}}</a></td>
              <td>{{notice.created | date: 'yyyy-MM-dd'}}</td>
              <td>{{notice.views}}</td>
            </tr>

          </table>
        </div>
        <div uib-pagination boundary-links="true" rotate="false" max-size="vm.maxSize" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" template-url="modules/core/client/templates/pagination.client.view.html"></div>
      </div>

    </div>
    <!-- //contents -->

  </div>
