<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육지원센터</li>
        <li>공지사항</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub05">
    <p>공지사항</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit noBorder">공지사항</h3>

      <div class="notice_view">

        <div class="table_view">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:80px;" />
              <col style="width:220px" />
              <col style="width:80px;" />
              <col style="width:220px" />
              <col style="width:80px;" />
              <col style="" />
            </colgroup>
            <tr>
              <th scope="row">제목 : </th>
              <td colspan="5">{{vm.notice.title}}</td>
            </tr>
            <tr>
              <th scope="row">작성일 :</th>
              <td>{{vm.notice.created | date: 'yyyy/MM/dd'}}</td>
              <th scope="row">조회 :</th>
              <td>{{vm.notice.views}}</td>
            </tr>
            <tr>
              <td colspan="6" class="cont border" ng-bind-html="vm.notice.contents">
              </td>
            </tr>
          </table>
        </div>

        <div class="btn_group">
          <div class="right">
            <a href="javascript:;" ng-click="vm.list()" class="btn_style01">목록</a>
          </div>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
