  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>마이페이지</li>
        <li>내정보관리</li>
        <li>포인트내역</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub06">
    <p>포인트내역</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">

    <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>

    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit noBorder">원스탑에듀 포인트내역</h3>

      <div class="point_list">

        <div class="point_list_top">
          <div class="left">
            나의 원스탑에듀 Point 현황
          </div>
          <div class="right">
            Point : <strong>{{vm.auth.user.point | currency : '' : 0}} P</strong>
          </div>
        </div>

        <div class="table_list04">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:25%" />
              <col style="width:25%" />
              <col style="width:25%" />
              <col style="width:25%" />
            </colgroup>
            <tr>
              <th scope="col">날짜</th>
              <th scope="col">상세내역</th>
              <th scope="col">적립포인트</th>
              <th scope="col">사용포인트</th>
            </tr>

            <tr ng-repeat="point in vm.points | orderBy : '-created'">
              <td>{{point.created | date : 'yyyy-MM-dd'}}</td>
              <td>{{point.title}}</td>
              <td>
                <span ng-if="point.amount > 0">
                  {{point.amount | currency : '' : 0}}
                </span>
              </td>
              <td>
                <span ng-if="point.amount < 0">
                  {{point.amount | currency : '' : 0}}
                </span>
              </td>
            </tr>
          </table>
        </div>


        <div uib-pagination boundary-links="true" rotate="false" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" template-url="modules/core/client/templates/pagination.client.view.html"></div>

      </div>

    </div>
    <!-- //contents -->

  </div>
