<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>마이페이지</li>
      <li>나의 수업관리</li>
      <li>레벨테스트 결과</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub06">
  <p>레벨테스트 결과</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit">레벨테스트 결과</h3>

    <div class="le_result_list">

      <div class="table_list04" style="padding-bottom:25px;">
        <table>
          <caption class="hide"></caption>
          <colgroup>
            <col style="width:50px;">
            <col style="width:70px">
            <col style="">
            <col style="width:160px;">
            <col style="width:140px;">
            <col style="width:105px;">
          </colgroup>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">상태</th>
            <th scope="col">수업일시</th>
            <th scope="col">수업방식</th>
            <th scope="col">강사님</th>
            <th scope="col">상세보기</th>
          </tr>
          <tr ng-repeat="levelResults in vm.levelResults | orderBy : ['-started', '-application.desired']">
            <td>{{(vm.totalItems - $index) - ((vm.currentPage - 1) * 5)}}</td>
            <td>
              <label ng-if="levelResults.state === 'applied'">신청완료</label>
              <label ng-if="levelResults.state === 'onStandby'">예정</label>
              <label ng-if="levelResults.state === 'attendance'">출석</label>
              <label ng-if="levelResults.state === 'absence'">결석</label>
              <label ng-if="levelResults.state === 'canceled'">취소</label>
            </td>
            <td>
              <label ng-if="levelResults.started">{{levelResults.started | date : 'yyyy-MM-dd  hh:mm'}}</label>
              <label ng-if="!levelResults.started">대기 중</label>
            </td>
            <td ng-if="levelResults.application.productType === 'telephone'">전화</td>
            <td ng-if="levelResults.application.productType === 'skype'">스카이프</td>
            <td ng-if="levelResults.application.productType === 'screenBoard'">화상칠판</td>
            <td class="capital">{{levelResults.tutor.nickName}}</td>
            <td style="width:64px; height:38px; padding:10px;"><a ng-if="levelResults.assessment.updated" ui-sref="mypage.leveltest.list.read({leveltestId:levelResults._id})" class="btn">보기</a></td>
          </tr>
        </table>
      </div>

      <div uib-pagination boundary-links="true" rotate="false" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"
        template-url="modules/core/client/templates/pagination.client.view.html"></div>

      <!-- 보기 클릭시 노출 -->
      <div style="padding-top:25px;" ui-view></div>
      <!-- //보기 클릭시 노출 -->
    </div>

  </div>
  <!-- //contents -->

</div>
