<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>비회원</li>
      <li>레벨테스트 결과</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub06">
  <p>레벨테스트 결과</p>
</div>
<!-- //sub_top -->

<div class="inner">

  <!-- contents -->
  <div id="contents" style="float:none; margin:auto">

    <h3 class="h3_tit">레벨테스트 결과</h3>

    <div class="le_result_list">

      <div class="table_list04">
        <table>
          <caption class="hide"></caption>
          <colgroup>
            <col style="width:50px;">
            <col style="width:70px">
            <col style="">
            <col style="width:160px;">
            <col style="width:140px;">
            <col style="width:105px;">
          </colgroup>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">상태</th>
            <th scope="col">테스트일시</th>
            <th scope="col">테스트방식</th>
            <th scope="col">강사님</th>
            <th scope="col">상세보기</th>
          </tr>
          <tr>
            <td>아이디</td>
            <td>
              완료 , 대기 , 미신청 <!-- 셋중 하나 -->
            </td>
            <td>startday</td>
            <td>
              스카이프 , 전화 , 화상 <!-- 셋중 하나 -->
            </td>
            <td>tu_Name</td>
            <td><a class="btn open_result_list">보기</a></td>
          </tr>
        </table>
      </div>

      <!-- 보기 클릭시 노출 -->
      <div style="padding-top:25px;" ui-view></div>
      <!-- //보기 클릭시 노출 -->
    </div>

  </div>
  <!-- //contents -->

</div>
