        <!-- 보기 클릭시 노출 -->
        <div class="result_list">
          <div class="inner">
            <h4>원스탑에듀 종합평가</h4>
            <div class="evaluation_table">
              <ul class="info">
                <li>
                  <strong>회원명 :</strong>
                  <span>{{vm.auth.user.koreanName}}</span>
                </li>
                <li>
                  <strong>강사명 :</strong>
                  <span class="capital">{{vm.leveltests.tutor.nickName}}</span>
                </li>
                <li>
                  <strong>테스트일시 :</strong>
                  <span>{{vm.leveltests.application.desired | date : 'yyyy-MM-dd  HH:mm'}}</span>
                </li>
                <li>
                  <strong>음원파일 :</strong>
                  <span><a href="javascript:;" ng-click="vm.recording()" class="btn open_pop" style="padding: 10px 18px">듣기</a></span>
                </li>
              </ul>
              <ul class="result">
                <li>
                  <div class="level">
                    <strong>종합레벨 :</strong>
                    <span>{{vm.totalLevel(vm.leveltests.assessment)}}</span>
                  </div>
                </li>
                <li>
                  <div class="process">
                    <strong>추천과정 :</strong>
                    <span>비즈니스</span>

                  </div>
                </li>
                <li>
                  <div class="teachingBook">
                    <strong>추천교재 :</strong>
                    <span></span>

                  </div>
                </li>
              </ul>
            </div>

            <h5><span id="graph_id"></span>{{vm.auth.user.koreanName}}님의 종합평가 그래프</h5>
            <div class="left">
              <div class="graph">
                <div class="chart-container">
                  <canvas width="248" height="248" class="chart chart-radar" chart-dataset-override="vm.datasets" chart-options="vm.chartOptions" chart-series="vm.series" chart-colors="vm.datasets" chart-data="vm.chartData"
                    chart-labels="vm.labels"></canvas>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="table_list05">
                <table style='table-layout: fixed; width:474px'>
                  <caption class="hide"></caption>
                  <colgroup>
                    <col style="width:33.33%">
                    <col style="width:66.66%">
                  </colgroup>
                  <tr>
                    <th scope="row">Listening</th>
                    <td class="left">
                      <div class="comment">
                        {{vm.leveltests.assessment.listeningContents}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Speaking</th>
                    <td class="left">
                      <div class="comment">
                        {{vm.leveltests.assessment.speakingContents}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Pronunciation</th>
                    <td class="left">
                      <div class="comment">
                        {{vm.leveltests.assessment.pronunciationContents}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Vocabulary</th>
                    <td class="left">
                      <div class="comment">
                        {{vm.leveltests.assessment.vocabularyContents}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Grammar</th>
                    <td class="left">
                      <div class="comment">
                        {{vm.leveltests.assessment.grammarContents}}
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="clear">
              <dl>
                <dt>강사 코멘트</dt>
                <dd ng-bind-html="vm.leveltests.assessment.tutorComment">
                </dd>
              </dl>
            </div>
            <div class="btn">
              <a ui-sref="register.course.apply">수강신청 바로가기</a>
            </div>
          </div>

          <div ng-if="vm.isRecording" is-recording="vm.isRecording" record-file-id="{{vm.assessment.recordFile}}" recording-file></div>

        </div>
        <!-- //보기 클릭시 노출 -->
