<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>교육지원센터</li>
      <li>자주하는 질문</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub05">
  <p>자주하는 질문</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit noBorder">자주하는 질문</h3>

    <div class="faq_list">
      <dl id="{{faq.counters}}" ng-repeat="faq in vm.faqs" faq-slide faq-scroll-top>
        <dt>
          <a ui-sref="articles.faq.view({faqCounter: faq.counters})" class="question">{{faq.question}}</a>
        </dt>
        <dd>{{faq.answer}}</dd>
      </dl>
    </div>

  </div>
  <!-- //contents -->

</div>
