  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육과정</li>
        <li>비즈니스</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub02_4">
    <p>비즈니스</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-curriculum.client.view.html'"></aside>

    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit"><span>원스탑</span> 비즈니스</h3>

      <div class="curriculum">

        <div class="txt">
          <p>
            취업과 업무 수행을 위해 필요한, 실용 비즈니스 영어를 배울 수 있는 과정입니다.
          </p>
        </div>

        <div class="curriculum_list">
          <ul>
            <li id="profile">
              <div class="img">
                <img src="/img/img_ed_business01.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.yes24.com/24/Goods/2140679" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>중급</span>
                  <span>고급</span>
                </div>
                <div class="tit">ProFile 시리즈</div>
                <div class="level"><img src="/img/img_ed_business01_02.jpg" alt="level 6~8"/></div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>실무에서 바로 활용할 수 있는 비즈니스 영어가 필요하신 분</li>
                        <li>국제 비즈니스 상황에서 고급 영어가 필요하신 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>Speaking, Listening, Writing까지 비즈니스 영어를 배울 수 있습니다.</li>
                        <li>심화된 주제에서도 세련되고 고급스러운 비즈니스 표현을 배울 수 있습니다.</li>
                        <li>소통 능력을 갖출 수 있으며 토론, 세미나 등에 적극적이고 능동적으로 참여할 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li id="communicating">
              <div class="img">
                <img src="/img/img_ed_business02.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.yes24.com/24/goods/1446883" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>중급</span>
                  <span>고급</span>
                </div>
                <div class="tit" style="font-size:26px;">Communicating in Business English</div>
                <div class="level"><img src="/img/img_ed_business02_02.jpg" alt="level 6~8"/></div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>업무, 출장 시 의사소통을 위해 영어가 필요하신 분</li>
                        <li>취업, 이직을 위해 실용 비즈니스 회화가 필요하신 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>비즈니스 상황에서 상용되는 6개의 주제(전화, 회의, 계약, 발표, 협상, 문서업무)를 학습합니다.</li>
                        <li>각 주제마다 “Explanation Page”, “Exercise page”로 이루어진<br />14개의 레슨을 통해 상황에 맞는 Business expression, Key Vocabulary, Dialog 를 통한 필수표현을 학습합니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="btn">
          <a ui-sref="register.course.apply">수강신청</a>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
