<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육과정</li>
        <li>시험대비</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub02_6">
    <p>시험대비</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-curriculum.client.view.html'"></aside>

    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit"><span>원스탑</span> 시험대비</h3>

      <div class="curriculum">

        <div class="txt">
          <p>
            OPIC/ 토플/ 토익 스피킹 등 영어 스피킹 시험을 각 유형에 맞게 준비할 수 있는 과정입니다.
          </p>
        </div>

        <div class="curriculum_list">
          <ul>
            <li id="howtonewopic">
              <div class="img">
                <img src="/img/img_ed_test01.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.yes24.com/24/goods/4740628" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>초급</span>
                  <span>중급</span>
                  <span>고급</span>
                </div>
                <div class="tit">How to New OPIC 시리즈</div>
                <div class="level"><img src="/img/img_ed_test01_02.jpg" alt="level 3~10"/></div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>취업, 승진, 이직을 위해 OPIC 시험이 필요하신 분</li>
                        <li>단계별(입문*기초*중급*고급) OPIC 전략에 따라 실제 시험장과 같은<br />말하기 훈련이 필요하신 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>실제 출제되는 질문과 모범 답안 주요 패턴을 반복 학습합니다.</li>
                        <li>OPIC에 자주 출제되는 문항을 이용하여 단기간에<br />고득점을 획득할 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li id="toeicspeaking">
              <div class="img">
                <img src="/img/img_ed_test02.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.yes24.com/24/goods/14433989" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>초급</span>
                  <span>중급</span>
                  <span>고급</span>
                </div>
                <div class="tit">시나공 TOEIC SPEAKING 시리즈</div>
                <div class="level"><img src="/img/img_ed_test02_02.jpg" alt="level 3~10"/></div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>단기간에 TOEIC Speaking 시험에서 고득점을 얻고 싶으신 분</li>
                        <li>TOEIC Speaking 의 다양한 문제 유형을 배우고 싶으신 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>주요 문제 유형을 연습하여 TOEIC Speaking 시험을 실전과 같이<br> 준비할 수 있습니다.</li>
                        <li>발음 및 문장 교정을 통해 영어를 논리적으로 말할 수 있게 됩니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li id="basicskills">
              <div class="img">
                <img src="/img/img_ed_test03.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.yes24.com/24/goods/2817870" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>초급</span>
                  <span>중급</span>
                  <span>고급</span>
                </div>
                <div class="tit" style="font-size:26px;">Basic Skills for the TOEFL iBT 시리즈</div>
                <div class="level"><img src="/img/img_ed_test03_02.jpg" alt="level 3~10"/></div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>TOFEL iBT 시험을 준비하시는 분</li>
                        <li>Speaking 시험을 위한 대비가 필요하신 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>4대 영역(Reading, Listening, Speaking, Writing)을 종합적으로 학습합니다.</li>
                        <li>출제 유형을 분석하여 Warm up -> Practice -> Test 로 체계적인<br />학습 과정을 거칩니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="btn">
          <a ui-sref="register.course.apply">수강신청</a>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
