  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육과정</li>
        <li>프리토킹</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub02_3">
    <p>프리토킹</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-curriculum.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit"><span>원스탑</span> 프리토킹</h3>

      <div class="curriculum">

        <div class="txt">
          <p>
            다양한 주제에 대한 생각을 영어로 표현하고, 원어민 표현을 익히고 싶은 분들께 추천하는 과정입니다.
          </p>
        </div>

        <div class="curriculum_list">
          <ul>
            <li id="freetopic">
              <div class="img">
                <img src="/img/img_ed_freetalking01.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="/onestopedu/files/freetalking.pdf" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>중급</span>
                  <span>고급</span>
                </div>
                <div class="tit">News and Free Topic <span>자체교재</span></div>
                <div class="level"><img src="/img/img_ed_freetalking01_02.jpg" alt="level 4~10"/></div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>영어공부를 10년 이상 했지만, 외국인 앞에서는 대화가 어려우신 분</li>
                        <li>어학연수를 가고 싶지만, 갈 수 없는 상황에 계신 분</li>
                        <li>다양한 주제로 영어회화를 하고 싶으신 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>초급, 중급, 고급 레벨 별로 세분화하여 수준에 맞는 시사, 경제, 엔터테인먼트 등 다양한 Topic을 공부할 수 있습니다.</li>
                        <li>영어 어휘력을 늘릴 수 있으며 다양한 문장표현을 배울 수 있습니다.</li>
                        <li>관용적 표현을 습득하고, 원어민의 문법과 발음을 구사할 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="btn">
           <a ui-sref="register.course.apply">수강신청</a>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
