<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육과정</li>
        <li>인터뷰</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub02_5">
    <p>인터뷰</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-curriculum.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit"><span>원스탑</span> 인터뷰</h3>

      <div class="curriculum">

        <div class="txt">
          <p>
            시험, 이직, 유학 등 영어 인터뷰에 필요한 표현을 익히고 실전 면접에 대비할 수 있는 과정입니다.
          </p>
        </div>

        <div class="curriculum_list">
          <ul>
            <li id="interview">
              <div class="img">
                <img src="/img/img_ed_interview01.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="/onestopedu/files/interview.pdf" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>중급</span>
                  <span>고급</span>
                </div>
                <div class="tit">Interview Compilation <span>자체교재</span></div>
                <div class="level"><img src="/img/img_ed_interview01_02.jpg" alt="level 4~10"/></div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>국내외 취업, 이직을 준비하시는 분</li>
                        <li>외국 대학 입학시험, 유학 인터뷰를 준비하고 계신 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>각종 인터뷰에서 나오는 주요 질문과 모범 답안을 배울 수 있습니다.</li>
                        <li>자신만의 영어답변을 만들 수 있으며, 강사님께서 답변 문장 및 발음을 교정합니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="btn">
          <a ui-sref="register.course.apply">수강신청</a>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
