<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육과정</li>
        <li>어린이 회화</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub02_2">
    <p>어린이 회화</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-curriculum.client.view.html'"></aside>

    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit"><span>원스탑</span> 어린이 회화</h3>

      <div class="curriculum">

        <div class="txt">
          <p>
            그림, 노래 등 다양한 학습자료를 통해 아이의 말문을 여는 1:1 맞춤 어린이 화상영어 회화 과정입니다.
          </p>
        </div>

        <div class="curriculum_list">
          <ul>
                            <!---->
            <li id="letsgo">
              <div class="img">
                <img src="/img/ed_letsgo.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.kyobobook.co.kr/product/detailViewEng.laf?mallGb=ENG&ejkGb=ENG&linkClass=&barcode=9780194641449" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>초급</span><span>중급</span>

                </div>
                <div class="tit">LET'S GO 시리즈</div>
                <div class="level">
                    <ul>
                        <li style="margin-left:10%;width:60.5%;">
                            Level 2 ~ 7
                        </li>
                    </ul>

                </div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>

                      <ul>
                        <li>실제 영어 말하기, 읽기 능력을 키우고 싶은 어린이.</li>
                        <li>처음 시작부터 영어의 말문을 열어</li>
                        <li>영어로 자신의 생각을 표현하고 싶은 어린이.</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>

                        <li>재미있고 다양한 게임으로 반복 연습을 하여<br /> 핵심 문장을 자연스럽게 습득할 수 있으며,</li>
                        <li>어린이들의 유창한 말하기와 읽기 능력을 강화할 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li id="talktome">
              <div class="img">
                <img src="/img/ed_talktome.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.darakwon.co.kr/books/detailProduct.asp?pc_id_2=8&pc_id_3=44&p_id=6302" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>중급</span>

                </div>
                <div class="tit">TALK TO ME 시리즈</div>
                <div class="level">
                    <ul>
                        <li style="margin-left:40%;width:30.5%;">
                            Level 5 ~ 7
                        </li>
                    </ul>

                </div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>

                      <ul>
                        <li>기본적인 영어 문법 및 어휘를 학습하였으나</li>
                        <li>말하기 실력이 향상되지 않는 어린이.</li>
                        <li>기계적으로 정해진 내용을 반복하여 말하는</li>
                        <li>학습이 아닌 다양한 주제로 영어 회화 능력을 향상시키고 싶은 어린이.</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>어린이 학습자를 위한 스피킹 교재로 그림을 보고 묘사하기,</li>
                        <li>그림에서 나타난 상황을 바탕으로 자신의 생각을 말해 보기,</li>
                        <li>아이들에게 익숙한 동화나 이야기를 재구성하여 말해보기,</li>
                        <li>쉽고 흥미로운 주제에 대해 토론하기의 총 4가지 영역으로 구성되어있습니다.</li>
                        <li>다채로운 그림과 재미있는 활동을 통해,</li>
                        <li>아이들이 좀 더 능동적으로 수업에 임하고,</li>
                        <li>영어를 말하는 데 있어 더욱 흥미를 느낄 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li id="peopleandlife">
              <div class="img">
                <img src="/img/ed_peopleandlife.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.yes24.com/24/goods/43986174" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>고급</span>

                </div>
                <div class="tit">People and Life 시리즈</div>
                <div class="level">
                    <ul>
                        <li style="margin-left:70%;width:30.5%;">
                            Level 8 ~ 10
                        </li>
                    </ul>

                </div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>

                      <ul>
                        <li>15세 이상의 어린이부터 성인까지 쉽고 재미있는 주제를 통해</li>
                        <li>영어에 대한 자신감을 키우고 커뮤니케이션 능력을 키우고 싶은 분. </li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>

                        <li>영어권 국가의 문화를 배경으로 한 다양한 내용과  </li>
                        <li>일상생활에서 접할 수 있는 쉽고 재미있는 주제를 통해 </li>
                        <li>영어 말하기 실력을 향상시킬 수 있습니다.</li>

                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="btn">
          <a ui-sref="register.course.apply">수강신청</a>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
