<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육과정</li>
        <li>정규회화</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub02_1">
    <p>정규회화</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
    <!-- snb -->
    <div ng-include="'modules/core/client/views/sidebar-curriculum.client.view.html'"></div>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit"><span>원스탑</span> 정규회화</h3>

      <div class="curriculum">

        <div class="txt">
          <p>
            입문 영어에서 고급 영어까지, 체계적이고 다양한 학습을 원하시는 분들께 추천하는 과정입니다.
          </p>
        </div>

        <div class="curriculum_list">
          <ul>
            <!---->
            <li id="phonices">
              <div class="img">

                <img src="/img/ed_letsgo_phonics.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.yes24.com/24/goods/2110548" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>초급</span>

                </div>
                <div class="tit">LET'S GO Phonics 시리즈</div>
                <div class="level">
                    <ul>
                        <li style="width:10.5%;">
                            Lv 1
                        </li>
                    </ul>

                </div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>영어를 처음 시작하는 어린이부터 기초가 부족한</li>
                        <li>성인까지 ABC부터 시작되는 영어 입문서.</li>
                        <li>영어 학습을 처음 시작하여 알파벳부터 발음까지</li>
                        <li>영어의 기초가 필요한 분. </li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>읽기, 쓰기, 듣기, 발음 훈련의 4영역을 통해 영어 소리의 원리를 알고</li>
                        <li>글자, 스펠링 규칙의 기초를 탄탄히 할 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li id="99english">
              <div class="img">
                <img src="/img/ed_99english.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="/onestopedu/files/conversation_.pdf" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>초급</span>
                  <span>중급</span>
                  <span>고급</span>
                </div>
                <div class="tit">99English 시리즈 <span>자체교재</span></div>
                <div class="level">
                    <ul>
                        <li style="margin-left:10%;width:90.5%;">
                            Level 2 ~ 10
                        </li>
                    </ul>
                </div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>다양한 주제를 통해 영어 말하기 실력을 업그레이드 하고 싶은 분.</li>
                        <li>전화. 화상영어 수업 방식에 맞춘 전문 교재 학습을 원하시는 분.</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>기초 영어회화부터 고급 영어회화까지 다양한 주제로 말하기 연습을 할 수 있습니다.</li>
                        <li>단어학습, 문법, 문장 만들기까지 종합적인 영어회화 학습이 가능합니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <!---->
            <li id="speaknow">
              <div class="img">
                <img src="/img/img_ed_conversation01.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.yes24.com/24/goods/11591974?scode=032&OzSrank=1" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>초급</span>
                  <span>중급</span>
                </div>
                <div class="tit">Speak NOW 시리즈</div>
                <div class="level">
                  <ul>
                      <li style="margin-left:10%;width:60.5%;">
                          Level 2 ~ 7
                      </li>
                  </ul>
                </div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>기초 영어 회화를 배우고 싶은 분</li>
                        <li>영어 질문에 답변하기 막막하셨던 분</li>
                        <li>여행지에서 자신 있게 대화하고 싶은 분</li>
                        <li>문법적 표현을 정확히 알고, 문장으로 표현하고 싶은 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>일상적인 표현과 기본적인 어구를 이해하여<br /> 간단한 대화를 할 수 있도록 구성되어 있습니다.</li>
                        <li>구체적인 묘사나 경험, 본인의 의견을 어느 정도 말할 수 있고<br />동사의 시제를 정확히 말할 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li id="canyoub">
              <div class="img">
                <img src="/img/img_ed_conversation02.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="http://www.yes24.com/24/goods/211237?scode=032&OzSrank=1" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>초급</span>
                  <span>중급</span>
                </div>
                <div class="tit">Can You Believe it? 시리즈</div>
                <div class="level">
                    <ul>
                        <li style="margin-left:20%;width:40.5%;">
                            Level 3 ~ 6
                        </li>
                    </ul>
                </div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>기본적인 문법 표현을 익히신 분</li>
                        <li>재미있는 스토리를 읽으며 표현을 배우고,<br />요약하여 명료하게 말하기를 원하시는 분</li>
                        <li>일상 대화는 어렵지 않으나 책, 영화, 기사 등을 읽고<br />줄거리를 말하기가 어렵게 느껴지시는 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>넓은 범위의 주제를 요약하여 명료하게 말할 수 있습니다.</li>
                        <li>숙어와 새로운 표현을 배우고, 중간 길이 문장으로 표현할 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div class="img">
                <img src="/img/img_ed_conversation03.jpg" alt=""/>
                <div class="curriculum_btnarea">
                  <a href="https://elt.oup.com/catalogue/items/global/adult_courses/american_headway_second_edition/level_1/?cc=kr&selLanguage=ko&mode=hub" target="_blank">교재 미리보기</a>
                </div>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>중급</span>
                  <span>고급</span>
                </div>
                <div class="tit">American Headway 시리즈</div>
                <div class="level">
                    <ul>
                        <li style="margin-left:30%;width:40.5%;">
                            Level 4 ~ 8
                        </li>
                    </ul>
                </div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>영어기초는 알지만 말하기에 어려움을 느끼시는 분</li>
                        <li>정확하고 유창한 영어로 의사를 표현하고 싶으신 분</li>
                        <li>다양한 Activity로 영어를 배우고 싶으신 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>읽기, 쓰기, 듣기, 말하기를 통합하여 총체적으로 학습할 수 있습니다.</li>
                        <li>다양한 주제를 읽고, 정확한 표현을 배울 수 있습니다.</li>
                        <li>실생활에서 사용하는 여러 상황 별 표현들을 익힐 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div class="img">
                <img src="/img/img_ed_conversation04.jpg" alt=""/>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>초급</span>
                  <span>중급</span>
                </div>
                <div class="tit">Interchange 시리즈</div>
                <div class="level">
                                        <ul>
                                            <li style="margin-left:20%;width:40.5%;">
                                                Level 3 ~ 7
                                            </li>
                                        </ul>
                                    </div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>다양한 주제를 활용하여 영어회화를 하고 싶으신 분</li>
                        <li>실용적인 영어회화(각색된 이야기, 다큐멘터리, 인터뷰, 여행기)를<br />배우고 싶으신 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>매 Unit마다 문법 Key point가 2개씩 있어, 탄탄한 문장을 만들 수 있습니다.</li>
                        <li>영어에 필요한 듣기, 문법, 읽기 과정이 모두 수록되어 있어<br> 체계적인 영어 공부를 할 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li id="expressy">
              <div class="img">
                <img src="/img/img_ed_conversation05.jpg" alt=""/>
              </div>
              <div class="txt">
                <div class="level_txt">
                  <span>중급</span>
                </div>
                <div class="tit">Express Yourself 시리즈</div>
                <div class="level">
                                        <ul>
                                            <li style="margin-left:40%;width:30.5%;">
                                                Level 5 ~ 7
                                            </li>
                                        </ul>
                                    </div>
                <div class="list">
                  <ul>
                    <li>
                      <strong>학습대상</strong>
                      <ul>
                        <li>고급영어 표현을 배우고 싶으신 분</li>
                        <li>영어로 토론에 도전하고 싶으신 분</li>
                        <li>다양한 구어체 표현을 배우고 싶으신 분</li>
                      </ul>
                    </li>
                    <li>
                      <strong>학습내용</strong>
                      <ul>
                        <li>각 25개의 일상적인 이슈에 대해 자신의 의견을 말하는 연습을 할 수 있습니다.</li>
                        <li>원어민이라면 어떻게 생각하고 말하는 지 샘플 대답을 보고 익힐 수 있습니다.</li>
                        <li>특정주제에 대해 어떤 단어나 표현을 쓰는지 배울 수 있습니다.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="btn">
          <a ui-sref="register.course.apply">수강신청</a>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
