<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>교육과정</li>
      <li>전체과정</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub02">
  <p>전체과정</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <!-- snb -->
  <aside ng-include="'modules/core/client/views/sidebar-curriculum.client.view.html'"></aside>

  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit"><span>원스탑</span> 전체과정</h3>

    <div class="curriculum">

      <div class="txt">
        <strong>Level 1 부터 Level 10 까지</strong>
        <p>
          원스탑에듀의 체계적인 영어학습과정을 경험해보세요. <br />
          어떤 수업과정을 선택하든 상상 그 이상의 효과를 볼 수 있습니다.
        </p>
      </div>

      <div class="curriculum_tb">
        <table style="">
          <colgroup>
            <col width="90px">
            <col width="64px">
            <col width="64px">
            <col width="64px">
            <col width="64px">
            <col width="64px">
            <col width="64px">
            <col width="64px">
            <col width="64px">
            <col width="64px">
            <col width="64px">
          </colgroup>
          <thead>
            <tr>
              <th rowspan="2">
                <img src="/img/cur_lv_td.jpg" alt="레벨/과정" />
              </th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
            </tr>
            <tr>
              <td colspan="3">
                <span>초급</span>
              </td>
              <td colspan="4">
                <span>중급</span>
              </td>
              <td colspan="3">
                <span>고급</span>
              </td>
            </tr>
          </thead>
          <tbody>
            <!-- 정규회화 -->
            <tr>
              <th rowspan="5">
                <span>정규회화</span>
              </th>
              <td colspan="10">
                <div>
                  <a ng-click="vm.curriculum('phonices')" href="javascript:;">
                    <img src="/img/cur_lets_go_phonices.jpg" alt="lets_go_phonices" />
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="10">
                <div style="padding-left:9.9%;">
                  <a ng-click="vm.curriculum('99english')" href="javascript:;">
                    <img src="/img/cur_99english.jpg" alt="99english" />
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="10">
                <div style="padding-left:10%;">
                  <a ng-click="vm.curriculum('speaknow')" href="javascript:;">
                    <img src="/img/cur_speaknow.jpg" alt="speak now" style="" />
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="10">
                <div style="padding-left:20%;">
                  <a ng-click="vm.curriculum('canyoub')" href="javascript:;">
                    <img src="/img/cur_canyoub.jpg" alt="can you bilieve it" style="" />
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="10">
                <div style="padding-left:40%;">
                  <a ng-click="vm.curriculum('expressy')" href="javascript:;">
                    <img src="/img/cur_expressy.jpg" alt="express yourself" />
                  </a>
                </div>
              </td>
            </tr>

            <!-- 어린이 회화 -->
            <tr class="cur_tr_bor">
              <th rowspan="3">
                <span>어린이 회화</span>
              </th>
              <td colspan="10">
                <div style="padding-left:10%;">
                  <a ng-click="vm.junior('letsgo')" href="javascript:;">
                    <img src="/img/cur_letsgo.jpg" alt="let's go" />
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="10">
                <div style="padding-left:40%;">
                  <a ng-click="vm.junior('talktome')" href="javascript:;">
                    <img src="/img/cur_talktome.jpg" alt="talk to me" />
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="10">
                <div style="padding-left:69.9%;">
                  <a ng-click="vm.junior('peopleandlife')" href="javascript:;">
                    <img src="/img/cur_peopleandlife.jpg" alt="people and life" style="" />
                  </a>
                </div>
              </td>
            </tr>
            <!-- 프리토킹 -->
            <tr class="cur_tr_bor">
              <th>
                프리토킹
              </th>
              <td colspan="10">
                <div style="padding-left:29.9%;">
                  <a ng-click="vm.freetalking('freetopic')" href="javascript:;">
                    <img src="/img/cur_newsandfreetopic.jpg" alt="newsandfreetopic" style="" />
                  </a>
                </div>
              </td>
            </tr>
            <!-- 비즈니스 -->
            <tr class="cur_tr_bor">
              <th rowspan="2">
                비즈니스
              </th>
              <td colspan="10">
                <div style="padding-left:50%;">
                  <a ng-click="vm.business('profile')" href="javascript:;">
                    <img src="/img/cur_profile.jpg" alt="profile" style="" />
                  </a>
                </div>
              </td>

            </tr>
            <tr>
              <td colspan="10">
                <div style="padding-left:50%;">
                  <a ng-click="vm.business('communicating')" href="javascript:;">
                    <img src="/img/cur_communicating.jpg" alt="communicating" style="" />
                  </a>
                </div>
              </td>
            </tr>
            <!-- 인터뷰 -->
            <tr class="cur_tr_bor">
              <th>
                인터뷰
              </th>

              <td colspan="10">
                <div style="padding-left:29.9%;">
                  <a ng-click="vm.interview('interview')" href="javascript:;">
                    <img src="/img/cur_interview.jpg" alt="interview" style="" />
                  </a>
                </div>
              </td>

            </tr>
            <!-- 시험대비 -->
            <tr class="cur_tr_bor">
              <th rowspan="3">
                시험대비
              </th>

              <td colspan="10">
                <div style="padding-left:19.9%;">
                  <a ng-click="vm.exam('howtonewopic')" href="javascript:;">
                    <img src="/img/cur_howtonewopic.jpg" alt="how to new opic" style="" />
                  </a>
                </div>
              </td>

            </tr>
            <tr>
              <td colspan="10">
                <div style="padding-left:19.9%;">
                  <a ng-click="vm.exam('toeicspeaking')" href="javascript:;">
                    <img src="/img/cur_toeicspeaking.jpg" alt="toeic speaking" style="" />
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="10">
                <div style="padding-left:19.9%;">
                  <a ng-click="vm.exam('basicskills')" href="javascript:;">
                    <img src="/img/cur_basicskillsforthe.jpg" alt="basic skills for the tofel ibt" style="" />
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>

  </div>
  <!-- //contents -->

</div>
