<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>원스탑에듀</li>
        <li>강사소개</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub01">
    <p>강사소개</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-introduction.client.view.html'"></aside>


    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">강사소개</h3>
      <p class="sub_txt">
        엄격한 자체관리 시스템으로 선정된 강사님들을 지금 바로 만나보세요.<br />
        원스탑에듀의 원어민 강사는 유럽, 필리핀, 북미로 구성되어 있어, 학습자의 선택의 폭을 넓혔습니다.
      </p>

      <div class="tc_introduction">

        <div class="tab_area three">
          <ul>
            <li><a ui-sref="guide.introduction.tutor.eu" ui-sref-active="on">유럽강사</a></li>
            <li><a ui-sref="guide.introduction.tutor.ph" ui-sref-active="on">필리핀강사</a></li>
            <li><a ui-sref="guide.introduction.tutor.us" ui-sref-active="on">미주강사</a></li>
          </ul>
        </div>

        <div class="tc_introduction_list">
          <ul>
            <li>
              <div class="img"><img src="/img/img_tc_introduction01_02.png" alt=""></div>
              <div class="txt">
                <strong>Nicole (Nikoletta G)</strong>
                <p>
                  Hello, my name is Nicole.  I have extensive experience teaching
                  English to different age groups, from young children to adults.<br />
                  I have lead language trainings on various topics. My number 1 rule
                  in class is to Laugh and Learn together. I am always excited to meet
                  new students.
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/Marija.png" alt=""></div>
              <div class="txt">
                <strong>Marija</strong>
                <p>
                  Hello, my name is Marija. I studied English Philology and I have experience in working with students of all age.<br>I've had groups of elder people and I have been a volunteer teacher for young children and teenagers.<br> I love dancing, reading, traveling and meeting new people, so I’m really looking forward to meeting you and being your teacher.
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/nelina.png" alt=""></div>
              <div class="txt">
                <strong>Nelina</strong>
                <p>
                  Hello, my name is Nellie and I am an online English teacher at 1StopEdu. I have a university degree in Applied Linguistics and long experience in teaching English to adults and children. <br>I love meeting new people from all over the world. I can't wait to learn with you!
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/Inna.png" alt=""></div>
              <div class="txt">
                <strong>Inna</strong>
                <p>
                  I’m Inna. I graduated from a university in the UK and I lived there for many years.
                   I started teaching a year ago and I’ve been loving my job from day one.
                    In my free time I like to travel and I’ve been to most European countries.
                     I’d love to be your teacher and I can’t wait to meet you!
                </p>
              </div>
            </li>
            <!-- 이후강사 프로필은 INNA 뒤로 추가 -->
            <li>
              <div class="img"><img src="/img/maria.png" alt=""></div>
              <div class="txt">
                <strong>Maria</strong>
                <p>
                  Hello! My name is Maria and I have a Master’s Degree in English Linguistics. I have vast experience teaching English to different kinds of people.<br> Now I am studying Cultural Anthropology, because I love cultural diversity. It will be a pleasure to meet you and to learn interesting things about your countries. In exchange I will give my best to help you improve your English. Let’s learn together!
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/Gabriel.png" alt=""></div>
              <div class="txt">
                <strong>Gabriel</strong>
                <p>
                  Hello, my name is Gabriel.
                  I studied Pedagogy with English and English literature.
                  I’ve taught adult learners and prepared students for job interviews since 2015.
                  I’ve always loved the English language and it’s an honor and a privilege to teach this incredible language to students from all over the globe.
                  I look forward to speaking with you!
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/img_tc_introduction01_01.png" alt=""></div>
              <div class="txt">
                <strong>Nikki (Nikoleta N)</strong>
                <p>
                  Hello! My name is Niki. I have experience working with young
                  learners as well as adults. I have also worked with Cambridge First (FCE)
                  and Cambridge Advanced (CAE) students.<br> I like reading,
                  writing and drawing. I am excited to be your English teacher.
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/Krisi.png" alt=""></div>
              <div class="txt">
                <strong>Krisi</strong>
                <p>
                  Hi, I’m Kristina.
                  I have studied in London and have a degree in Linguistics. I love languages - spelling and grammar being my obsession.<br> I have worked with children of different age groups for several years.<br>
                  I am also completing a second degree in Law.
                  In my spare time I love doing yoga, going out with friends, travelling and reading.
                  I look forward to meeting you very soon, we will have loads of fun while we learn!

                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/Dayana.png" alt=""></div>
              <div class="txt">
                <strong>Dayana</strong>
                <p>
                   Hi,My name is Dayana and I am an English teacher.
                   I finished my English philology degree and I can’t wait to meet you! In my free time I love sports, reading books and watching movies !
                   We will have a lot of fun during our classes. See you, guys soon!
                </p>
              </div>
            </li>

            <li>
              <div class="img"><img src="/img/img_tc_introduction01_04.png" alt=""></div>
              <div class="txt">
                <strong>Katya (Katya)</strong>
                <p>
                  Hello! My name is Katya and I am excited to meet you.<br />
                  I have experience teaching adult learners. <br />
                  I recently got my Master’s Degree in English Linguistics.<br />
                  I always had passion to share my knowledge with others and
                  to learn from them too.<br> If I can describe a teacher’s role I will quote
                  Robert Frost: “I am not a teacher, but an awakener.”.
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/img_tc_introduction01_05.png" alt=""></div>
              <div class="txt">
                <strong>Tanya (Stiliana R)</strong>
                <p>
                  Hello, my name is Tanya and I love exploring new cultures and
                  languages, which is the reason behind my interest in linguistics. <br />
                  A number one priority in my classes is to find the best approach
                  towards my students in order to achieve the best possible results,
                  while having a lot of fun, of course. Shall we start our adventure?
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/img_tc_introduction01_06.png" alt=""></div>
              <div class="txt">
                <strong>Victoria (Victoria)</strong>
                <p>
                  My name is Victoria and I love teaching English to English Language
                  Learners! I taught ESL to adults in both private and government schools. <br />
                  For the past nine years I have prepared students taking IELTS, TOEFL iBT
                  and Cambridge ESOL exams. I also have experience with translation
                  for the business and energy sector. I look forward to speaking with you!
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/img_tc_introduction01_07.png" alt=""></div>
              <div class="txt">
                <strong>Gabbie (Gabriela)</strong>
                <p>
                  Hello, my name is Gabbie.  Learning English may be difficult but
                  I do believe we could make it a comfortable. if you wish to improve
                  your English skills or having fun in an online classroom setting,
                  sign up experience great online English learning with me!
                </p>
              </div>
            </li>


          </ul>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
