  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>원스탑에듀</li>
        <li>회사소개</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub01">
    <p>회사소개</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-introduction.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">강사소개</h3>
      <p class="sub_txt">
        엄격한 자체관리 시스템으로 선정된 강사님들을 지금 바로 만나보세요.<br />
        원스탑에듀의 원어민 강사는 유럽, 필리핀, 북미로 구성되어 있어, 학습자의 선택의 폭을 넓혔습니다.
      </p>

      <div class="tc_introduction">

        <div class="tab_area three">
          <ul>
            <li><a ui-sref="guide.introduction.tutor.eu" ui-sref-active="on">유럽강사</a></li>
            <li><a ui-sref="guide.introduction.tutor.ph" ui-sref-active="on">필리핀강사</a></li>
            <li><a ui-sref="guide.introduction.tutor.us" ui-sref-active="on">미주강사</a></li>
          </ul>
        </div>

        <div class="tc_introduction_list">
          <ul>
            <li>
              <div class="img" style="top:70px;"><img src="/img/Lorie.png" alt=""></div>
              <div class="txt">
                <strong>Lorie</strong>
                <p>
                    Hi! Good day! I’m Teacher Lorie.
                    I am a licensed English teacher and I have been teaching for eight years now.<br/>
                    My strength is my attitude that I like to take challenges.<br/>
                    I am a diligent person and I do my job happily and responsibly.<br/>
                    I enjoy talking to my students and sharing my knowledge with them.<br/>
                    I hope you could also be part of my classes.<br/>
                    I will assure you that here at 1Stop Edu.
                    , we give you the best English education. See you soon!
                </p>
              </div>
            </li>
            <li>
              <div class="img" style="top:100px"><img src="/img/Ira.png" alt=""></div>
              <div class="txt">
                <strong>Ira</strong>
                <p>
                  Hi! My name is Ira! It has been 3 years since I started teaching both young and adult learners how to speak in English effectively. I am very passionate and compassionate. I do my best to not only teach my students but to encourage and help them through their journey as well. In my class, I make sure that learning is FUN. Just like any student, I hate boring classes’ especially boring teachers! So, I make it a habit to add a little spice in every class, so that student would have something to look forward to every time they enter the classroom.  As a teacher, I am not just Fun but of course, I am a source of knowledge as well. I have taken a number of proficiency tests such as TOEIC and OPIc, and am equipped to teach them. Aside from that, I have years of experience of teaching English grammar, proper pronunciation, comprehension and such. Get to know me more in class as we study English! I can’t wait to see you in class too!
                </p>
              </div>
            </li>
            <li>
              <div class="img" style="top:100px"><img src="/img/Mayo.png" alt=""></div>
              <div class="txt">
                <strong>Mayo</strong>
                <p>
                  Hello! I'm Teacher Mayo and I've been teaching English for over eight years.
                  They say traveling can broaden your horizons, but I believe that teaching English to foreign students can also do the same thing.
                  Your students are your tour guides who can introduce to you how interesting to have an enthnically diverse society.
                   As an English teacher, I would like to empower my students reach their full potential as highly motivated lifelong learners through creative and interesting activities. So let's have loads of fun classes together! See you around.
                </p>
              </div>
            </li>
            <li>
              <div class="img" style="top:100px"><img src="/img/Glenda.png" alt=""></div>
              <div class="txt">
                <strong>Glenda</strong>
                <p>
                  Hi! I am Teacher Glenda. I am a graduate of AB Communication Arts. I have been teaching English as a Second Language for more than five years. I’m  completely dedicated to my work. Though teaching is not my forte,  I’m able to share my passion for learning. In my class, learning English is fun and easy. Greeting the students with a big smile and welcoming them wholeheartedly would allow them to adjust easily to the classroom environment. As a teacher, my role is to teach with enthusiasm and help students achieve their goals. I beleive that every person is unique that's why it is important to choose the best method and teaching strategy which will work for each.
                </p>
              </div>
            </li>
            <li>
              <div class="img" style="top:100px"><img src="/img/Jennifer.png" alt=""></div>
              <div class="txt">
                <strong>Jennifer</strong>
                <p>
                  Hi, there! I am Teacher Jennifer. I have a degree in Education Majored in English. I have been teaching English since 2007. I’ve handled students from different levels and countries such as China, Korea and Taiwan.
                  Teaching is my passion so I never feel like working whenever I’m in class. For me, it’s an opportunity and a privilege to be part of one’s growth. Since I cater to different levels of students, I continuously learn new strategies and methods to effectively teach the language.  I understand that learning another language is not an easy thing and just seeing them striving and giving their best is priceless. To make sure my class focuses on the student’s needs, I provide different exercises and activities tailored for each student. This gives students adequate time to practice the vocabulary and grammar rules they acquire in class. I understand that learning another language is not an easy thing and just seeing them striving and giving their best is priceless.
                  I hope I could also get the chance to meet you and guide you on your journey to become a fluent English Speaker. See you in class!
                </p>
              </div>
            </li>
            <li>
              <div class="img"style="top:100px"><img src="/img/Anj.png" alt=""></div>
              <div class="txt">
                <strong>Anj</strong>
                <p>
                  Hi my name is Anj. I have been teaching English as a second language for two years already. I love teaching because not only am i helping my students but i can also learn from them. Teaching for me is not work, for me it's another way for me to help other people be familiar with the English language, encourage them to be brave, be open minded and to help them express themselves in a different language. For me making mistakes is better for learning rather than preventing to make mistakes and be perfect. I believe in the saying of Jim Henson "(Kids) don't remember what you try to teach them. They remember what you are." See you in class!
                </p>
              </div>
            </li>
            <li>
              <div class="img" style="top:125px"><img src="/img/Mary.png" alt=""></div>
              <div class="txt">
                <strong>Mary</strong>
                <p>
                  Hello! This is Teacher Mary. I've been teaching English as a Second Language for seven years now. I'm a positive and enthusiastic teacher.  I'm aware that being a good teacher means you must be patient, supportive and reliable as well as ensuring lessons are fun and engaging. I keep my students focused through enjoyable learning methods and I have a wealth of experience teaching a wide range of age groups and levels. Teaching English is one of the things I enjoyed the most. It gives me the opportunity to share my knowledge and be able to know the culture of others. It’s not only about grammar or making better sentences but it is also about chances to speak up and to be heard by others. I do believe that learning should be an exciting and enjoyable process. When you are learning, you are actually creating a new and better self!  Amazing, isn't it? I am really looking forward to sharing and learning with you! Thank you!
                </p>
              </div>
            </li>
            <li>
              <div class="img" style="top:200px"><img src="/img/Ann.png" alt=""></div>
              <div class="txt">
                <strong>Ann</strong>
                <p>
                  Hello Everyone!!!!
                  I am Ann, an online English teacher. I have been teaching English in several online academies for more than 5 years to some kids and adults. If you're looking for a competent and well experienced online teacher, I am encouraging you to enroll with me. With my skills and experiences, I can assure you that I can provide an adequate English training.
                  I have earned a degree in Computer Programming but this did not hinder me from sharing my knowledge and skills in teaching English as a second language to non-native speakers. Teaching English as a profession gave me a sense of fulfillment in making my students improve their communication skills. During my spare time, I love watching American and Korean movies and series. I do also love baking!
                  I know it is not easy to learn the English language especially for non-native speakers. There are challenges that we need to overcome. But you have nothing to worry about. I will always be here to help and guide you. Together we will conquer all your fears and difficulties. All you have to do is to believe in yourself and to trust me as your English teacher.
                  With me as your teacher, learning English will be more interesting, awesome and fun. Thank you very much for your time and I'm looking forward to meet you soon. Bye!
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/rule.png" alt=""></div>
              <div class="txt">
                <strong>Ruel</strong>
                <p>
                  Hi! I am Ruel. I have been teaching English for a couple of years now.
                  I usually talk to Americans in my previous job and I adopt their accent.
                  I teach English online and it is fun. Let us have fun learning English.
                </p>
              </div>
            </li>

            <li>
              <div class="img" style="top:125px"><img src="/img/Chelsea.png" alt=""></div>
              <div class="txt">
                <strong>Chelsea</strong>
                <p>
                  Hi I'm Teacher Chelsea from 1stopedu. I'm from the Philippines. I took up Nursing in College but I decided to pursue teaching because I find it challenging, fun and I want to share all of my knowledge towards the language. My teaching style is customize according to the level and goal of the student. Also I always give my 100% in each class and I always make sure that my student will learn English in a simple and fun way.To know more about me. I'm also an adventurous type of person and like learning new things. That's why I love travelling so much! I also enjoy learning different cultures and meeting new people. Well in fact, making friends is one of my best skills. I'm very good in adapting to new environment and new situations so in short I'm very friendly and I easily get along with everyone. That's all for now! I can't wait to see you in class.
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/img_tc_introduction02_01.png" alt=""></div>
              <div class="txt">
                <strong>Arden</strong>
                <p>
                  Hello! My name is Arden. I have been teaching English for almost half of
                  my life. For almost 20 years, I speak for different school and community
                  trainings and seminars. I have hands-on and  technology-based
                  teaching expertise. I make sure that I enjoy my class, you enjoy as well.
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/img_tc_introduction02_02.png" alt=""></div>
              <div class="txt">
                <strong>Cherry mae</strong>
                <p>
                  Hi! I'm Cherry. I've been teaching English for foreigners for almost
                  seven years now. I love reading novels and short stories. I like watching
                  English movies and listening to music, too. Learning English is not easy,
                  but it could be fun and exciting. Enjoy learning! ^^
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/img_tc_introduction02_03.png" alt=""></div>
              <div class="txt">
                <strong>Denizza</strong>
                <p>
                  Hi, I am teacher Denz! I have been teaching English for years now. <br />
                  Learning English could be a great experience for you. With my skills
                  and experiences, I can assure  you that I can provide an adequate
                  English class. Enroll now, and let's  have fun together!
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/img_tc_introduction02_04.png" alt=""></div>
              <div class="txt">
                <strong>Liezel</strong>
                <p>
                  Hi!  am Liezel. I'm a self-motivated English teacher. As teachers,
                  we lead the student to the right path, and that is being a good
                  English speaker. Do you want to learn English?
                  Then, come and join us~~! See you soon!
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/img_tc_introduction02_05.png" alt=""></div>
              <div class="txt">
                <strong>May Clair</strong>
                <p>
                  I'm teaching English language for a while now and it has made me
                  a whole new person. I'm not only sharing my knowledge about
                  the language but also, I've learned how to be more confident in facing
                  consequences and dealing with people with different personalities.
                  Welcome to 1stopedu!
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/img_tc_introduction02_06.png" alt=""></div>
              <div class="txt">
                <strong>Eden</strong>
                <p>
                  Hi! My name is Teacher Eden and I have been with this company
                  for a while now. I am here to help you achieve your language goals. <br />
                  With me as your tutor, you can rest assured that learning happens
                  in fun and conducive setting. I have your best interests at heart,
                  so please feel free to contact us. Thank you!
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
