<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>원스탑에듀</li>
        <li>강사소개</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub01">
    <p>강사소개</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">

<aside ng-include="'modules/core/client/views/sidebar-introduction.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">강사소개</h3>
      <p class="sub_txt">
        엄격한 자체관리 시스템으로 선정된 강사님들을 지금 바로 만나보세요.<br />
        원스탑에듀의 원어민 강사는 유럽, 필리핀, 북미로 구성되어 있어, 학습자의 선택의 폭을 넓혔습니다.
      </p>

      <div class="tc_introduction">

        <div class="tab_area three">
          <ul>
            <li><a ui-sref="guide.introduction.tutor.eu" ui-sref-active="on">유럽강사</a></li>
            <li><a ui-sref="guide.introduction.tutor.ph" ui-sref-active="on">필리핀강사</a></li>
            <li><a ui-sref="guide.introduction.tutor.us" ui-sref-active="on">미주강사</a></li>
          </ul>
        </div>

        <div class="tc_introduction_list">
          <ul>
            <li>
              <div class="img"><img src="/img/Alexander.png" alt=""></div>
              <div class="txt">
                <strong>Alex</strong>
                <p>
                  Hello, my name is Alexander. I have years of experience teaching ESL and hosting educational podcasts
                  experience includes teaching both child and adults. My classes are known for being exciting as
                  I have tremendous experience with digital livestreams.
                </p>
              </div>
            </li>
            <li>
              <div class="img"><img src="/img/Meghan.png" alt=""></div>
              <div class="txt">
                <strong>Meghan</strong>
                <p>
                  Hello, my name is Meghan.  I have been teaching for over ten years.
                  I have a TEFL certificate and a Master's degree in childhood education.
                  I have taught both adults and children.
                  I love to learn about different cultures and to meet new people.
                  I look forward to meeting you!
                </p>
              </div>
            </li>
            <li>
              <div class="img" style="top:45px;"><img src="/img/Kevin.png" alt=""></div>
              <div class="txt">
                <strong>Kevin</strong>
                <p>
                  My name is Kevin and I am from the United States of America.
                  I have a Bachelor of Science in Anthropology, a Master’s in Business Administration, and a TESOL certification.
                  My passion is teaching, and I have been teaching small children, students and adult learners for over five years.
                  What I love most about teaching is watching the student’s progress and begin to express themselves in a new way!
                </p>
              </div>
            </li>
            <li>
              <div class="img" style="top:125px;"><img src="/img/James.png" alt=""></div>
              <div class="txt">
                <strong>James</strong>
                <p>
                  My name is James. I am a native English speaker born in Philadelphia, Pennsylvania and raised in South Florida.
                  I am an aspiring author and an English and creative writing tutor with a Bachelor’s Degree in Communications Studies from Florida Atlantic University and an Advanced Certificate in Teaching English as a Foreign Language.
                  I use my passion for reading and writing, along with humor and knowledge of pop culture, to engage in great conversations with my students and make our time together both productive and enjoyable.
                </p>
              </div>
            </li>
            <li>
              <div class="img" style="top:125px;"><img src="/img/Alexandra.png" alt=""></div>
              <div class="txt">
                <strong>Alexandra</strong>
                <p>
                  Hello, I am Teacher Alex. I have taught ESL internationally for the past four years and one year in the USA. I am a dynamic, innovative educator blessed with patience, but most importantly, I have an immense love for the English language. I try to create lessons that are student-centered by adapting and tailoring my lesson for each student. For example, if the student is a visual learner, we can learn from a textbook: if the student is an auditory learner, we can learn from speaking and listening activities.

                  I believe that a teacher can learn as much from a student; as a student can learn from a teacher. We can continue to enrich each other through cultural and educational exchange.
                   As a teacher, I try to create a classroom environment that excites learning among my students, thus making learning more than just a textbook experience.
                </p>
              </div>
            </li>
            <li>
              <div class="img" style="top:125px;"><img src="/img/Jodie.png" alt=""></div>
              <div class="txt">
                <strong>Jodie</strong>
                <p>
                  Hello. My name is Jodie. I have been teaching English as a Second Language for two years.
                  I have taught in a brick and mortar school and online. I am interested in other cultures, learning about my students, and teaching them how to converse in English.
                  I believe a conversation can make almost any deal, or it can break almost any deal.
                  I believe communication to be the best way to creating new and exciting challenges in the future.
                  I love to open a student’s mind and help them explore beyond the ABC’s and Grammar.
                  I like to take them to the proper annunciation and help them learn the many ways the English language uses other languages for expression. Exploration of the English language and learning to converse in English are my specialties.
                  I am a journalist, and a teacher, as well as a student of the world. Let’s explore this beautiful language together.
                  I look so forward to seeing you in class.
                </p>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
