<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육지원센터</li>
        <li>이벤트</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub05">
    <p>이벤트</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">이벤트</h3>
      <p class="sub_txt">원스탑에듀 이벤트 공지입니다.</p>

      <div class="event_list">
        <ul>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a href="event.view.html?idx=18"><img src="/img/event/edu_1908_list.jpg" alt=""/></a></div>
              <div class="txt" style="letter-spacing:-2px;">
                <strong class="ing">(진행중)</strong> 8월 빛나는 영어 실력!
              </div>
          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a ><img src="/img/event/edu_1907_list.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 7월 특별한 ENGLISH!
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_1906_list.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 6월 리얼 영어회화
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_1905_list.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 5월 영어의 재발견
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_190327_list.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 4월 영어회화시작
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a ><img src="/img/event/edu_190228_list.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 3월 영어클리닉
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_190129_list.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 2월이벤트
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_19_1_1_list.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 1월이벤트
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_1812_small.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 12월 이벤트
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_1811_small_new.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 11월 이벤트
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_1810_small.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 10월 이벤트
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_1809_small.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 9월 이벤트
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_1807_small.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 7월, 8월 이벤트
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_1806_small.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 6월 이벤트
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_1805_small.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 5월 이벤트
              </div>

          </li>
            <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><a><img src="/img/event/edu_1804_small.jpg" alt=""/></a></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 봄맞이 이벤트
              </div>

          </li>
            <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><img src="/img/event/edu_1803_small.jpg" alt=""/></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 카카오톡 이벤트
              </div>

          </li>
            <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img">
                <!-- <a href="event.view.php?idx=1"> -->
                  <img src="/img/event/edu_1802_small.jpg" alt=""/>
                <!-- </a> -->
              </div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 무료레벨테스트 이벤트
              </div>

          </li>
            <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img">
                <!-- <a href="event.view.php"> -->
                  <img src="/img/event/edu_1801_small.jpg" alt=""/>
                <!-- </a> -->
              </div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 겨울방학이벤트
              </div>

          </li>
          <li>
            <!-- <a href="event.view.php"> -->
            <a></a>
              <div class="img"><img src="/img/event/edu_171201_small.jpg" alt=""/></div>
              <div class="txt">
                <strong class="ing">(종료)</strong> 겨울방학이벤트
              </div>

          </li>
          <li>
            <a>
              <div class="img"><img src="/img/img_eventlist02.jpg" alt=""/></div>
              <div class="txt">
                <strong class="end">(종료)</strong> 11월 고객감사 이벤트
              </div>
            </a>
          </li>
          <li>
            <a>
              <div class="img"><img src="/img/img_eventlist03.jpg" alt=""/></div>
              <div class="txt">
                <strong class="end">(종료)</strong> 10월 가을이벤트
              </div>
            </a>
          </li>
          <li>
            <a>
              <div class="img"><img src="/img/img_eventlist04.jpg" alt=""/></div>
              <div class="txt">
                <strong class="end">(종료)</strong> 9월 개강이벤트
              </div>
            </a>
          </li>
          <li>
            <a>
              <div class="img"><img src="/img/img_eventlist05.jpg" alt=""/></div>
              <div class="txt">
                <strong class="end">(종료)</strong> 여름방학이벤트
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="paging">
        <!--<a href="#" class="btn"><img src="..//img/btn_firstpage.png" alt="처음페이지로 이동" /></a>
        <a href="#" class="btn"><img src="..//img/btn_prevpage.png" alt="이전 10페이지로 이동" /></a> -->
        <strong>1</strong>
        <!--<a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
        <a href="#">10</a>
        <a href="#" class="btn"><img src="..//img/btn_nextpage.png" alt="다음 10페이지 이동" /></a>
        <a href="#" class="btn"><img src="..//img/btn_lastpage.png" alt="마지막페이지로 이동" /></a> -->
      </div>

    </div>
    <!-- //contents -->

  </div>
