  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>교육지원센터</li>
        <li>이벤트</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub05">
    <p>이벤트</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
    <!-- snb -->
    <aside></aside>
    <!-- //snb -->

    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit noBorder">이벤트</h3>

      <div class="event_view">

        <div class="table_view">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:80px;">
              <col style="width:220px">
              <col style="width:80px;">
              <col style="width:220px">
              <col style="width:80px;">
              <col style="">
            </colgroup>
            <tr>
              <th scope="row">제목 : </th>
              <td colspan="5"><?= $title;?></td>
            </tr>
            <tr>
              <th scope="row">작성자 :</th>
              <td>관리자</td>
              <th scope="row">작성일 :</th>
              <td>regdate</td>
              <th scope="row">조회 :</th>
              <td>cnt- delCnt</td>
            </tr>
            <tr>
              <td colspan="6" class="cont border" style='text-align: center'>
                <a href=""><img src=""></a>
              </td>
            </tr>
          </table>
        </div>

        <div class="btn_group">
          <div class="right">
            <a href="event.list.php" class="btn_style01">목록</a>
          </div>
        </div>

      </div>

    </div>
    <!-- //contents -->
