<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>교육지원센터</li>
      <li>프로그램 지원</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub05">
  <p>프로그램 지원</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit noBorder">프로그램 지원</h3>

    <div class="tab_area" id="tab_area">
      <ul>
        <li><a ui-sref="guide.program.pc" ui-sref-active="on">PC사양 안내</a></li>
        <li><a ui-sref="guide.program.internet" ui-sref-active="on">인터넷 속도체크</a></li>
        <li><a ui-sref="guide.program.recording" ui-sref-active="on">녹화방법안내</a></li>
        <li><a ui-sref="guide.program.self" ui-sref-active="on">자가진단</a></li>
      </ul>
    </div>

    <div class="pr_support">

      <div class="pr_support_list">

        <div class="item">
          <ol>
            <li>
              <div class="tit">
                <span class="num">1</span> 인터넷 속도 체크
              </div>
              <div class="txt">
                인터넷 품질 측정테스트를 통해 고객님의 인터넷 속도를 확인 가능합니다.<br />
                속도가 최소사양보다 낮을 경우 원스탑에듀 화상수업 진행에 어려움이 있을 수 있습니다.
              </div>
              <div class="table_list02">
                <table>
                  <caption class="hide"></caption>
                  <colgroup>
                    <col style="width:50%" />
                    <col style="width:50%" />
                  </colgroup>
                  <tr>
                    <th scope="col">최소사양</th>
                    <th scope="col">최대사양</th>
                  </tr>
                  <tr>
                    <td>다운로드 최소 1mbps 이상</td>
                    <td>다운로드 최소 2mbps 이상</td>
                  </tr>
                  <tr>
                    <td>업로드 최소 1mbps 이상</td>
                    <td>업로드 최소 2mbps 이상</td>
                  </tr>
                </table>
              </div>
            </li>
          </ol>
          <div class="btn">
            <a href="http://speed.nia.or.kr/index.asp" target="_blank">인터넷 품질 측정하기</a>
          </div>
        </div>

      </div>

    </div>

  </div>
  <!-- //contents -->

</div>
