<!-- path -->
  			<div class="path">
  				<div class="inner">
  					<ul>
  						<li>HOME</li>
  						<li>교육지원센터</li>
  						<li>프로그램 지원</li>
  					</ul>
  				</div>
  			</div>
  			<!-- //path -->

  			<!-- sub_top -->
  			<div class="sub_top sub05">
  				<p>프로그램 지원</p>
  			</div>
  			<!-- //sub_top -->

  			<div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
          <!-- contents -->
  				<div id="contents">

  					<h3 class="h3_tit noBorder">프로그램 지원</h3>

  					<div class="tab_area" id="tab_area">
  						<ul>
                <li><a ui-sref="guide.program.pc" ui-sref-active="on">PC사양 안내</a></li>
                <li><a ui-sref="guide.program.internet" ui-sref-active="on">인터넷 속도체크</a></li>
                <li><a ui-sref="guide.program.recording" ui-sref-active="on">녹화방법안내</a></li>
                <li><a ui-sref="guide.program.self" ui-sref-active="on">자가진단</a></li>
  						</ul>
  					</div>

  					<div class="pr_support">

  						<div class="pr_support_list">

  							<div class="item">
  								<ol>
  									<li>
  										<div class="tit">
  											<span class="num">1</span> PC사양 안내
  										</div>
  										<div class="txt">
  											원스탑에듀 화상수업 프로그램으로 진행할 수 있는 PC 최소/권장 사양입니다.
  										</div>
  										<div class="table_list02">
  											<table>
  												<caption class="hide"></caption>
  												<colgroup>
  													<col style="width:15%" />
  													<col style="width:42.5%" />
  													<col style="width:42.5%" />
  												</colgroup>
  												<tr>
  													<th scope="col">항목</th>
  													<th scope="col">최소사양</th>
  													<th scope="col">최대사양</th>
  												</tr>
  												<tr>
  													<td>CPU</td>
  													<td>인텔 팬티엄4 3.0GHZ 이상</td>
  													<td>인텔 듀얼코어 1.0GHZ 이상</td>
  												</tr>
  												<tr>
  													<td>메모리카드</td>
  													<td>512Mb 이상</td>
  													<td>1GB 이상</td>
  												</tr>
  												<tr>
  													<td>화면 해상도</td>
  													<td>1024 *768 이상</td>
  													<td>1440 *900 이상</td>
  												</tr>
  											</table>
  										</div>
  									</li>
  									<li>
  										<div class="tit">
  											<span class="num">2</span> 본인 PC사양 확인하기
  										</div>
  										<div class="img_area">
  											<img src="/img/img_pr_support01_01.jpg" alt=""/>
  										</div>
  									</li>
  								</ol>
  							</div>

  						</div>

  					</div>

  				</div>
  				<!-- //contents -->

  			</div>
