<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>교육지원센터</li>
      <li>프로그램 지원</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub05">
  <p>프로그램 지원</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit noBorder">프로그램 지원</h3>

    <div class="tab_area" id="tab_area">
      <ul>
        <li><a ui-sref="guide.program.pc" ui-sref-active="on">PC사양 안내</a></li>
        <li><a ui-sref="guide.program.internet" ui-sref-active="on">인터넷 속도체크</a></li>
        <li><a ui-sref="guide.program.recording" ui-sref-active="on">녹화방법안내</a></li>
        <li><a ui-sref="guide.program.self" ui-sref-active="on">자가진단</a></li>
      </ul>
    </div>

    <div class="pr_support">

      <div class="pr_support_list">

          <div class="item">
          <ol>
            <li>
              <div class="tit">
                <span class="num">1</span> 수동녹화
              </div>
              <div class="txt" style="padding-bottom:0;">
                진행하는 수업을 수동으로 회원님 PC에 녹화, 저장하여 언제든지 복습을 하실 수 있습니다.<br />
                직접 녹화를 원하시는 경우에는 하단의 설명에 따라서 녹화를 진행해주시기 바랍니다.<br />
                (단, 녹화 진행 시 종료 전 완료 버튼을 한번 더 클릭하셔야 정상적으로 녹화 완료가 되오니 참고해주시기 바랍니다.)
              </div>
            </li>
            <li>
              <div class="tit">
                <span class="num">2</span> 수동 녹화방법 안내
              </div>
              <div class="img_area">
                <img src="/img/img_pr_support02_01.jpg" alt="" />
              </div>
            </li>
          </ol>
        </div>


      </div>

    </div>

  </div>
  <!-- //contents -->

</div>
