<!-- path -->
  			<div class="path">
  				<div class="inner">
  					<ul>
  						<li>HOME</li>
  						<li>교육지원센터</li>
  						<li>프로그램 지원</li>
  					</ul>
  				</div>
  			</div>
  			<!-- //path -->

  			<!-- sub_top -->
  			<div class="sub_top sub05">
  				<p>프로그램 지원</p>
  			</div>
  			<!-- //sub_top -->

  			<div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-support.client.view.html'"></aside>
          <!-- contents -->
  				<div id="contents">

  					<h3 class="h3_tit noBorder">프로그램 지원</h3>

  					<div class="tab_area" id="tab_area">
  						<ul>
                <li><a ui-sref="guide.program.pc" ui-sref-active="on">PC사양 안내</a></li>
                <li><a ui-sref="guide.program.internet" ui-sref-active="on">인터넷 속도체크</a></li>
                <li><a ui-sref="guide.program.recording" ui-sref-active="on">녹화방법안내</a></li>
                <li><a ui-sref="guide.program.self" ui-sref-active="on">자가진단</a></li>
  						</ul>
  					</div>

  					<div class="pr_support">

  						<div class="pr_support_list">

  							<div class="item">
  								<ol>
  									<li>
  										<div class="tit">
  											<span class="num">1</span> 자가진단
  										</div>
  										<div class="txt">
  											수업 전 헤드셋 및 카메라가 작동하지 않는 경우 자가진단을 통하여 해결하실 수 있습니다.<br />
  											<span class="red">
  												* 수업 진행 중 회원님의 헤드셋 및 카메라에 장애가 발생하여 소진된 수업 분량은 수업이 진행된 것으로 간주하오니 주의하시기 바랍니다.
  											</span>
  										</div>
  										<div class="table_list03">
  											<table>
  												<caption class="hide"></caption>
  												<colgroup>
  													<col style="width:12%;" />
  													<col style="width:20%" />
  													<col />
  												</colgroup>
  												<tr>
  													<th scope="col">구분</th>
  													<th scope="col">발생사례</th>
  													<th scope="col">해결방안</th>
  												</tr>
  												<tr>
  													<td rowspan="9" class="first">헤드셋<br />(마이크)</td>
  													<td rowspan="2">마이크 되지 않는 경우</td>
  													<td class="left">헤드셋 종류마다 마이크 on/off 스위치가 없는 경우가 있으니 이점 확인해서 on으로 되어있는지 확인해야합니다.</td>
  												</tr>
  												<tr>
  													<td class="left">설치된 카메라에 내장 마이크가 탑재되어 있는 경우 헤드셋 마이크가 정상 작동하지 않을 수 있습니다.&nbsp;</td>
  												</tr>
  												<tr>
  													<td>Echo 현상</td>
  													<td class="left">볼륨컨트롤 &gt; 속성 &gt; 녹음 탭 &gt; Stereo 음소거를 하시면 소리울림 현상이 해결됩니다.</td>
  												</tr>
  												<tr>
  													<td>Boost Off</td>
  													<td class="left">보통 부스터를 체크하지 않아도 되는 경우가 많이 있지만 부스터를 체크 해야만 작동하는 경우가 있으니 이부분 체크를 해야합니다.</td>
  												</tr>
  												<tr>
  													<td>Front/Rear 구분</td>
  													<td class="left">회원님의 헤드셋이 컴퓨터 본체 어느 패널에 연결되어 있는지 확인 후 전면 패널인지, 후면 패널인지 정확히 체크합니다.</td>
  												</tr>
  												<tr>
  													<td>자신의 목소리 들림</td>
  													<td class="left">이 부분은 녹음이 아닌 재생탭에서 마이크 설정이 음소거 되어 있어야만 본인의 목소리가 들리지 않습니다.</td>
  												</tr>
  												<tr>
  													<td>잘못된 잭 연결</td>
  													<td class="left">보통 앞면 패널에 연결하시는 분들이 많이 있습니다. 앞면 패널은 설정이 잡혀 있어야만 작동하므로 컴퓨터 본체 뒷면에 색상별로 연결을 권장합니다. (※ 연결시 같은 색상으로 연결하시면 됩니다.)</td>
  												</tr>
  												<tr>
  													<td>Self Test 설정 오류</td>
  													<td class="left">
  														연결, 볼륨컨트롤 설정, 헤드셋 On/Off 등 모든 것에 이상이 없으나 작동이 되지 않는다면 회원님 쪽 사운드카드가 믹서장치를 2개 이상 설정이 잡혀있게 되어있는 경우입니다.<br />
  														이러한 경우 어느 믹서장치에서 마이크가 작동하는지 확인 후 Self Test Step에서 Mic 종류 선택을 해주어야 합니다.
  													</td>
  												</tr>
  												<tr>
  													<td>Mic 볼륨 음소거</td>
  													<td class="left">프로그램 혹은 볼륨컨트롤에서 음소거를 해제하시면 됩니다.</td>
  												</tr>
  												<tr>
  													<td rowspan="2" class="first">헤드셋<br />(스피커)</td>
  													<td>볼륨컨트롤,<br />웨이브 음소거</td>
  													<td class="left">볼륨컨트롤 및 웨이브 둘중에 한가지라도 음소거가 되어있는 경우 소리가 들리지 않으므로 확인하시면 됩니다.</td>
  												</tr>
  												<tr>
  													<td>잘못된 잭 연결</td>
  													<td class="left">보통 뒷면 패널에 연결할시 외장스피커가 연결되어 있으므로 남아있는 구멍에 헤드셋의 연두색 잭을 연결하시는 경우가 있는데 반드시 외장스피커잭을 분리 후 그자리에 헤드셋의 연두색 잭을 연결해야합니다.</td>
  												</tr>
  												<tr>
  													<td rowspan="3" class="first">카메라</td>
  													<td>잘못된 USB 연결</td>
  													<td class="left">기존에 카메라 설치시 USB가 연결되어 있는 자리 외의 다른 포트에 연결한 경우 재설치를 해야하므로 기존에 연결되어있던 자리에 연결하시기 바랍니다.</td>
  												</tr>
  												<tr>
  													<td>카메라 중복 사용</td>
  													<td class="left">카메라는 중복하여 사용이 안되므로 강의실 프로그램 외 카메라가 작동되고 있는 프로그램이 있는지 확인해야 합니다.</td>
  												</tr>
  												<tr>
  													<td>카메라 초점 조절</td>
  													<td class="left">회원님의 카메라 화면이 흐리게 나오는 경우 초점을 조절해야하므로 카메라의 렌즈 부분을 돌려서 조절하시면 됩니다.</td>
  												</tr>
  											</table>
  										</div>
  									</li>
  								</ol>
  							</div>

  						</div>

  					</div>

  				</div>
  				<!-- //contents -->

  			</div>
