  			<div class="inner">


  			  <!-- contents -->
  			  <div id="contents" class="wide">

  			    <div class="login borderBottom">
  			      <h3>아이디/비밀번호 찾기</h3>
  			      <p>
  			        아이디와 비밀번호를 잊어버리셨나요?<br />
  			        회원가입 시 등록된 정보로 아이디, 비밀번호를 찾을 수 있습니다.
  			      </p>
  			      <div class="findID">
  			        <div class="tab">
  			          <ul>
  			            <li><a ui-sref="user.find-username" class="on">아이디 찾기</a></li>
  			            <li><a ui-sref="user.find-password">비밀번호 찾기</a></li>
  			          </ul>
  			        </div>
  			        <p>아이디를 모르시나요?</p>
  			        <form name="vm.form.findUsernameForm" novalidate autocomplete="off" method="post">
  			          <ul>
  			            <li class="form-group" show-errors>
  			              <label for="koreanName">이름</label>
  			              <input id="koreanName" name="koreanName" type="text" ng-model="vm.user.koreanName" class="form-control help-block find-error-input" placeholder="이름을 입력해주세요." required/>
  			            </li>
  			            <li class="form-group" show-errors>
  			              <label for="mobile">휴대폰</label>
  			              <input id="mobile" name="mobile" type="text" ng-model="vm.user.mobile" ng-keyup="vm.numberValid();" class="form-control help-block find-error-input" placeholder="휴대폰 번호를 입력해주세요." required />
  			            </li>
  			          </ul>
  			          <a href="javascript:;" ng-click="vm.findUsername(vm.form.findUsernameForm.$valid)" class="btn_findID open_pop">아이디 찾기</a>

  			        </form>
  			      </div>

  			    </div>

  			  </div>
  			  <!-- //contents -->

  			</div>

  			<!-- 아이디 찾기 팝업 -->
  			<div class="pop pop_findID" ng-class="{'show': vm.isFindUsername}">
  			  <div class="inner">
  			    <p class="txt" ng-if="vm.user.koreanName && vm.user.mobile">
  			      {{(vm.isRegistered) ? "회원님의 등록된 아이디입니다." : "아이디 찾기 실패"}}
  			    </p>
            <p ng-class="{findIdErr : !vm.user.koreanName || !vm.user.mobile}" ng-if="!vm.user.koreanName || !vm.user.mobile">해당 정보를 입력해주세요</p>
            <p class="findId" ng-class="{findIdErr :!vm.isRegistered}"  ng-if="vm.user.koreanName && vm.user.mobile">{{(vm.isRegistered) ? vm.user.username : "해당하는 아이디를 찾을 수 없습니다."}}</p>
  			    <a href="javascript:;" class="close_pop" ng-click="vm.isFindUsername = !vm.isFindUsername">확인</a>
  			  </div>
  			</div>
  			<!-- //아이디 찾기 팝업 -->
