<div class="inner">


  <!-- contents -->
  <div id="contents" class="wide">

    <div class="login borderBottom">
      <h3>아이디/비밀번호 찾기</h3>
      <p>
        아이디와 비밀번호를 잊어버리셨나요?<br />
        회원가입 시 등록된 정보로 아이디, 비밀번호를 찾을 수 있습니다.
      </p>
      <div class="findID">
        <div class="tab">
          <ul>
            <li><a ui-sref="user.find-username">아이디 찾기</a></li>
            <li><a ui-sref="user.find-password" class="on">비밀번호 찾기</a></li>
          </ul>
        </div>
        <p>비밀번호를 모르시나요?</p>
        <form name="vm.form.findPasswordForm" novalidate autocomplete="off" method="post">
          <ul>
            <li class="form-group" show-errors>
              <label for="username">아이디</label>
              <input type="text" id="username" name="username" ng-model="vm.user.username" class="form-control help-block find-error-input" placeholder="아이디를 입력해주세요." required/>
            </li>
            <li class="form-group" show-errors>
              <label for="mobile">휴대폰</label>
              <input type="text" id="mobile" name="mobile" ng-model="vm.user.mobile" ng-keyup="vm.numberValid();" class="form-control help-block find-error-input" placeholder="휴대폰 번호를 입력해주세요." required/>
            </li>
          </ul>
          <a href="javascript:;" ng-click="vm.findPassword(vm.form.findPasswordForm.$valid)" class="btn_findID">비밀번호 찾기</a>
        </form>
      </div>

    </div>

  </div>
  <!-- //contents -->

</div>

<!-- 비밀번호 찾기 팝업 -->
<div class="pop pop_findID" ng-class="{'show': vm.isFindPassword}">
  <div class="inner">
    <p class="txt" ng-if="vm.user.username && vm.user.mobile">
        {{(vm.isPassword) ? "회원님의 휴대폰 번호로 임시 비밀번호를 발송하였습니다.": "아이디와 휴대폰 번호가 일치하지 않거나 잘못되었습니다."}}
    </p>
    <p ng-class="{findIdErr : !vm.user.username || !vm.user.mobile}" ng-if="!vm.user.username || !vm.user.mobile">해당 정보를 입력해주세요</p>
    <p class="txt_red" ng-if="vm.user.username && vm.user.mobile">
      {{(vm.isPassword) ? "로그인 후에는 비밀번호를 변경해주시길 바랍니다.": "02-6383-8883 으로 문의하여 주세요."}}
    </p>
    <a href="javascript:;" class="close_pop" ng-click="vm.isFindPassword = !vm.isFindPassword">확인</a>
  </div>
</div>
<!-- //비밀번호 찾기 팝업 -->
