  			<div class="inner">



          <!-- contents -->
  				<div id="contents" class="wide">

  					<div class="join_complete">
  						<h3>원스탑에듀 회원가입을 진심으로 감사드립니다. </h3>
  						<p class="txt">
  							원스탑에듀 회원가입이 완료되었습니다.<br />
  							로그인 하시면, 다양한 교육서비스와 컨텐츠를 이용하실 수 있습니다.
  						</p>
  						<div class="btn">
  							<a ui-sref="user.signin">로그인</a>
  						</div>
  					</div>

  				</div>
  				<!-- //contents -->

  			</div>
