<div class="inner">

  <!-- contents -->
  <div id="contents" class="wide">

    <div class="join">
      <form name="vm.form.signupForm" novalidate autocomplete="off">
        <h3>회원가입</h3>
        <p class="txt">※ 회원 가입을 위해서 *표기된 아래 항목을 필수 입력하셔야 합니다. </p>

        <div class="form-group" show-errors show-errors-username>
          <label for="username">아이디 <span class="star">*</span></label>
          <div>
            <input id="username" name="username" type="text" class="form-control help-block error-input" ng-model="vm.credentials.username" ng-pattern="vm.userNameRex" minlength="4" lowercase required />
            <a href="javascript:;" id="idCheck" ng-model="vm.checkedUsername" ng-click="vm.findUniqueUsername()" class="btn">중복확인</a>

            <span class="chk" ng-if="!vm.isFindUniqueUsername">id 중복 확인을 해주세요.</span>
            <span class="chk2 green" ng-if="vm.isFindUniqueUsername" > 사용할 수 있는 아이디 입니다.</span>
            <span class="chk2 red" ng-if="!vm.isFindUniqueUsername && vm.isUsernameError" > 사용할 수 없는 아이디 입니다.</span>

            <div class="chk" ng-messages="vm.form.signupForm.username.$error" role="alert">
              <p ng-message="pattern" class="help-block error-text">아이디는 영어와 숫자만 입력해주세요.</p>
              <p ng-message="minlength" class="help-block error-text">아이디는 4자 이상 입력해주세요.</p>
            </div>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label for="password">비밀번호 <span class="star">*</span></label>
          <div>
            <input id="password" name="password" type="password" class="form-control help-block error-input" ng-model="vm.credentials.password" maxlength="20" minlength="8" required />
            <span class="chk">8자~20자 이내로 입력해주세요.</span>

            <div class="chk" ng-messages="vm.form.signupForm.password.$error" role="alert">
              <p ng-message="required" class="help-block error-text">필수 입력 사항입니다.</p>
              <p ng-message="minlength" class="help-block error-text">8자 이상으로 입력해주세요.</p>
            </div>

          </div>
        </div>


        <div class="form-group" show-errors>
          <label for="rePassword">비밀번호 확인 <span class="star">*</span></label>
          <div>
            <input id="rePassword" name="rePassword" type="password" class="form-control help-block error-input" ng-model="vm.credentials.rePassword" ng-pattern="vm.credentials.password" required />
            <span class="chk">비밀번호 확인란은 비밀번호와 동일하게 입력해주세요.</span>
            <div class="chk" ng-messages="vm.form.signupForm.rePassword.$error" role="alert">
              <p ng-message="required" class="help-block error-text">필수 입력 사항입니다.</p>
              <p ng-message="pattern" class="help-block error-text">동일한 비밀번호를 입력해주세요.</p>
            </div>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label for="koreanName">이름 <span class="star">*</span></label>
          <div>
            <input id="koreanName" name="koreanName" type="text" class="form-control help-block error-input" ng-model="vm.credentials.koreanName" ng-pattern="vm.koreanNameRex" required />
            <div class="chk" ng-messages="vm.form.signupForm.koreanName.$error" role="alert">
              <p ng-message="required" class="help-block error-text">필수 입력 사항입니다.</p>
              <p ng-message="pattern" class="help-block error-text">올바른 이름을 입력해주세요.</p>
            </div>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label for="englishName">영어 닉네임 <span class="star">*</span></label>
          <div>
            <input id="englishName" name="englishName" type="text" class="form-control help-block error-input" ng-model="vm.credentials.englishName" ng-pattern="vm.englishNameRex" lowercase required />
            <div class="chk" ng-messages="vm.form.signupForm.englishName.$error" role="alert">
              <p ng-message="required" class="help-block error-text">필수 입력 사항입니다.</p>
              <p ng-message="pattern" class="help-block error-text">영어만 입력해주세요.</p>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="skype">스카이프 아이디</label>
          <div>
            <input id="skype" name="skype" type="text" ng-model="vm.skype" />
            <span class="chk">스카이프 강의 시 필수 기재 사항입니다.</span>
          </div>
        </div>


        <div class="form-group">
          <label for="mobile">휴대폰 번호 <span class="star">*</span></label>
          <div>
            <div class="form-group phone-left" show-errors>
              <input type="text" name="mobileFirst" id="mobileFirst" ng-model="vm.mobileFirst" ng-pattern="vm.mobileRex" class="form-control help-block error-input" maxlength="3" style="width:70px;" required /> -
            </div>
            <div class="form-group phone-left" show-errors>
              <input type="text" name="mobileMiddle" id="mobileMiddle" ng-model="vm.mobileMiddle" ng-pattern="vm.mobileRex" class="form-control help-block error-input" maxlength="4" style="width:70px;" required /> -
            </div>
            <div class="form-group phone-left" show-errors>
              <input type="text" name="mobileLast" id="mobileLast" ng-model="vm.mobileLast" ng-pattern="vm.mobileRex" class="form-control help-block error-input" maxlength="4" style="width:70px;" required />
            </div>
            <div class="chk" ng-messages="vm.form.signupForm.mobileFirst.$error" role="alert">
              <p ng-message="required" class="help-block error-text">필수 입력 사항입니다.</p>
            </div>

          </div>
        </div>


        <div class="form-group" style="clear:both" show-errors >
          <label for="email">이메일 <span class="star">*</span></label>
          <div>
            <input id="email" name="email" type="email" class="form-control help-block error-input" ng-model="vm.credentials.email" style="width:370px;" ng-pattern="vm.emailRex" required />
            <div class="chk" ng-messages="vm.form.signupForm.email.$error" role="alert">
              <p ng-message="required" class="help-block error-text">필수 입력 사항입니다.</p>
              <p ng-message="pattern" class="help-block error-text">이메일 형식이 올바르지 않습니다.</p>
            </div>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label for="address">주소 <span class="star">*</span></label>
          <div>
            <input id="zipNo" name="zipcode" type="text" class="form-control help-block error-input" ng-model="vm.credentials.zipcode" style="width:110px;margin-bottom:8px;" required />
            <a class="btn" href="javascript:;">우편 번호 검색</a><br />
            <input id="address" name="address" type="text" class="form-control help-block error-input" ng-model="vm.credentials.address" style="width:450px;margin:0 10px 0 135px" />
            <div class="chk" ng-messages="vm.form.signupForm.zipcode.$error" role="alert">
              <p ng-message="required" class="help-block error-text">필수 입력 사항입니다.</p>
            </div>
          </div>
        </div>

        <div class="join_agree">
          <h4>약관동의</h4>
          <div class="agree">
            <div class="all_chk">
              <input id="termsAll" name="termsAll" type="checkbox" ng-model="vm.isTermsAllChecked" ng-change="vm.termsAllChanged()" />
              <label for="termsAll">전체 이용약관에 동의합니다.</label>
            </div>
            <ul>
              <li>
                <input id="termUse" name="termUse" type="checkbox" checklist-model="vm.terms" value="use" checklist-change="vm.termsChanged()" />
                <label for="termUse">이용약관에 동의 <span>(필수)</span></label>
              </li>
              <li>
                <input id="termPersonal" name="termPersonal" type="checkbox" checklist-model="vm.terms" value="personal" checklist-change="vm.termsChanged()" />
                <label for="termPersonal">개인정보 취급 방침 동의 <span>(필수)</span></label>
              </li>
            </ul>
          </div>
          <div class="terms">
            <strong>원스탑에듀 이용약관</strong>
            <div class="txt" ng-include="'/modules/user/client/views/termsinfo/useRull.html'"></div>
            <strong>개인정보 수집 및 이용약관</strong>
            <div class="txt" ng-include="'/modules/user/client/views/termsinfo/personal.html'"></div>
          </div>
          <div class="btn">
            <a href="javascript:;" ng-click="vm.signup(vm.form.signupForm.$valid)" scroll-top>회원가입</a>
          </div>
        </div>
      </form>
    </div>

  </div>
  <!-- //contents -->

</div>
