
  <div class="inner">


    <!-- contents -->
    <div id="contents" class="wide">

      <div class="login">
        <h3>Sign In</h3>
        <p>로그인하시면, 원스탑에듀의 서비스를 이용하실 수 있습니다.</p>
        <div class="login_form">
        <!-- <form name="vm.form.signinForm" novalidate autocomplete="off"> -->
          <div class="form-group" name="vm.form.signinForm">
          <ul>
            <li>
              <label for="username">아이디</label>
              <input id="username" name="username" type="text" ng-model="vm.user.username" ng-keydown="$event.keyCode === 13 && vm.signin()" class="form-control" autocomplete="off" required/>
            </li>
            <li class="form-group">
              <label for="password">비밀번호</label>
              <input id="password" name="password" type="password" ng-model="vm.user.password" ng-keydown="$event.keyCode === 13 && vm.signin()" class="form-control" required/>
            </li>
          </ul>

          <button type="button" ng-click="vm.signin(vm.form.signinForm.$valid)" class="btn_login">로그인</button>

          <p>
            <input id="loginKeep" name="loginKeep" type="checkbox"/>
            <label for="loginKeep"> 로그인 상태 유지</label>
          </p>


          <div class="necessary" role="alert" ng-if="vm.isSigninError">
            <p ng-if="!vm.user.username || !vm.user.password">등록되지 않은 아이디이거나, 아이디 또는 비밀번호를 잘못 입력하셨습니다</p>
          </div>

         </div>
        <!-- </form> -->
        </div>

        <div class="btn_list">
          <ul>
            <li>
              아이디/비밀번호를 잊으셨나요?
              <a ui-sref="user.find-username" class="btn">아이디/비밀번호찾기</a>
            </li>
            <li>

              원스탑에듀 회원이 되시면, 더 많은 혜택을 제공 받을 수 있습니다.
              <a ui-sref="user.signup" class="btn">회원가입</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
