<table>
  <caption class="hide"></caption>
  <colgroup>
    <col style="width:90px">
    <col style="width:90px">
    <col style="width:90px">
    <col style="width:90px">
    <col style="width:90px">
    <col style="width:90px">
  </colgroup>
  <tbody>
    <tr ng-repeat="row in ctrl.rows">
      <th>{{row.title}} 시</th>
      <td ng-repeat="dateset in row.datesets">
        <span id={{dateset.id}} ng-class="{
          'pass': dateset.isBefore,
          'on': ctrl.active === dateset.id
        }" ng-click="ctrl.select(dateset)">{{dateset.label}}</span>
      </td>
    </tr>
  </tbody>
</table>
