<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>마이페이지</li>
      <li>나의 수업관리</li>
      <li>결제내역</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub06">
  <p>결제내역</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>

  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit">결제내역</h3>

    <div class="pay_list">

      <div class="table_list04">
        <table>
          <caption class="hide"></caption>
          <colgroup>
            <col style="" />
            <col style="width:100px" />
            <col style="width:80px" />
            <col style="width:80px" />
            <col style="width:80px" />
            <col style="width:80px" />
            <col style="width:80px" />
            <col style="width:80px" />
            <col style="width:80px" />
          </colgroup>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">결제일</th>
            <th scope="col">수강과정</th>
            <th scope="col">결제금액</th>
            <th scope="col">결제수단</th>
            <th scope="col">결제상태</th>
            <th scope="col">영수증</th>
            <th scope="col">출석증명</th>
            <th scope="col">수강증</th>
          </tr>

          <tr ng-repeat="payment in vm.payments | orderBy : '-created'">
            <td>{{(vm.totalItems - $index) - ((vm.currentPage - 1) * 5)}}</td>
            <td>{{payment.created | date : 'yyyy-MM-dd'}}</td>
            <td>
              {{payment.paymentedProduct.month}}개월/ 주 {{payment.paymentedProduct.times}}회 {{payment.paymentedProduct.minutes}}분
            </td>
            <td>{{payment.paymentedProduct.price | currency : '' : 0}}</td>
            <td>
            <span ng-if="payment.method === 'DWB'">무통장입금</span>
            <span ng-if="payment.method === 'CC'">신용카드</span>
            <span ng-if="payment.method === 'AT'">계좌이체</span>
            <span ng-if="payment.method === 'ARS'">ARS결제</span>
            <span ng-if="payment.method === 'PAYUP'">SMS결제</span>
            </td>
            <td>
              <span ng-if="payment.state === 'unpaid'">미결제</span>
              <span ng-if="payment.state === 'pending'">결제 확인 전</span>
              <span ng-if="payment.state === 'checked'">결제 확인</span>
              <span ng-if="payment.state === 'canceled'">결제 취소</span>
              <span ng-if="payment.state === 'completed'">완료</span>
              <span ng-if="payment.state === 'refunded'">환불</span>
            </td>
            <td><a href='javascript:;' ng-click="vm.openProof($index, 'receipt')" class='btn'>출력</a></td>
            <td><a href='javascript:;' ng-click="vm.openProof($index, 'attendance')" ng-if="payment.state === 'completed'" class='btn'>출력</a></td>
            <td><a href='javascript:;' ng-click="vm.openProof($index, 'lesson')" ng-if="payment.state === 'completed'" class='btn'>출력</a></td>
          </tr>
        </table>
      </div>


      <div uib-pagination boundary-links="true" rotate="false" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"
        template-url="modules/core/client/templates/pagination.client.view.html"></div>

    </div>

  </div>
  <!-- //contents -->

</div>




<!-- 영수증 팝업 -->
<div class="pop pop_receipt pop_appear" ng-class="{'show': vm.titles === 'receipt'}" id="printReceipt">
  <div class="inner" ng-model="vm.addClass">
    <a href="javascript:;" ng-click="vm.titles = ''" class="close_pop"><img src="/img/btn_close.png" alt="close" /></a>
    <h3>영수증</h3>
    <div class="table_list04">
      <table>
        <caption class="hide"></caption>
        <colgroup>
          <col style="width:75px" />
          <col />
        </colgroup>
        <tr>
          <th scope="row">회원명</th>
          <td class="left userName">{{vm.auth.user.koreanName}}</td>
        </tr>
        <tr>
          <th scope="row">수업과정</th>
          <td class="left lessonName">
            <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct">
              {{vm.payments[vm.paymentIdx].paymentedProduct.month}}개월 주{{vm.payments[vm.paymentIdx].paymentedProduct.times}}회 {{vm.payments[vm.paymentIdx].paymentedProduct.minutes}}분
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">수업형태</th>
          <td class="left lessonType" id="lessonType">
            <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'skype'">스카이프</span>
            <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'telephone'">전화</span>
            <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'screenBoard'">화상칠판</span>
          </td>
        </tr>
        <tr>
          <th scope="row">수업기간</th>
          <td class="left lessonTerm">
            <span ng-if="vm.payments[vm.paymentIdx].course">
              {{vm.payments[vm.paymentIdx].course.startLesson.started | date : 'yyyy-MM-dd'}} ~ {{vm.payments[vm.paymentIdx].course.endLesson.started | date : 'yyyy-MM-dd'}}
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="table_list04">
      <table>
        <caption class="hide"></caption>
        <colgroup>
          <col style="width:75px" />
          <col />
        </colgroup>
        <tr>
          <th scope="row">결제금액</th>
          <td class="left paymentPriceAndType">
            <span ng-if="vm.titles === 'receipt'">{{vm.payments[vm.paymentIdx].paymentedProduct.price | currency : '' : 0}}원 / </span>
            <span ng-if="vm.payments[vm.paymentIdx].method === 'DWB'">무통장입금</span>
            <span ng-if="vm.payments[vm.paymentIdx].method === 'CC'">신용카드</span>
            <span ng-if="vm.payments[vm.paymentIdx].method === 'AT'">계좌이체</span>
            <span ng-if="vm.payments[vm.paymentIdx].method === 'ARS'">ARS결제</span>
            <span ng-if="vm.payments[vm.paymentIdx].method === 'PAYUP'">SMS결제</span>
            <a href="javascript:;" ng-if="vm.payments[vm.paymentIdx].method === 'CC'" class="btn02" onclick="alert('죄송합니다. 해당 서비스는 아직 준비중입니다.');return false;">신용카드전표</a>
          </td>
        </tr>
        <tr>
          <th scope="row">결제상태</th>
          <td class="left paymentStatus">
            <span ng-if="vm.payments[vm.paymentIdx].state === 'completed'">완료</span>
            <span ng-if="vm.payments[vm.paymentIdx].state === 'unpaid'">미결제</span>
            <span ng-if="vm.payments[vm.paymentIdx].state === 'pending'">결제 확인 전</span>
            <span ng-if="vm.payments[vm.paymentIdx].state === 'checked'">결제 확인</span>
            <span ng-if="vm.payments[vm.paymentIdx].state === 'canceled'">결제 취소</span>
            <span ng-if="vm.payments[vm.paymentIdx].state === 'refunded'">환불</span>
          </td>
        </tr>
        <tr>
          <th scope="row">결제일자</th>
          <td class="left paymentRegdate">{{vm.payments[vm.paymentIdx].created | date : 'yyyy-MM-dd'}}</td>
        </tr>
      </table>
    </div>
    <div class="sign">
      <span>{{vm.today}}</span>
      <br />
      대표 <strong>신 동 철</strong> (인)
      <div class="sign_img"><img src="/img/img_sign.png" alt="" /></div>
    </div>
    <div class="table_list04">
      <table>
        <caption class="hide"></caption>
        <colgroup>
          <col style="width:75px" />
          <col style="width:90px" />
          <col style="width:75px" />
          <col style="width:100px" />
        </colgroup>
        <tr>
          <th scope="row">상호명</th>
          <td>㈜케이-21</td>
          <th scope="row">사업자번호</th>
          <td>129-81-32383</td>
        </tr>
        <tr>
          <th scope="row">소재지</th>
          <td colspan="3" class="left">서울시 마포구 서교동 잔다리로 64, 4층</td>
        </tr>
        <tr>
          <th scope="row">업태</th>
          <td>교육서비스</td>
          <th scope="row">종목</th>
          <td>인터넷교육</td>
        </tr>
      </table>
    </div>
    <div class="btn">
      <a href="javascript:;" ng-print print-element-id="printReceipt" class="printBtn" id="pop_receipt">인쇄</a>
    </div>
  </div>
</div>
<!-- //영수증 팝업 -->



<!-- 출석증명 팝업 -->
<div class="pop pop_attendance pop_appear" ng-class="{'show': vm.titles === 'attendance'}" id="printAttendance">
  <div class="inner">
    <a href="javascript:;" ng-click="vm.titles = ''" class="close_pop"><img src="/img/btn_close.png" alt="close" /></a>
    <h3>출석증명</h3>
    <div class="table_list04">
      <table>
        <caption class="hide"></caption>
        <colgroup>
          <col style="width:75px" />
          <col />
        </colgroup>
        <tr>
          <th scope="row">회원명</th>
          <td class="left userName">{{vm.auth.user.koreanName}}</td>
        </tr>
        <tr>
          <th scope="row">수업과정</th>
          <td class="left lessonName">
            {{vm.payments[vm.paymentIdx].paymentedProduct.month}}개월 주{{vm.payments[vm.paymentIdx].paymentedProduct.times}}회 {{vm.payments[vm.paymentIdx].paymentedProduct.minutes}}분
          </td>
        </tr>
        <tr>
          <th scope="row">수업형태</th>
          <td class="left lessonType">
            <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'skype'">스카이프</span>
            <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'telephone'">전화</span>
            <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'screenBoard'">화상칠판</span>
          </td>
        </tr>
        <tr>
          <th scope="row">수강기간</th>
          <td class="left lessonTerm">
            <span ng-if="vm.payments[vm.paymentIdx].course">
              {{vm.payments[vm.paymentIdx].course.startLesson.started | date : 'yyyy-MM-dd'}} ~ {{vm.payments[vm.paymentIdx].course.endLesson.started | date : 'yyyy-MM-dd'}}
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">담당강사</th>
          <td class="left capital">{{vm.payments[vm.paymentIdx].course.mainTutor.nickName}}</td>
        </tr>
      </table>
    </div>
    <div class="table_list04">
      <table>
        <caption class="hide"></caption>
        <colgroup>
          <col style="width:25%" />
          <col style="width:25%" />
          <col style="width:25%" />
          <col style="width:25%" />
        </colgroup>
        <tr>
          <th scope="col">총수업횟수</th>
          <th scope="col">출석</th>
          <th scope="col">결석</th>
          <th scope="col">출석률</th>
        </tr>
        <tr>
          <td class="lessonTotalNum">{{vm.payments[vm.paymentIdx].course.countingCurrent.lesson}}</td>
          <td class="attendInTotal">{{vm.payments[vm.paymentIdx].course.countingCurrent.attendance}}</td>
          <td class="nonAttendNum">{{vm.payments[vm.paymentIdx].course.countingCurrent.absence}}</td>
          <td class="attendPercent">{{vm.payments[vm.paymentIdx].course.rating.success}}%</td>
        </tr>
      </table>
      <p style="margin-top:8px; font-size:12px;text-align: left;">* 홀딩중이거나 수업예정인 수업은 출석률에 포함되지 않습니다.</p>
    </div>
    <div class="sign">
      <span>{{vm.today}}</span>
      <br />
      대표 <strong>신 동 철</strong> (인)
      <div class="sign_img"><img src="/img/img_sign.png" alt="" /></div>
    </div>
    <div class="table_list04">
      <table>
        <caption class="hide"></caption>
        <colgroup>
          <col style="width:75px" />
          <col style="width:90px" />
          <col style="width:75px" />
          <col style="width:100px" />
        </colgroup>
        <tr>
          <th scope="row">상호명</th>
          <td>㈜케이-21</td>
          <th scope="row">사업자번호</th>
          <td>129-81-32383</td>
        </tr>
        <tr>
          <th scope="row">소재지</th>
          <td colspan="3" class="left">서울시 마포구 서교동 잔다리로 64, 4층</td>
        </tr>
        <tr>
          <th scope="row">업태</th>
          <td>교육서비스</td>
          <th scope="row">종목</th>
          <td>인터넷교육</td>
        </tr>
      </table>
    </div>
    <div class="btn">
      <a href="javascript:;" ng-print print-element-id="printAttendance" class="printBtn" id="pop_attendance">인쇄</a>
    </div>
  </div>
</div>
<!-- //출석증명 팝업 -->

<!-- 수강증 팝업 -->
<div class="pop pop_certificate pop_appear" ng-class="{'show': vm.titles === 'lesson'}" id="printLesson">
  <div class="inner">
    <a href="javascript:;" ng-click="vm.titles = ''" class="close_pop"><img src="/img/btn_close.png" alt="close" /></a>
    <h3>수강증</h3>
    <div class="table_list04">
      <table>
        <caption class="hide"></caption>
        <colgroup>
          <col style="width:75px" />
          <col />
        </colgroup>
        <tr>
          <th scope="row">회원명</th>
          <td class="left userName">{{vm.auth.user.koreanName}}</td>
        </tr>
        <tr>
          <th scope="row">수업과정</th>
          <td class="left lessonName">
            {{vm.payments[vm.paymentIdx].paymentedProduct.month}}개월 주{{vm.payments[vm.paymentIdx].paymentedProduct.times}}회 {{vm.payments[vm.paymentIdx].paymentedProduct.minutes}}분
          </td>
        </tr>
        <tr>
          <th scope="row">수업형태</th>
          <td class="left lessonType">
            <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'skype'">스카이프</span>
            <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'telephone'">전화</span>
            <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'screenBoard'">화상칠판</span>
          </td>
        </tr>
        <tr>
          <th scope="row">수강기간</th>
          <td class="left lessonTerm">
            {{vm.payments[vm.paymentIdx].course.startLesson.started | date : 'yyyy-MM-dd'}} ~ {{vm.payments[vm.paymentIdx].course.endLesson.started | date : 'yyyy-MM-dd'}}
          </td>
        </tr>
        <tr>
          <th scope="row">담당강사</th>
          <td class="left capital">{{vm.payments[vm.paymentIdx].course.mainTutor.nickName}}</td>
        </tr>
      </table>
    </div>
    <div class="finish_txt">위와 같이 원스탑에듀에 수강신청하였음을 확인합니다.</div>
    <div class="sign">
      <span>{{vm.today}}</span>
      <br />
      대표 <strong>신 동 철</strong> (인)
      <div class="sign_img"><img src="/img/img_sign.png" alt="" /></div>
    </div>
    <div class="table_list04">
      <table>
        <caption class="hide"></caption>
        <colgroup>
          <col style="width:75px" />
          <col style="width:90px" />
          <col style="width:75px" />
          <col style="width:100px" />
        </colgroup>
        <tr>
          <th scope="row">상호명</th>
          <td>㈜케이-21</td>
          <th scope="row">사업자번호</th>
          <td>129-81-32383</td>
        </tr>
        <tr>
          <th scope="row">소재지</th>
          <td colspan="3" class="left">서울시 마포구 서교동 잔다리로 64, 4층</td>
        </tr>
        <tr>
          <th scope="row">업태</th>
          <td>교육서비스</td>
          <th scope="row">종목</th>
          <td>인터넷교육</td>
        </tr>
      </table>
    </div>
    <div class="btn">
      <a href="javascript:;" ng-print print-element-id="printLesson" class="printBtn" id="pop_certificate">인쇄</a>
    </div>
  </div>
</div>
<!-- //수강증 팝업 -->
