<div class="inner">
  <a href="javascript:;" ng-click="vm.titles = ''" class="close_pop"><img src="/img/btn_close.png" alt="close" /></a>
  <h3>영수증</h3>
  <div class="table_list04">
    <table>
      <caption class="hide"></caption>
      <colgroup>
        <col style="width:75px" />
        <col />
      </colgroup>
      <tr>
        <th scope="row">회원명</th>
        <td class="left userName">{{vm.auth.user.koreanName}}</td>
      </tr>
      <tr>
        <th scope="row">수업과정</th>
        <td class="left lessonName">
          <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct">
            {{vm.payments[vm.paymentIdx].paymentedProduct.month}}개월 주{{vm.payments[vm.paymentIdx].paymentedProduct.times}}회 {{vm.payments[vm.paymentIdx].paymentedProduct.minutes}}분
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">수업형태</th>
        <td class="left lessonType" id="lessonType">
          <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'skype'">스카이프</span>
          <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'telephone'">전화</span>
          <span ng-if="vm.payments[vm.paymentIdx].paymentedProduct.productType === 'screenBoard'">화상칠판</span>
        </td>
      </tr>
      <tr>
        <th scope="row">수업기간</th>
        <td class="left lessonTerm">
          <span ng-if="vm.payments[vm.paymentIdx].course">
            {{vm.payments[vm.paymentIdx].course.startLesson.started | date : 'yyyy-MM-dd'}} ~ {{vm.payments[vm.paymentIdx].course.endLesson.started | date : 'yyyy-MM-dd'}}
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="table_list04">
    <table>
      <caption class="hide"></caption>
      <colgroup>
        <col style="width:75px" />
        <col />
      </colgroup>
      <tr>
        <th scope="row">결제금액</th>
        <td class="left paymentPriceAndType">
          <span ng-if="vm.titles === 'receipt'">{{vm.payments[vm.paymentIdx].paymentedProduct.price | currency : '' : 0}}원 / </span>
          <span ng-if="vm.payments[vm.paymentIdx].method === 'DWB'">무통장입금</span>
          <span ng-if="vm.payments[vm.paymentIdx].method === 'CC'">신용카드</span>
          <span ng-if="vm.payments[vm.paymentIdx].method === 'AT'">계좌이체</span>
          <span ng-if="vm.payments[vm.paymentIdx].method === 'ARS'">ARS결제</span>
          <span ng-if="vm.payments[vm.paymentIdx].method === 'PAYUP'">SMS결제</span>
          <a href="javascript:;" ng-if="vm.payments[vm.paymentIdx].method === 'CC'" class="btn02" onclick="alert('죄송합니다. 해당 서비스는 아직 준비중입니다.');return false;">신용카드전표</a>
        </td>
      </tr>
      <tr>
        <th scope="row">결제상태</th>
        <td class="left paymentStatus">
          <span ng-if="vm.payments[vm.paymentIdx].state === 'completed'">완료</span>
          <span ng-if="vm.payments[vm.paymentIdx].state === 'unpaid'">미결제</span>
          <span ng-if="vm.payments[vm.paymentIdx].state === 'pending'">결제 확인 전</span>
          <span ng-if="vm.payments[vm.paymentIdx].state === 'checked'">결제 확인</span>
          <span ng-if="vm.payments[vm.paymentIdx].state === 'canceled'">결제 취소</span>
          <span ng-if="vm.payments[vm.paymentIdx].state === 'refunded'">환불</span>
        </td>
      </tr>
      <tr>
        <th scope="row">결제일자</th>
        <td class="left paymentRegdate">{{vm.payments[vm.paymentIdx].created | date : 'yyyy-MM-dd'}}</td>
      </tr>
    </table>
  </div>
  <div class="sign">
    <span>{{vm.today}}</span>
    <br />
    대표 <strong>신 동 철</strong> (인)
    <div class="sign_img"><img src="/img/img_sign.png" alt="" /></div>
  </div>
  <div class="table_list04">
    <table>
      <caption class="hide"></caption>
      <colgroup>
        <col style="width:75px" />
        <col style="width:90px" />
        <col style="width:75px" />
        <col style="width:100px" />
      </colgroup>
      <tr>
        <th scope="row">상호명</th>
        <td>㈜케이-21</td>
        <th scope="row">사업자번호</th>
        <td>129-81-32383</td>
      </tr>
      <tr>
        <th scope="row">소재지</th>
        <td colspan="3" class="left">서울시 마포구 서교동 잔다리로 64, 4층</td>
      </tr>
      <tr>
        <th scope="row">업태</th>
        <td>교육서비스</td>
        <th scope="row">종목</th>
        <td>인터넷교육</td>
      </tr>
    </table>
  </div>
  <div class="btn">
    <a href="javascript:;" ng-click="vm.isPrint = !vm.isPrint" class="printBtn" id="pop_receipt" ng-print print-element-id="printReceipt">인쇄</a>
  </div>
</div>
