<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>무료 체험수업</li>
      <li>무료 체험수업 안내</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub04">
  <p>무료 체험수업 안내</p>
</div>
<!-- //sub_top -->

<div class="inner">

  <aside ng-include="'modules/core/client/views/sidebar-leveltest.client.view.html'"></aside>

  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit">무료 체험수업 안내</h3>
    <p class="sub_txt">
      무료 체험수업은 원어민 강사와 <strong class="blue">10분</strong> 동안 진행됩니다. <br />
      무료 체험수업을 통해 회원님의 영어 레벨을 확인하실 수 있습니다. (전화, 스카이프, 화상칠판 택1)
    </p>

    <div class="test_guide">

      <div class="section">
        <h4>무료 체험수업 과정</h4>
        <div class="level_test_process">
          <ul>
            <li>
              <img src="/img/img_test_guide01.png" alt="" />
              <p>무료 체험수업 신청</p>
            </li>
            <li>
              <img src="/img/img_test_guide02.png" alt="" />
              <p>강사님과 수업 진행</p>
            </li>
            <li>
              <img src="/img/img_test_guide03.png" alt="" />
              <p>무료 체험수업 결과 확인</p>
            </li>
            <li>
              <img src="/img/img_test_guide04.png" alt="" />
              <p>학습매니저와 상담</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="section">
        <h4>무료 체험수업 특징</h4>
        <div class="level_test_list">
          <ol>
            <li>
              <span class="num">1</span>
              쉽고 간편하게 무료 수업을 신청하실 수 있습니다.
            </li>
            <li>
              <span class="num">2</span>
              10분간 원어민과의 대화를 통해 회원님의 레벨을 확인하실 수 있습니다.
            </li>
            <li>
              <span class="num">3</span>
              Listening, Speaking, Pronunciation 등 종합적인 결과를 보여드립니다.
            </li>
            <li>
              <span class="num">4</span>
              무료 체험수업 결과를 바탕으로 전담매니저가 학습 Plan을 세워드립니다.
            </li>
            </ul>
        </div>
      </div>

      <div class="section">
        <h4>무료 체험수업 시 확인 사항</h4>
        <div class="level_test_list">
          <ol>
            <li>
              <span class="num">1</span>
              무료 체험수업은 주변환경이 조용한 곳에서 진행해주세요.
            </li>
            <li>
              <span class="num">2</span>
              스카이프, 화상칠판으로 무료 수업을 희망 시 학습매니저와 사전 상담이 꼭 필요합니다.
            </li>
            <li>
              <span class="num">3</span>
              무료 체험수업 가능 시간은 오전 6:00 부터 오후 23:00 까지 입니다.
            </li>
            <li>
              <span class="num">4</span>
              무료 체험수업 신청에 대한 문의가 있을 시 <strong>02-6383-8883</strong> 로 연락바랍니다.
            </li>
            <li>
              <span class="num">5</span>
              특정 시간대에 체험수업 신청이 몰릴 수 있으니 빠른 신청 부탁 드립니다.
            </li>
            </ul>
        </div>
      </div>

    </div>

  </div>
  <!-- //contents -->

</div>
