  <!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>수강안내</li>
        <li>수강후기</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub03">
    <p>수강후기</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-course.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <h3 class="h3_tit">수강후기</h3>

      <div class="consult_write">

        <div class="table_list04">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:125px" />
              <col style="width:240px" />
              <col style="width:125px" />
              <col />
            </colgroup>
            <tr>
              <th scope="row"><label for="title">제목</label></th>
              <td colspan="3" class="left"><input type="text" name="title" id="title" ng-model="vm.courseReview.title"/></td>
            </tr>
            <!--
            <tr>
              <th scope="row">등록일</th>
              <td class="left">17.01.01 10:32:00</td>
              <th scope="row">등록자</th>
              <td class="left">한지원</td>
            </tr>
            -->
            <tr>
              <th scope="row"><label for="cont">내용</label></th>
              <td colspan="3" class="left">
                <div class="textarea">
                  <textarea name="content" id="content" ng-model="vm.courseReview.contents">content</textarea>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row"><label for="attach_file">첨부파일 <span style="font-size:14px; color:red">(수정)</span></label></th>
              <td colspan="3" class="left">
                <input type="file" name="attach_file" id="attach_file"/>
              </td>
            </tr>
          </table>
        </div>

        <div class="btn_group">
          <div class="right">
            <a ng-click="vm.edit(vm.courseReview._id);" href="javascript:;" class="btn_style01" >수정</a>
            <a ui-sref="articles.course-review.read({courseReviewId:vm.courseReview._id})" class="btn_style01" >취소</a>
          </div>
        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
