<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>수강안내</li>
      <li>수강후기</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub03">
  <p>수강후기</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-course.client.view.html'"></aside>

  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit">수강후기</h3>
    <p class="sub_txt">
      원스탑에듀 수업을 먼저 경험한 회원님들의 생생한 후기를 확인해보세요!<br /><br />
      -수강후기 작성 시 3000 Point, 우수후기로 선정되신 분께는 5000 Point를 적립해드립니다.<br />
    </p>

    <div class="consult_list">
        <div class="search_area" style="padding-top:0;">
          <div class="left">
            <select ng-model="vm.searchOptions" style="width:65px;">
              <option name="title" value="title">제목</option>
              <option name="contents" value="contents">내용</option>
            </select>
            <input type="text" name="searchKeyword" ng-model="vm.searchKeyword" ng-keydown="$event.keyCode === 13 && vm.searching()"/>
            <button ng-click="vm.searching()">Search</button>
          </div>
          <div class="right">
            <a ng-click="vm.writeCourseReview()" href="javascript:;">글쓰기</a>
          </div>
        </div>

        <div class="table_list02">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:65px" />
              <col style="" />
              <col style="width:100px" />
              <col style="width:100px" />
              <col style="width:80px" />
            </colgroup>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">작성일</th>
              <th scope="col">조회</th>
            </tr>

            <tr ng-repeat="courseReviewTop in vm.courseReviewTops | orderBy:'-counters'">
              <td> <span style='color:red'>★</span> </td>
              <td class='left'><a ui-sref="articles.course-review.read({courseReviewId:courseReviewTop._id})"><label>< 우수 ></label>{{courseReviewTop.title}}</a></td>
              <td>{{courseReviewTop.user.koreanName | nameMasking}}</td>
              <td>{{courseReviewTop.created | date: 'yyyy-MM-dd'}}</td>
              <td>{{courseReviewTop.views}}</td>
            </tr>

            <tr ng-repeat="courseReview in vm.courseReviews | orderBy:'-counters'">
              <td>{{courseReview.counters}}</td>
              <td class='left'><a ui-sref="articles.course-review.read({courseReviewId:courseReview._id})">{{courseReview.title}}</a></td>
              <td>{{courseReview.user.koreanName | nameMasking}}</td>
              <td>{{courseReview.created | date: 'yyyy-MM-dd'}}</td>
              <td>{{courseReview.views}}</td>
            </tr>
          </table>
        </div>
        <div uib-pagination boundary-links="true" rotate="false" max-size="vm.maxSize" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" template-url="modules/core/client/templates/pagination.client.view.html"></div>
    </div>

  </div>
  <!-- //contents -->

</div>
