<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>수강안내</li>
      <li>수강후기</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub03">
  <p>수강후기</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-course.client.view.html'"></aside>

  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit noBorder">수강후기</h3>

    <div class="consult_view">

      <div class="table_view">
        <table>
          <caption class="hide"></caption>
          <colgroup>
            <col style="width:80px;" />
            <col style="width:220px;" />
            <col style="width:80px;" />
            <col style="width:220px;" />
            <col style="width:80px;" />
            <col style="" />
          </colgroup>
          <tr>
            <th scope="row">제목 : </th>
            <td colspan="5">{{vm.courseReview.title}}</td>
          </tr>
          <tr>
            <th scope="row">작성자 :</th>
            <td>{{vm.courseReview.user.koreanName}}</td>
            <th scope="row">작성일 :</th>
            <td>{{vm.courseReview.created | date: 'yyyy/MM/dd'}}</td>
            <th scope="row">조회 :</th>
            <td>{{vm.courseReview.views}}</td>
          </tr>
          <tr>
            <td colspan="6" class="cont" ng-bind-html="vm.courseReview.contents">
              <br><br>
              <img src="" style="max-width: 600px">

            </td>
          </tr>
        </table>
      </div>

      <div class="teacher_reply">
        <dl>
          <dt>운영자 답변 {{vm.courseReview.comments[0].created | date: 'yyyy-MM-dd HH:mm:ss'}}</dt>
          <dd ng-bind-html="vm.courseReview.comments[0].contents">
          </dd>
        </dl>
      </div>

      <div class="btn_group">
        <div class="right">

          <a ui-sref="articles.course-review.edit({courseReviewId:vm.courseReview._id})" ng-if="vm.courseReview.user.username === vm.auth.user.username" class="btn_style01">수정</a>
          <a ng-click="vm.remove()" href="javascript:;" ng-if="vm.courseReview.user.username === vm.auth.user.username" class="btn_style01">삭제</a>
          <a ui-sref="articles.course-review.list" class="btn_style01">목록</a>

        </div>
      </div>

    </div>

  </div>
  <!-- //contents -->

</div>
