<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>수강안내</li>
      <li>수강후기</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub03">
  <p>수강후기</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-course.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit">수강후기</h3>

    <div class="consult_write">

      <div class="table_list04">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:125px" />
              <col style="width:240px" />
              <col style="width:125px" />
              <col />
            </colgroup>
            <tr>
              <th scope="row"><label for="courseList">수강목록</label></th>
              <td colspan="3" class="left">
                <select name="courseList" id="courseList" ng-model="vm.courseReview.courseList" style="width:90%">
                  <option value="">수강 목록을 선택해 주세요.</option>
                  <option ng-repeat="course in vm.courses" value="course._id">
                    {{course.payment.paymentedProduct.month}}개월 주{{course.payment.paymentedProduct.times}}회 {{course.payment.paymentedProduct.minutes}}분
                    {{course.productType}}
                    ({{course.startLesson.started | date: 'yyyy/MM/dd'}} ~ {{course.endLesson.started | date: 'yyyy/MM/dd'}})
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row"><label for="title">제목</label></th>
              <td colspan="3" class="left"><input type="text" name="title" id="title" ng-model="vm.courseReview.title" /></td>
            </tr>
            <tr>
              <th scope="row"><label for="cont">내용</label></th>
              <td colspan="3" class="left">
                <div class="textarea">
                  <textarea name="content" id="content" ng-model="vm.courseReview.contents"></textarea>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row"><label for="attachmentFiles">첨부파일</label></th>
              <td colspan="3" class="left">
                <input type="file" name="attachmentFiles" ngf-select ng-model="vm.attachmentFiles" ngf-multiple="true" ngf-keep="'distinct'">
              </td>
            </tr>
          </table>
      </div>

      <div class="btn_group">
        <div class="right">
          <a ng-click="vm.write()" class="btn_style01" href="javascript:;">등록</a>
          <a ui-sref="articles.course-review.list" class="btn_style01">취소</a>
        </div>
      </div>

    </div>

  </div>
  <!-- //contents -->

</div>
