<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>마이페이지</li>
      <li>나의 수업관리</li>
      <li>수강현황</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub06">
  <p>수강현황</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">

    <h3 class="h3_tit">{{vm.auth.user.koreanName}}님 오늘도 환영합니다.</h3>

    <div class="myclass">

      <div class="section">
        <h4>수강현황</h4>
        <div class="select_class" style="padding-bottom: 12px">
          <span class="tit" style="float:right;margin-left:3px">수업선택</span>
          <select ng-change="vm.selectCourse();" ng-model="vm.courseTitle" style='width:632px; padding-left:10px'>
            <option ng-repeat="course in vm.courses" value="{{$index}}" ng-if="course.startLesson.started">
              {{course.payment.paymentedProduct.month}}개월 주{{course.payment.paymentedProduct.times}}회 {{course.payment.paymentedProduct.minutes}}분
              {{course.productType}}
              ({{course.startLesson.started | date: 'yyyy/MM/dd'}} ~ {{course.endLesson.started | date: 'yyyy/MM/dd'}})
            </option>
          </select>
        </div>

        <div class="table_list04">
          <table>
            <caption class="hide"></caption>
            <colgroup>
              <col style="width:25%" />
              <col style="width:25%" />
              <col style="width:25%" />
              <col style="width:25%" />
            </colgroup>
            <tr>
              <th scope="col">수업정보</th>
              <td style='padding:10px 4px'>{{vm.courseInfo}} <span ng-repeat="daysName in vm.selectDays">{{daysName}}</span></td>
              <th scope="col">수업방식</th>
              <td>{{vm.courseWay}}</td>
            </tr>
            <tr>
              <th scope="col">강사명</th>
              <td class="capital">{{vm.courses[vm.courseTitle].mainTutor.nickName}}</td>
              <th scope="col">수업상태</th>
              <td>{{vm.courseState}}</td>
            </tr>
            <tr>
              <th scope="col">수강시작</th>
              <td>{{vm.courses[vm.courseTitle].startLesson.started | date : 'yyyy-MM-dd'}}</td>
              <th scope="col">수강종료</th>
              <td>{{vm.courses[vm.courseTitle].endLesson.started | date : 'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
              <th scope="col">수업교재</th>
              <td colspan="3" style="text-align:left;padding-left:20px">

              </td>
            </tr>
          </table>
        </div>

        <div class="section">
          <h4>수업상태</h4>
          <div class="table_list04" style="height:110px;">
            <table>
              <caption class="hide"></caption>
              <colgroup>
                <col style="width:20%" />
                <col style="width:20%" />
                <col style="width:20%" />
                <col style="width:20%" />
                <col style="width:20%" />
              </colgroup>
              <tr>
                <th scope="col">수업정보</th>
                <th scope="col">출석</th>
                <th scope="col">결석</th>
                <th scope="col">연기</th>
                <th scope="col">출석률 / 수업 진행률</th>
              </tr>
              <tr>
                <td><span ng-if="vm.courses[vm.courseTitle]">{{vm.courses[vm.courseTitle].payment.subLessonCount}}회</span></td>
                <td><span ng-if="vm.courses[vm.courseTitle]">{{vm.courses[vm.courseTitle].countingCurrent.attendance}}회</span></td>
                <td><span ng-if="vm.courses[vm.courseTitle]">{{vm.courses[vm.courseTitle].countingCurrent.absence}}회</span></td>
                <td><span ng-if="vm.courses[vm.courseTitle]">단기: {{vm.courses[vm.courseTitle].countingCurrent.postpone}}회 / 장기: {{vm.courses[vm.courseTitle].countingCurrent.hold}}회</span></td>
                <td><span ng-if="vm.courses[vm.courseTitle]">{{vm.courses[vm.courseTitle].rating.success}}% / {{vm.courses[vm.courseTitle].rating.completed}}%</span></td>
              </tr>
            </table>
          </div>
        </div>


        <div class="section" id="lessonCalendar">
          <h4>수업일정</h4>
          <div mypage-caleandar scheduled="vm.scheduled" months="vm.months" is-recording="vm.isRecording" record-id="recordId" class="class_schedule_wrap">

          </div>

          <div class="schedule_ico">
            <table>
              <caption class="hide"></caption>
              <colgroup>
                <col style="width:280px;" />
                <col />
              </colgroup>
              <tr>
                <td><img src="/img/ico_class_stat02.png" alt="출" /> “출”버튼을 클릭하시면 피드백 확인가능</td>
                <td><img src="/img/ico_class_stat06.png" alt="연" /> 수강규정 참조</td>
              </tr>
              <tr>
                <td><img src="/img/ico_class_stat03.png" alt="결" /> 개인사유로 인한 수업불참</td>
                <td><img src="/img/ico_class_stat_end.png" alt="종" /> 수강종료 예정일</td>
              </tr>
              <tr>
                <td><img src="/img/ico_class_stat05.png" alt="휴" /> 법정 공휴일 및 주휴일</td>
                <td><img src="/img/ico_class_stat07.png" alt="H" /> 장기연기</td>
              </tr>
              <tr>
                <td><img src="/img/ico_class_stat01.png" alt="예" /> 수강 예정일</td>
                <td></td>
              </tr>
            </table>
          </div>

          <div class="btn">
            <a href="javascript:;" class="open_pop" ng-click="vm.changeTime =! vm.changeTime">시간변경</a>
            <a href="pop_time_delay" class="open_pop" style="padding:12px 15px">연기신청 현황</a>
          </div>

        </div>

      </div>

      <!-- 시간변경 팝업 -->
      <div class="pop pop_time_change" ng-class="{'show': vm.changeTime}">
        <div class="inner">
          <a href="javascript:;" class="close_pop" ng-click="vm.changeTime =! vm.changeTime"><img src="/img/btn_close.png" alt="close" /></a>
          <h3>
            시간변경
          </h3>
          <p class="txt">
            시간변경은 <br /> <strong>교육지원센터 > 문의하기</strong>를 이용해주세요.
          </p>
          <div type="button" class="btn" ui-sref="support.contact-us.list"><a href="javascript:;">확인</a></div>
        </div>
      </div>
      <!-- //시간변경 팝업 -->

    </div>
    <!-- //contents -->

  </div>

  <div ng-if="vm.isRecording" is-recording="vm.isRecording" record-file-id="{{recordId}}" recording-file></div>
