        <!-- path -->
        <div class="path">
          <div class="inner">
            <ul>
              <li>HOME</li>
              <li>마이페이지</li>
              <li>내정보관리</li>
              <li>쿠폰내역</li>
            </ul>
          </div>
        </div>
        <!-- //path -->

        <!-- sub_top -->
        <div class="sub_top sub06">
          <p>쿠폰내역</p>
        </div>
        <!-- //sub_top -->

        <div class="inner">

          <aside ng-include="'modules/core/client/views/sidebar-mypage.client.view.html'"></aside>
          <!-- contents -->
          <div id="contents">

            <h3 class="h3_tit noBorder">원스탑에듀 쿠폰내역</h3>

            <div class="coupon_list">

              <div class="coupon_list_top">
                <div class="tit">
                  <strong>나의 쿠폰내역</strong>
                  <span>{{vm.auth.user.koreanName}}님께서 현재 사용 가능한 쿠폰은 <strong style='color:red;margin:0px 6px;font-size:20px'>{{vm.vaildCount}}</strong>장입니다.</span>
                </div>
                <div class="btn">
                  <a href="javascript:;" ng-click="vm.isRegister =! vm.isRegister" class="open_pop">쿠폰등록</a>
                </div>
              </div>

              <div class="table_list04">
                <table>
                  <caption class="hide"></caption>
                  <colgroup>
                    <col style="width:25%" />
                    <col style="width:25%" />
                    <col style="width:25%" />
                    <col style="width:25%" />
                  </colgroup>
                  <tr>
                    <th scope="col">등록날짜</th>
                    <th scope="col">상세내역</th>
                    <th scope="col">종료날짜</th>
                    <th scope="col">사용여부</th>
                  </tr>


                  <tr ng-repeat="coupon in vm.coupons | orderBy : '-registed'">
                    <td>{{coupon.registed | date : 'yyyy-MM-dd'}}</td>
                    <td>{{coupon.title}}</td>
                    <td>{{coupon.expired | date : 'yyyy-MM-dd'}}</td>
                    <td>
                      <span class="use" ng-if="coupon.state === 'used'">사용</span>
                      <span class="use" ng-if="coupon.state === 'inValid'">사용불가</span>
                      <span class="nouse" ng-if="coupon.state === 'valid'">미사용</span>
                    </td>
                  </tr>
                </table>
              </div>
              <div uib-pagination boundary-links="true" rotate="false" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"
                template-url="modules/core/client/templates/pagination.client.view.html"></div>

            </div>

          </div>
          <!-- //contents -->

        </div>


        <!-- coupon pop -->
        <div class="pop pop_regi_coupon show" ng-if="vm.isRegister">
          <div class="inner">
            <a href="javascript:;" ng-click="vm.cleanCouponText()" class="close_pop"><img src="/img/btn_close.png" alt="close"></a>
            <h3>쿠폰등록</h3>
            <p class="txt">쿠폰을 등록하시면 할인된 가격으로 결제하실 수 있습니다. </p>
            <p class="txt02">쿠폰에 적힌 시리얼 번호를 입력해주세요.</p>
            <div class="coupon_num">
              <input type="text" ng-model="vm.couponCode[0]" maxlength="4" uppercase coupon> -
              <input type="text" ng-model="vm.couponCode[1]" maxlength="4" uppercase coupon> -
              <input type="text" ng-model="vm.couponCode[2]" maxlength="4" uppercase coupon> -
              <input type="text" ng-model="vm.couponCode[3]" maxlength="4" uppercase coupon>
            </div>
            <p class="txt03">
              쿠폰은 결제시 한번만 적용이 가능합니다.<br>
              쿠폰에는 유효 기간이 있으므로 꼭 확인 부탁드립니다.
            </p>
            <span class="txt04" ng-class="{'green' : vm.isSuccess, 'red' : !vm.isSuccess}">
              {{vm.message}}
            </span>
            <div class="btn">
              <p id="result" style="margin:-30px 0px 15px 0px; font-size:18px; background-repeat:no-repeat; background-position:center;background-size:22px"></p>
              <a href="javascript:;" ng-click="vm.confirm();" id="confirm">확인</a>
            </div>
          </div>
        </div>
        <!-- // coupon pop -->
