<!-- path -->
  <div class="path">
    <div class="inner">
      <ul>
        <li>HOME</li>
        <li>수강안내</li>
        <li>수강 신청</li>
      </ul>
    </div>
  </div>
  <!-- //path -->

  <!-- sub_top -->
  <div class="sub_top sub03">
    <p>수강 신청</p>
  </div>
  <!-- //sub_top -->

  <div class="inner">
<aside ng-include="'modules/core/client/views/sidebar-course.client.view.html'"></aside>
    <!-- contents -->
    <div id="contents">

      <div class="resister">

        <p class="center_txt">
           원스탑에듀 수강 신청 내역을 확인해주세요<br />
          ( 재미있고 유익한 영어수업 시간 되세요~! )
        </p>

        <div class="payment">

          <p class="center_txt">
            신청한 수강 정보
          </p>

          <div class="section">
            <h3>구매자 정보</h3>
            <ul>
            <li><strong>이름 : </strong>  $user['user_name']</li>
              <li><strong>이메일 : </strong> $user['email']</li>
              <li><strong>전화번호 : </strong>  $user['mobile'] </li>
            </ul>
          </div>

          <div class="section">
            <h3>수강 정보</h3>
            <ul>
              <li><strong>과정명 :</strong>  $course </li>
              <li><strong>수업방식 :</strong>  $c_type </li>
              <li><strong>수강기간 :</strong>  $g_month."개월 주 ".$g_number."회 ".$g_time."분" </li>
              <li><strong>수업 시작 희망일 :</strong>  $hopeDay." ".$hopeTime </li>
            </ul>
          </div>

          <div class="section noBorder">
            <h3>결제 방법</h3>
            <!-- 카드결제 카드 결제시 php로 처리
            <ul>
              <li>신용카드(하나카드) 2개월</li>
              <li><strong>결제일 :</strong> date("Y-m-d") </li>
              <li><strong style="font-size:15px;">* 결제정보는 마이페이지 &gt; 결제내역에서 확인 가능합니다.</strong></li>
            </ul>
            -->
            <!-- //카드결제 -->
            <!-- 무통장입금 -->
            <ul>
              <li> $pay_method; <strong> -  $pay_price 원</strong></li>
              <li>수강신청 완료 후 1661-6239로 전화하여 ARS 결제를 진행해주세요</li>

              <li>입금은행</li>
              <li>KB국민은행 479037-01-017179</li>
              <li>㈜케이이십일</li>
              <li><strong style="font-size:15px;">* 원활한 수강등록을 위해 빠른 입금 부탁드립니다.</strong></li>
              <li><strong style="font-size:15px;">* 결제정보는 마이페이지 &gt; 결제내역에서 확인 가능합니다.</strong></li>

            </ul>
            <!-- //무통장입금  -->
          </div>

          <div class="btn">
            <a href="#" id="payment_submit">결제하기</a>
          </div>

        </div>

      </div>

    </div>
    <!-- //contents -->

  </div>
