<!-- path -->
<div class="path">
  <div class="inner">
    <ul>
      <li>HOME</li>
      <li>수강안내</li>
      <li>수강 신청</li>
    </ul>
  </div>
</div>
<!-- //path -->

<!-- sub_top -->
<div class="sub_top sub03">
  <p>수강 신청</p>
</div>
<!-- //sub_top -->

<div class="inner">
  <aside ng-include="'modules/core/client/views/sidebar-course.client.view.html'"></aside>
  <!-- contents -->
  <div id="contents">

    <div class="resister">

      <div class="resister_list">
        <ol>
          <li>
            <p class="tit"><span class="num">1</span> 과정선택</p>
            <div class="process">
              <div class="left">
                <p>주요과정</p>
                <select ng-model="vm.product.curriculum">
                  <option value="conversation">정규회화</option>
                  <option value="junior">어린이회화</option>
                  <option value="freeTalking">프리토킹</option>
                  <option value="business">비즈니스</option>
                  <option value="interview">인터뷰</option>
                  <option value="examPreparation">시험대비</option>
                </select>
              </div>
              <div class="right" ng-if="!vm.auth">
                <p style="border: 1px solid grey; padding:8px;border-radius: 15px;"> 알림 : 로그인 중이 아닙니다. 수강신청 절차 진행을 위해서는 로그인이 꼭 필요합니다.</p>
              </div>
            </div>
          </li>
          <li>
            <p class="tit"><span class="num">2</span> 수업방식</p>
            <div class="select_option">
              <ul>
                <li><a ng-click="vm.product.productType = 'telephone'" ng-class="{'on' : vm.product.productType === 'telephone'}" href="javascript:;">전화수업</a></li>
                <li><a ng-click="vm.product.productType = 'skype'" ng-class="{'on' : vm.product.productType === 'skype'}" href="javascript:;">스카이프</a></li>
                <li><a ng-click="vm.product.productType = 'screenBoard'" ng-class="{'on' : vm.product.productType === 'screenBoard'}" href="javascript:;">화상칠판</a></li>
              </ul>
            </div>
          </li>
          <li>
            <p class="tit"><span class="num">3</span> 강사선택</p>
            <div class="select_option">
              <ul>
                <li><a ng-click="vm.product.nation = 'bulgaria'" ng-class="{'on' : vm.product.nation === 'bulgaria'}" href="javascript:;">유럽</a></li>
                <li><a ng-click="vm.product.nation = 'philippines'" ng-class="{'on' : vm.product.nation === 'philippines'}" href="javascript:;">필리핀</a></li>
                <li><a ng-click="vm.product.nation = 'northAmerica'" ng-class="{'on' : vm.product.nation === 'northAmerica'}" href="javascript:;">미주</a></li>
              </ul>
            </div>
          </li>
          <li>
            <p class="tit"><span class="num">4</span> 수업기간/횟수</p>
            <div class="select_option">
              <ul class="month">
                <li><a ng-click="vm.product.month = '1'" ng-class="{'on' : vm.product.month === '1'}" href="javascript:;">1개월</a></li>
                <li><a ng-click="vm.product.month = '3'" ng-class="{'on' : vm.product.month === '3'}" href="javascript:;">3개월(5%할인)</a></li>
                <li><a ng-click="vm.product.month = '6'" ng-class="{'on' : vm.product.month === '6'}" href="javascript:;">6개월(10%할인)</a></li>
                <li><a ng-click="vm.product.month = '12'" ng-class="{'on' : vm.product.month === '12'}" href="javascript:;">12개월(15%할인)</a></li>
              </ul>
            </div>
            <div class="select_option six">
              <ul>
                <li><a ng-click="vm.lessonTimes = '2/10'" ng-class="{'on' : vm.lessonTimes === '2/10', 'time_disabled' : (vm.product.productType === 'skype' || vm.product.productType === 'screenBoard')}" href="javascript:;">주2회 10분</a></li>
                <li><a ng-click="vm.lessonTimes = '2/20'" ng-class="{'on' : vm.lessonTimes === '2/20'}" href="javascript:;">주2회 20분</a></li>
                <li><a ng-click="vm.lessonTimes = '3/10'" ng-class="{'on' : vm.lessonTimes === '3/10', 'time_disabled' : (vm.product.productType === 'skype' || vm.product.productType === 'screenBoard')}" href="javascript:;">주3회 10분</a></li>
                <li><a ng-click="vm.lessonTimes = '3/20'" ng-class="{'on' : vm.lessonTimes === '3/20'}" href="javascript:;">주3회 20분</a></li>
                <li><a ng-click="vm.lessonTimes = '5/10'" ng-class="{'on' : vm.lessonTimes === '5/10', 'time_disabled' : (vm.product.productType === 'skype' || vm.product.productType === 'screenBoard')}" href="javascript:;">주5회 10분</a></li>
                <li><a ng-click="vm.lessonTimes = '5/20'" ng-class="{'on' : vm.lessonTimes === '5/20'}" href="javascript:;">주5회 20분</a></li>
              </ul>
            </div>
          </li>
          <li>
            <p class="tit"><span class="num">5</span> 수업 시작일 <span>(날짜/시간)</span></p>
            <div class="select_startDay">
              <ul>
                <li>
                  <input type="text" ng-model="vm.hopeDay" jq-datepicker class="startDay" placeholder="날짜를 선택해주세요." readonly="readonly" />
                </li>
                <li>
                  <select ng-model="vm.hopeTime">
                    <option ng-repeat="hopeTime in vm.time" value='{{hopeTime}}'>{{hopeTime}}</option>
                  </select>
                </li>
                <li>
                  <select ng-model="vm.hopeMinutes">
                    <option value="00">00</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                  </select>
                </li>
              </ul>
            </div>
          </li>
        </ol>
      </div>

      <div class="payment">


        <div class="section">
          <!-- <h3 class="tit"></h3> -->
          <h3>상품 정보</h3>
          <p ng-if="!(vm.product.curriculum && vm.product.productType && vm.product.nation && vm.product.month && vm.lessonTimes)" style="color:red; font-size:15px">상품이 선택되지 않았습니다.<p>
              <ul ng-if="vm.product.curriculum && vm.product.productType && vm.product.nation && vm.product.month && vm.lessonTimes">
                <li>
                  <span ng-if="vm.product.curriculum === 'conversation'">정규회화</span>
                  <span ng-if="vm.product.curriculum === 'junior'">어린이회화</span>
                  <span ng-if="vm.product.curriculum === 'freeTalking'">프리토킹</span>
                  <span ng-if="vm.product.curriculum === 'business'">비즈니스</span>
                  <span ng-if="vm.product.curriculum === 'interview'">인터뷰</span>
                  <span ng-if="vm.product.curriculum === 'examPreparation'">시험대비</span>
                </li>
                <li>
                  <span ng-if="vm.product.productType === 'telephone'">전화</span>
                  <span ng-if="vm.product.productType === 'skype'">스카이프</span>
                  <span ng-if="vm.product.productType === 'screenBoard'">화상칠판</span>
                  (
                  <span ng-if="vm.product.nation === 'bulgaria'">유럽</span>
                  <span ng-if="vm.product.nation === 'philippines'">필리핀</span>
                  <span ng-if="vm.product.nation === 'northAmerica'">미주</span>
                  )
                </li>
                <li>{{vm.product.month}}개월 / 주 {{vm.product.times}}회 {{vm.product.minutes}}분 금액 : {{vm.payments.price | currency : '' : 0}}</li>
              </ul>
        </div>

        <div class="section">
          <h3>구매자 정보</h3>
          <ul>
            <li><strong>이름 : </strong> {{vm.auth.koreanName}}</li>
            <li><strong>이메일 : </strong>{{vm.auth.email}}</li>
            <li><strong>전화번호 : </strong>{{vm.auth.mobile}}</li>
          </ul>
        </div>

        <div class="section noBorder">
          <h3>결제 정보</h3>
          <div class="payment_info">
            <ul>
              <li>
                <label for="point">포인트 사용 :</label>
                <input type="text" ng-model="vm.payment.point" style="text-align:center;width:96px;" placeholder="0" only-number/>
                <a href="javascript:;" ng-click="vm.useAllPoint()" class="all_point">전액사용</a>
                ( 사용가능 포인트 : <span>{{vm.availablePoint}}</span> )
              </li>
              <li>
                <label for="coupon">쿠폰 사용 :</label>
                <select ng-model="vm.payment.coupon" ng-change="vm.couponType()">
                  <option value="">--</option>
                  <option ng-repeat="coupon in vm.coupons" value="{{coupon._id}}">{{coupon.title}}</option>
                </select>
              </li>
              <li>
                <label for="">결제 수단 :</label>
                <select ng-model="vm.payment.method">
                  <option value="CC">신용카드</option>
                  <option value="PAYUP">SMS 결제</option>
                  <option value="DWB">무통장입금</option>
                  <option value="ARS">ARS 결제</option>
                </select>

                <p ng-if="vm.payment.method === 'PAYUP'" style="color:black;margin-top:15px;font-size:14px;" class="pay_manual_text">
                  결제 가능한 URL을 등록하신 핸드폰번호로 전송해드립니다.<br>결제시 주문자는 수강받는 회원명을 입력 바랍니다.
                </p>

                <div ng-if="vm.payment.method === 'DWB'" class="bank pay_infrom_text">
                  <label for="deposit" style="width:50px;">입금자</label>
                  <input type="text" ng-disabled="!vm.deposit" style="width:76px;padding-left:4px" value="{{vm.auth.koreanName}}" />
                  <input type="checkbox" style="margin-left:10px" ng-model="vm.deposit" id="moneyMan" /> <label for="moneyMan">수동입력</label>
                  <br />
                  입금은행 KB국민은행<br />
                  479037-01-017179 <br />
                  ㈜케이이십일<br />
                  <strong>*현금영수증 발급을 원할 시 교육지원센터로 연락부탁드립니다.</strong>
                </div>

                <div ng-if="vm.payment.method === 'ARS'" class="pay_infrom_text ARS">
                  <p>수강신청 완료 후 1661-6239로 전화하여 ARS 결제를 진행해주세요.</p>
                </div>

              </li>
            </ul>
          </div>
        </div>

        <div class="section noBorder">
          <h3>결제 금액</h3>
          <div class="account">
            <input type="text" disabled="disabled" ng-model="vm.payment.totalPrice" /> 원
          </div>
        </div>

        <div class="btn">
          <a ng-click="vm.applyCourse()" href="javascript:;">수강신청</a>
        </div>

      </div>

    </div>

  </div>
  <!-- //contents -->

</div>
