<div class="paging">
	<a href ng-if="page !== 1" ng-click="selectPage(1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle class="btn">
		<img src="/img/btn_firstpage.png">
	</a>
	<a href ng-if="page !== 1" ng-click="selectPage(page - 1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle class="btn">
		<img src="/img/btn_prevpage.png">
	</a>
	<a href ng-repeat="page in pages" ng-click="selectPage(page.number, $event)" uib-tabindex-toggle ng-class="{'text-strong':page.active}">
		{{page.text}}
	</a>
	<a href ng-if="page !== totalPages" ng-click="selectPage(page + 1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle class="btn">
		<img src="/img/btn_nextpage.png">
	</a>
	<a href ng-if="page !== totalPages" ng-click="selectPage(totalPages, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle class="btn">
		<img src="/img/btn_lastpage.png">
	</a>
</div>
