<!-- <ul ng-if="pager.pages.length" class="pager"> -->
<ul ng-if="pager.pages.length" class="pager">
    <li ng-class="{disabled:pager.currentPage === 1}">
        <a ng-click="setPage(1)"><img src="/img/btn_firstpage.png"></a>
    </li>
    <li ng-class="{disabled:pager.currentPage <= 10 || pager.totalPages <= 10}">
        <a ng-click="setPage(pager.currentPage - 10)"><img src="/img/btn_prevpage.png"></a>
    </li>
    <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
        <a ng-click="setPage(page)" style="padding:6px 8px;">{{page}}</a>
    </li>
    <li ng-class="{disabled:pager.currentPage === pager.totalPages || pager.totalPages <= 10}">
        <a ng-click="setPage(pager.currentPage + 10)"><img src="/img/btn_nextpage.png"></a>
    </li>
    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
        <a ng-click="setPage(pager.totalPages)"><img src="/img/btn_lastpage.png"></a>
    </li>
</ul>
