.only_web {
  display: block
}

.only_mobile {
  display: none;
}

#m_header {
  display: none;
  /*background-color:#rgba(3,78,162,0.2)*/
}

.m_nav_wrap {
  display: none;
}

/* main mbile 수강후기 */
.main_classreview .m_review_box {
  width: 720px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  padding: 0 40px;
}

.main_classreview .m_review_box ul {
  overflow: hidden;
  zoom: 1;
  width: 500%;
}

.main_classreview .m_review_box ul::after {
  display: block;
  content: '';
  clear: both;
}

.main_classreview .m_review_box .bx-wrapper {}

.main_classreview .m_review_box ul li {
  margin-right: 0px;
  float: left;
  _display: inline;
  overflow: hidden;
  text-align: center;
  border: 3px solid #dedede;
  border-radius: 150px;
  height: 485px;
  width: 275px !important;
  position: relative;
  box-sizing: border-box;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out
}

.main_classreview .m_review_box ul li .pic {
  text-align: center;
  /*border:1px solid #dedede;*/
  border-radius: 150px;
  height: 460px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out
}

.main_classreview .sPrev, .main_classreview .sNext {
  position: absolute;
  left: 5px;
  top: 50%;
  display: block;
  width: 40px;
  margin-top: -60px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: url(/img/btn_prev.png) center center no-repeat transparent;
}

.main_classreview .sNext {
  left: auto;
  right: 5px;
  background: url(/img/btn_next.png) center center no-repeat transparent;
}

.main_classreview .sPrev:hover, .main_classreview .sNext:hover {}

.main_classreview .m_review_box ul li:hover {
  background: #4179b8;
}

.main_classreview .m_review_box ul li:hover .pic {
  width: 100%;
  height: 100%;
}

.main_classreview .m_review_box ul li:hover .orange {
  color: #fff;
}

/*.dou{ background:url(/imagesv3/17268-11.png) no-repeat center; width:39px; height:29px; margin:0 auto;display:none;}*/
.main_classreview .m_review_box ul li:hover

/*.dou{background:url(/imagesv3/17268-12.png) no-repeat center; width:39px; height:29px;}*/
.main_classreview .m_review_box ul li:hover .gray-two {
  color: #fff;
}

.slideGroup-content {
  margin-top: 90px;
  text-align: center;
}

.orange {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  height: 50px;
  padding: 10px;
}

.gray {
  color: #fff;
  margin-top: 30px;
  line-height: 26px;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.gray-two {
  margin-top: 50px;
  line-height: 26px;
  color: #fff;
  font-size: 21px;
}

/* main mbile 특장점 */
#container .main_advantage .m_advantage {
  display: none;
}

#container .main_advantage .m_advantage ul::after {
  display: block;
  content: '';
  clear: both;
}

#container .main_advantage .m_advantage ul li {
  width: 50%;
  float: left;
  text-align: center;
  margin-bottom: 6vw;
}

#container .main_advantage .m_advantage ul li:nth-child(3), #container .main_advantage .m_advantage ul li:nth-child(4) {
  margin-bottom: 0;
}

#container .main_advantage .m_advantage ul li>div span {
  display: inline-block;
  width: 6.56vw;
  height: 6.56vw;
  border-radius: 50%;
  background-color: #fff;
  color: #094ea4;
  line-height: 6.56vw;
  font-size: 3vw;
}

#container .main_advantage .m_advantage ul li>p {
  padding-top: 4vw;
  font-size: 4vw;
  color: #000;
  line-height: 1.2;
}

/* main_교육지원센터 */
#container .main_notice .inner .banner ul li {
  width: 50%;
  float: left;
  text-align: center;
  height: 233px;
  background-color: #000;
  padding: 28px 0;
  box-sizing: border-box;
  position: relative;
}

#container .main_notice .inner .banner ul li:nth-child(1) {
  background-color: #4675c8;
}

#container .main_notice .inner .banner ul li:nth-child(2) {
  background-color: #092558;
}

#container .main_notice .inner .banner ul li:nth-child(3) {
  background-color: #fefefe;
}

#container .main_notice .inner .banner ul li:nth-child(4) {
  background-color: #dcdfe4;
}

#container .main_notice .inner .banner ul li h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding-bottom: 30px;
}

#container .main_notice .inner .banner ul li span {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  left: 0;
  bottom: 18px;
  font-weight: 400;
}

#container .main_notice .inner .banner ul li span img {
  vertical-align: middle;
}

#container .main_notice .inner .banner ul li:nth-child(3) h2 {
  color: #4475cb;
}

#container .main_notice .inner .banner ul li:nth-child(3) p {
  color: #4475cb;
  font-size: 22px;
  font-weight: 400;
}

#container .main_notice .inner .banner ul li:nth-child(4) h2 {
  color: #082559;
}

#container .main_notice .inner .banner ul li:nth-child(4) span {
  color: #082559;
}

#container .main_notice .inner .banner ul li {}

#container .main_notice .inner .notice_wrap .center ul li a {
  color: #fff;
}

/* mobile header */
#m_header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #034ea2;
  z-index: 200;
}

#m_header #container {
  position: relative;
  z-index: 100;
  padding: 0 15px;
}

#m_header #container::after {
  display: block;
  content: '';
  clear: both;
}

#m_header .logo {
  float: left;
}

#m_header .logo a img {
  margin-top: 22px;
}

#m_header .top_chi, #m_header .top_btn {
  float: right;
}

#m_header .top_chi {
  margin-right: 20px;
  line-height: 75px;
}

#m_header .top_chi a {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #fff;
  font-size: 12px;
  background-color: #fff;
  color: #034ea2;
  height: 28px;
  line-height: 26px;
  padding: 0 12px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#m_header .top_btn button {
  margin-top: 28px;
  border: none;
  background: none;
}

#m_header .top_btn button img {
  left: 0;
}

.m_nav_wrap {
  width: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  left: 100%;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10000;
}

.nav_wrap_box {
  min-width: 300px;
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  height: 100%;
}

.nav_wrap_box .btn_area {
  position: relative;
}

.nav_wrap_box .btn_area button {
  background-color: transparent;
  border: 0;
  padding: 10px;
  position: absolute;
  left: -34px;
  top: 5px;
  width: 34px;
}

.nav_wrap_box .btn_area button img {
  max-width: 100%;
  left: 0;
}

.nav_wrap_box .m_mymenu {
  width: 100%;
}

.nav_wrap_box .m_mymenu::after {
  display: block;
  content: '';
  clear: both;
}

.nav_wrap_box .m_mymenu ul {
  padding: 0 15px;
  overflow: hidden;
  padding-bottom: 10px;
}

.nav_wrap_box .m_mymenu ul li {
  width: 49%;
  margin-right: 2%;
  float: left;
  text-align: center;
}

.nav_wrap_box .m_mymenu ul li a {
  background-color: #034ea2;
  width: 100%;
  display: inline-block;
  color: #fff;
  height: 45px;
  line-height: 43px;
  font-size: 3.59vw;
  letter-spacing: 2px;
  border: 1px solid #034ea2;
  border-radius: 15px;
}

.nav_wrap_box .m_mymenu ul li:nth-child(2) {
  margin-right: 0;
}

.nav_wrap_box .m_mymenu ul li:nth-child(2) a {
  background-color: #fff;
  color: #034ea2;
}

.nav_wrap_box .m_mymenu ul li a i {
  padding-left: 8px;
}

.level_menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.level_menu ul {
  overflow: hidden;
}

.level_menu ul li {
  padding: 20px 0;
  text-align: center;
  margin: 0 auto 0 auto;
  width: 100%;
  background-color: #034ea2;
  box-shadow: 3px 3px 10px #ddd;
}

.level_menu ul li a {
  color: #fff;
  font-size: 4.8vw;
  letter-spacing: 2px;
}

.m_nav_wrap .gnb_wrap {
  overflow-y: auto;
}

.m_nav_wrap .gnb_wrap>ul>li {
  width: 100%;
  min-height: 52px;
  background-color: #e5e5e5;
  line-height: 52px;
  border-bottom: 1px solid #fff;
}

.m_nav_wrap .nav_logo {
  padding-top: 10px;
}

.m_nav_wrap .nav_logo img {
  max-width: 100%;
}

.m_nav_wrap .gnb_wrap>ul>li>span {
  color: #000;
  display: block;
  cursor: pointer;
  text-align: center;
  position: relative;
  font-size: 16px;
}

.m_nav_wrap .gnb_wrap>ul>li>span i {
  color: #000;
  padding-left: 10px;
  font-size: 25px;
  position: relative;
  top: 3px;
}

.m_nav_wrap .gnb_wrap>ul>li>span i:nth-child(2) {
  display: none;
}

.m_nav_wrap .gnb_wrap>ul>li .gnb_sub {
  display: none;
}

.m_nav_wrap .gnb_wrap>ul>li.on>span i {
  display: none;
}

.m_nav_wrap .gnb_wrap>ul>li.on>span {
  font-weight: 600;
}

.m_nav_wrap .gnb_wrap>ul>li.on>span i:nth-child(2) {
  display: inline-block;
}

.m_nav_wrap .gnb_wrap>ul>li .gnb_sub ul {}

.m_nav_wrap .gnb_wrap>ul>li .gnb_sub ul li {
  padding-right: 0;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
  line-height: 35px;
}

.m_nav_wrap .gnb_wrap>ul>li .gnb_sub ul li a {
  color: #000;
  display: block;
  font-size: 16px;
}

/* join_form */
.join_table {
  display: block;
  width: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  margin-bottom: 35px;
}

.join_tb_row::after {
  display: block;
  clear: both;
  content: '';
}

.join_tb_th, .join_tb_td {
  float: left;
  height: 40px;
  line-height: 40px;
  margin: 7px 0;
}

.join_tb_th {
  width: 12%;
  font-size: 17px;
  color: #333;
  line-height: 40px;
  font-weight: 300;
  text-align: left;
  letter-spacing: -1px;
}

.join_tb_th .star {
  color: #fe3600;
  font-weight: 500;
  vertical-align: middle;
  display: inline-block;
  padding-top: 4px;
}

.join_tb_th>span {}

.join_tb_td {
  width: 88%;
}

.join_tb_td .chk2 {
  display: inline-block;
  line-height: 40px;
  font-size: 15px;
  color: #1aa82a;
  margin-left: 10px;
  vertical-align: top;
}

.join_tb_td .chk {
  display: inline-block;
  font-size: 15px;
  color: #6c6c6c;
  margin-left: 10px;
  line-height: 40px;
  vertical-align: top;
}

.join_tb_td .btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: 1px solid #d5d5d5;
  color: #333;
  font-size: 16px;
  width: 100px;
  background: #f3f3f3;
  text-align: center;
  vertical-align: top;
  letter-spacing: -1px;
  margin-left: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.join_tb_td input[type="text"], .join_tb_td input[type="password"] {
  height: 40px;
  line-height: 40px;
  text-indent: 5px;
  font-size: 14px;
  letter-spacing: -1px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.join_tb_td select {
  border: 1px solid #d5d5d5;
  height: 40px !important;
  line-height: 40px !important;
  color: #6b6b6b;
  min-width: 130px;
  font-size: 14px;
  box-sizing: border-box;
}

.join_tb_td .input_1 {
  width: 240px;
}

.join_tb_tell input[type="text"] {
  width: 75px;
}

.join_tb_td .blank {
  height: 40px;
  line-height: 40px;
}

.join_tb_address .join_tb_th {
  height: 80x;
  line-height: 80px;
}

.join_tb_address .join_tb_td {
  height: auto;
  line-height: auto;
}

.join_tb_address .join_tb_td>div {
  margin-bottom: 8px;
}

.join_tb_address .join_tb_td input[type="text"] {
  width: 260px;
}

.join_tb_address .join_tb_td .address_find input[type="text"]:nth-child(1) {
  width: 110px;
}

/*mypage index*/
.mypage_ind * {
  box-sizing: border-box;
}

.mypage_ind>ul>li {
  float: left;
  width: 49%;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 10px #ddd;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-right: 2%;
  background-color: #246cbc;
  margin-bottom: 20px;
}

.mypage_ind>ul>li:nth-child(2), .mypage_ind>ul>li:nth-child(4), .mypage_ind>ul>li:nth-child(6) {
  margin-right: 0;
}

.mypage_ind>ul>li a {
  color: #ddd;
  display: block;
  font-size: 3.5vw;
}

/* myclass table*/
.web_table {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.web_table * {
  box-sizing: border-box;
}

.web_table .web_tr {
  border-top: 1px solid #ddd;
  display: table-row;
  width: 100%;
}

.web_table .web_tr::after {
  display: block;
  content: '';
  clear: both;
}

.web_table .web_tr .web_td {
  padding: 10px 8px;
  text-align: left;
  border-right: 1px solid #ddd;
  min-height: 43px;
  font-size: 15px;
  display: table-cell;
  vertical-align: middle;
}

.web_table .web_tr .web_td:first-child {
  border-left: 1px solid #ddd;
}

.web_table .web_tr .web_th {
  background-color: #f5f5f5;
  text-align: center;
  color: #1d1d1d;
  font-weight: 400;
}

.web_table_list .web_tr .web_td {
  text-align: center;
}

.myclass .web_table_list .web_td>b {
  display: none;
}

.myclass .web_td_4 {
  width: 25%;
}

.myclass .web_td_5 {
  width: 20%;
}

.le_result_list .web_table_list .web_td:nth-child(1) {
  width: 10%
}

.le_result_list .web_table_list .web_td:nth-child(2) {
  width: 12%
}

.le_result_list .web_table_list .web_td:nth-child(3) {
  width: 20%
}

.le_result_list .web_table_list .web_td:nth-child(4) {
  width: 20%
}

.le_result_list .web_table_list .web_td:nth-child(5) {
  width: 20%
}

.le_result_list .web_table_list .web_td:nth-child(6) {
  width: 18%
}

/*
@media screen and (max-width:960px){
    /* layout */
/*    *{
        box-sizing:border-box;
    }
    .img img{max-width:100%;}
    .only_web{display:none}
    .only_mobile{display:block;}
    #wrap{
        max-width:auto;
        min-width:auto;
        width:100%;
        padding-top:75px;
    }
    #container{
        padding:0 0 11.71vw 0;
    }

    #container > .inner{
        width:100%;
        max-width:auto;
        margin-top:0;
    }
    #container #contents.wide{
        margin-top:0;
    }
    #container .inner{
      padding:0 1.5625vw;
    }
    .sub_top{
        height:250px;
        position:relative;
    }
    .sub_top > p{
        font-size:6vw;
        padding-top:0;
        position:absolute;
        left:0;right:0;
        bottom:0;top:0;
        margin:auto;
        height:8vw;
        line-height:8vw;
    }
    #header{
        display:none;
    }
    #m_header, .m_nav_wrap{
        display:block;
    }
    .talk_banner_div{
        display:none;
    }
    .path{margin-top:0;}
    .path .inner ul{display:none;}
    #footer .inner{
        display:none;
    }
    #footer .foot_menu ul{
        text-align: center;
    }
    /* //layout */
/* main*/
/*    .pop.pop_sampleSkype .inner{
      width:640px;
      height:380px;
      left:0;right:0;bottom:0;top:0;
      margin:auto;
    }
    .pop.pop_sampleSkype .inner .close_pop{
      right: 0;
      top: -5vw;
    }
    .pop.pop_sampleBoard .inner{
      width:640px;
      height:380px;
      min-height:300px;
      left:0;right:0;bottom:0;top:0;
      margin:auto;
    }
    .pop.pop_sampleBoard .inner .close_pop{
      right:0;
      top:-5vw;
    }
    .pop.pop_class_audio .inner{
      height:250px;
      left:0;right:0;bottom:0;top:0;
      margin:auto;
    }
    #container .main_visual{
      margin:0 0 0 0;padding:0;
      min-height:100vw;
    }
    #container h2.main_h2_tit{
      font-size:5vw;
      padding-bottom:11vw;
    }
      /* main_원스탑에듀로 */
/*    #container .main_onstop{
      padding:11vw 0;
    }
    #container .main_onstop .list ul{margin:0;}
    #container .main_onstop .list ul li{
      width:24%;
      margin-left:1.33333%;

    }
    #container .main_onstop .list ul li:first-child{
      margin-left:0;
    }
    #container .main_onstop .list ul li p{
      font-size:1.9vw;
    }
    #container .main_onstop .list ul li .img{
      width:100%;
      background-size:100%;
      margin-bottom:10px;
    }
    #container h2.main_h2_tit{
      font-weight:400;
    }
      /* main_커리큘럼 */
/*    #container .main_curriculum2{
      padding:11.71vw 0;
    }
    #container .main_curriculum2 .inner > p{
      display:none;
    }
    #container .main_curriculum2 .inner{
      width:100%;
      padding:0 1.5625vw;
    }
    #container .main_curriculum2 .inner > h2{
      padding-bottom:11vw !important;
    }
    #container .main_curriculum2 .list ul li{
      width:32%;
      margin-right:2%;
    }
    #container .main_curriculum2 .list ul li a .img .hover{
      padding:10px 8px 10px 8px;
    }
    #container .main_curriculum2 .list ul li a .img .hover br{
      display:none;
    }
    #container .main_advantage{
      padding:11.71vw 0;
    }

    #container .main_edu{
      padding:11.7vw 0;
    }
    #container .main_edu .inner > p{
      font-size:3vw;padding-bottom:5vw;
    }
    #container .main_edu h2.main_h2_tit{
      padding-bottom:3vw !important;

    }
    #container .main_edu .list{
      background-size:100% 100%;
      padding-bottom: 5.5vw;
      height:auto;
    }
    #container .main_edu .list ul{
      padding:4.8125vw 3.9vw 0 3.9vw;
    }
    #container .main_edu .list ul li a{
      background-size:100%;
      width:19.3vw;
      padding-top:20vw;
    }
    #container .main_edu .list ul li a strong{
      font-size:2.5vw;
    }
    #container .main_edu .list ul li a p{
      font-size:2vw;
    }

    #container .main_classreview{height:auto;padding:11vw 0;overflow:hidden;}
      /* main_교육지원센터 */
/*    #container .main_notice{
      padding:0 0;
    }
    #container .main_notice .inner{
      padding:0;
    }
    #container .main_notice .inner .notice_wrap{
      width:100%;
    }
    #container .main_notice .inner .notice_wrap .notice{
      height:auto;
    }
    #container .main_notice .inner .notice_wrap .center{
      height:auto;
    }
    #container .main_notice .inner .notice_wrap .notice h2 span{
      font-size:26px;
    }
    #container .main_notice .inner .notice_wrap .notice .list ul li a{

    }
    #container .main_notice .inner .notice_wrap .notice .list ul li .date{

    }
    #container .main_notice .inner .banner{
      width:100%;
    }
    #container .main_notice .inner .banner ul li{
      width:25%;
      height:24.27vw;
      padding:2vw 0;
    }
    #container .main_notice .inner .banner ul > li div > img{

    }
    #container .main_notice .inner .banner ul li h2{
      font-size:3vw;
      padding-bottom:3.5vw;
    }
    #container .main_notice .inner .banner ul li span{
      font-size:1.5vw;
      font-weight:400;
      bottom:1vw;
    }
    #container .main_notice .inner .banner ul li span img{vertical-align:middle;max-width:100%;}
    #container .main_notice .inner .banner ul li:nth-child(3) h2{
      color:#4475cb;
    }
    #container .main_notice .inner .banner ul li:nth-child(3) p{
      color:#4475cb;
      font-size:3vw;
      font-weight:400;
    }


    /* //main */
/* side */
/*    #container #snb{
        width:100%;
        margin-right:0;
        position:relative;
    }
    #container #snb > h2{
        width:100%;
        padding-top:0;
        height:65px;
        line-height:65px;
        background-color:#fff;
        border-bottom:1px solid #ddd;
        box-shadow:1px 1px 3px #ddd;
        color:#666;
        background-image:
    }
    #container #snb > ul{
        width:100%;
        position:absolute;
        left:0;
        top:65px;
        z-index: 80;
        display:none;
    }
    #container #snb > ul > li{
        width: 100%;
        margin-top:0;
        border-bottom:1px solid #ddd;
    }
    #container #snb > ul > li > a{
        background-color:#fff;
        color:#666;
    }
    #container #snb ul li a:hover{background:#cddcec;color:#034ea2}
    #container #snb ul li a:focus{background:#cddcec;color:#034ea2}
    .myclass .section .schedule_ico{
        width:100%;
        box-sizing:border-box;
    }
    #container #snb > ul > li > ul{
        display:none;
    }
    #container #snb > ul > li > ul > li{
        margin:0;
    }
    #container #snb .btn_screen{
        display:none;
    }
    #container #contents .h3_tit{
        display:none;
    }
    /* //side */
/* img_sub */
/*    #container #contents{
        width:100%;
    }
    #container #contents .img_area img{
        max-width:100%;
    }
    /* //img_sub */
/* login */
/*    .login{
        border-top:0;
    }
    .login > h3{
        font-size:35px;
    }
    .login > p{
        font-size:16px;
    }
    .login .login_form{
        width:100%;
    }
    .login .login_form ul li input[type="text"]{
        width:100%;
        border-radius:8px;
    }
    .login .login_form ul li input[type="password"]{
        width:100%;
        border-radius:8px;
    }
    .login .login_form .btn_login{
        position:relative;
        width:100%;left:0;right:0;
        height:50px;
        line-height:50px;
        border-radius:8px;
    }
    .login .login_form p{
        padding:20px 0;
    }
    .login .login_form p #loginCheck{

    }
    .login .btn_list{
        max-width:600px;
        margin:0 auto;
    }
    .login .btn_list ul{
        border:0;
    }
    .login .btn_list ul li{
        font-size:0;
        text-indent: -9999px;
        width:49%;
        margin-right:2%;
        float:left;
        padding:0;
    }
    .login .btn_list ul li:last-child{
        margin-right:0;
    }
    .login .btn_list ul li a.btn{
        width:100%;
        display:block;
        font-size:16px;
        text-indent: 0;
        right:0;
    }
    .login.borderBottom{
        border-bottom:0;
        padding-bottom:0;
    }
    /* id_search , password_search */
/*    .findID p{
        padding:15px 0 8px 0;
        text-align:center;
    }
    .findID ul{
        width:100%;
        max-width:auto;
        box-sizing:border-box;
    }
    .findID form{
        padding:0 10px 10px 10px;
        box-sizing:border-box;
    }
    .findID .tab ul{
        padding:0;
    }
    .findID ul li input[type="text"]{
        width:100%;
        border-radius:8px;
    }
    .findID .btn_findID{
        width:100%;
        border-radius:8px;
    }
    /* join */
/*    .join h3{
        color: #034ea2;
        line-height: 150%;
        padding: 45px 0 20px 0;
        text-align: center;
        font-weight: 500;
        letter-spacing: -2px;
    }
    .join p.txt{
        text-align:center;
        padding-bottom:30px;
    }
    .join_complete h3{
        font-size: 8vw;
    }
    .join_tb_th, .join_tb_td{
        width:100%;
        height:auto;
        line-height:1;
    }
    .join_tb_td .input_1{
        width:100%;
    }
    .join_tb_td input[type="text"], .join_tb_td input[type="password"]{
        border-radius:8px;
    }
    .join_tb_id input[type="text"]{
        width:55vw;
    }
    .join_tb_tell input[type="text"]{
        width:30%;
        float:left;
    }
    .join_tb_td .blank{
        width:5%;display:inline-block;
        float:left;text-align:center;
    }
    .join_tb_email input[type="text"]{
        width:30%;
        float:left;
    }
    .join_tb_email select{
        padding-right:0;
        min-width:auto;
        width:32%;
        margin-left:2%;
    }
    .join_tb_address .join_tb_th{
        line-height:1;
        height:auto;
    }
    .join_tb_address .join_tb_td input[type="text"]{
        width: 49%;
        float: left;
        margin-right: 2%;
    }
    .join_tb_address .join_tb_td input[type="text"]:nth-of-type(2){
        margin-right:0;
    }

    .join .join_agree h4{
        text-align:center;
        padding-bottom:20px;
    }
    .join .join_agree .agree ul li label{
        width:100%;
        font-size:3.5vw;
    }
    .join .join_agree .agree .all_chk{
        position:relative;
        top:0;
        margin-bottom:8px;
    }


    /* myclass */
/*    .myclass .section .class_schedule_wrap .class_schedule{
      overflow-x: scroll;
      position: relative;
    }
    .myclass .section .class_schedule_wrap{
      position: relative;
    }
    .myclass .section .class_schedule_wrap::after{
      content:'오른쪽 스크롤 있습니다';
      display:block;
      position:absolute;
      top: 68px;
      left: 0;
      font-size:14px;
      color:red;
      width: 100%;
      text-align: center;
    }
    .myclass .section .class_schedule_wrap .class_schedule table{
      min-width:740px;
    }
    .myclass .section .schedule_ico{
      width:100%;
    }
    .myclass .section .btn{
      width:100%;
      margin-top:20px;
    }
    .myclass .section .btn a{
      width:49%;
      float:left;
      margin-right:2%;
      margin-left:0;
      text-align:center;
    }
    .myclass .section .btn a:last-child{
      margin-right:0;
    }
    .myclass .section .select_class::after{
      display:block;content:'';clear:both;
    }
    .myclass .section .select_class select{
      width:79% !important;
      margin-right:1%;
      float:left;
    }
    .myclass .section .select_class .tit{
      float:right;
      width:20%;
      height:40px;
      line-height:40px;
      text-align: center;
      padding:0;
      margin-left:0 !important;
    }
    /* myclass pop */
/*    #wrap .pop_time_delay .inner{
      position:absolute;
      left:0;right:0;top:0 !important;bottom:0;
      margin:auto;
    }
    .pop.pop_time_change .inner{
      left:0;right:0;top:0 !important;bottom:0;
      margin:auto;
      height:300px;
    }
    .pop.pop_time_change .inner .btn{
      position:absolute;
      width:100%;
      bottom:20px;
      left:0;
    }
}
@media screen and (max-width:720px){
  .main_classreview .m_review_box ul li:hover .orange{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
  }
  .main_classreview .m_review_box{
    width:100%;
  }
  #container .main_notice .inner .banner ul li h2{
    padding-bottom:2vw;
  }
}
@media screen and (max-width:640px){
    *{
        box-sizing:border-box;
    }
    #noti{display:none !important;}
    #wrap{
        max-width:auto;
        width:100%;
         min-width:auto;
    }
    #container #contents{
        width:100%;
        margin-top:0;
    }
    #container #contents.wide{
        margin-top:0;
    }
    #container .inner{
      padding:0 1.5625vw;
    }
    /* main */
/*    .pop.pop_sampleSkype .inner{
      width:400px;
      height:280px;
      left:0;right:0;bottom:0;top:0;
      margin:auto;
    }

    .pop.pop_sampleBoard .inner{
      width:400px;
      height:280px;

      left:0;right:0;bottom:0;top:0;
      margin:auto;
    }
    .pop.pop_sampleBoard .inner .close_pop{
      right:0;
      top:-7vw;
    }
      /* main_과정 */
/*    #container .main_onstop h2.main_h2_tit{
      display:none;
    }
    #container .main_onstop .list ul li p{
      display:none;
    }
    #container .main_onstop{
      padding:11vw 0;
    }
    #container .main_onstop .list ul{
      width:100%;
      padding:0 10vw;
      margin:0;
    }
    #container .main_onstop .list ul li{
      width:49%;
      margin-left:2%;
      overflow:hidden;
    }
    #container .main_onstop .list ul li:nth-child(1),
    #container .main_onstop .list ul li:nth-child(3){
      margin-left:0;
    }
      /* main_커리큘럼 */
/*  #container .main_curriculum2 .list ul li,
    #container .main_curriculum2 .list ul li:nth-child(3){
      width:49%;
      margin-right:2%;
    }
    #container .main_curriculum2 .list ul li:nth-child(2),
    #container .main_curriculum2 .list ul li:nth-child(4),
    #container .main_curriculum2 .list ul li:nth-child(6){
      margin-right:0;
    }
    #container .main_curriculum2 .list ul li a .img > img{width:100%;}
    #container .main_curriculum2 .list ul li a h3{
      font-size:4.5vw;
    }
    #container .main_curriculum2 .list ul li a .img .hover{
      font-weight:400;
      font-size:3vw;
      height:28vw;
      padding:3vw 3vw 0 3vw;
      display:none;
    }
      /* main_수강후기 */
/*    .main_classreview .m_review_box{
      width:100%;
    }
    .main_classreview .m_review_box .bx-wrapper{
      width:340px !important;
      max-width:340px !important;
    }
    .main_classreview .m_review_box ul li{
      width:150px !important;
      height:340px;
    }
    .main_classreview .m_review_box ul li .dou{display:none;}
    .main_classreview .m_review_box ul li .orange{
      font-size:16px;
      margin:0;
      height:auto;
      padding:20px 5px 20px 5px;
      text-overflow:ellipsis;
      white-space:nowrap;
      overflow:hidden;
    }
    .main_classreview .m_review_box ul li .gray{
      padding:0 5px !important;
      margin:0;
      height:auto;
      overflow:hidden;
      font-size:14px;
    }
    .main_classreview .m_review_box ul li .gray-two{
      font-size:16px;
      margin-top:0;
      height:auto;
      padding-top:3vw;
      position:absolute;
      text-align:center;
      bottom:100px;
      z-index: 30;
      left:0;
      width:100%;
    }
    #container .main_classreview .btn_more a{
      border-radius:8px;
    }
      /* main_교육지원센터 */
/*    #container .main_notice{
      padding:0 0;
    }
    #container .main_notice .inner{
      padding:0;
    }
    #container .main_notice .inner .notice_wrap{
      width:100%;
    }
    #container .main_notice .inner .notice_wrap .notice{
      height:auto;
    }
    #container .main_notice .inner .notice_wrap .notice .list ul li a{
      font-size:3vw;
    }
    #container .main_notice .inner .notice_wrap .notice .list ul li .date{
      font-size:3vw;
    }
    #container .main_notice .inner .notice_wrap .notice h2 span{
      font-size:5vw;
    }
    #container .main_notice .inner .notice_wrap .center{
      height:auto;
    }
    #container .main_notice .inner .banner{
      width:100%;
    }
    #container .main_notice .inner .banner ul li{
      width:50%;
      height:26.27vw;
    }
    #container .main_notice .inner .banner ul li h2{
      padding-bottom:3vw;
      font-size:4vw;
    }
    #container .main_notice .inner .banner ul li img{
      width:11.71vw;
    }
    #container .main_notice .inner .banner ul li span{display:none;}
    #container .main_notice .inner .notice_wrap .center h2{
      font-size:5vw;
    }
    #container .main_notice .inner .notice_wrap .notice h2 span{
      padding-bottom:5px;
    }
    #container .main_notice .inner .notice_wrap .notice h2 .more{
      top:3vw;
    }
    #container .main_notice .inner .notice_wrap .notice h2 .more img{
      width:5vw;
    }
    #container .main_notice .inner .notice_wrap .center ul li{font-size:3.5vw;}
    #container .main_notice .inner .notice_wrap .center ul li strong{font-size:3.5vw;}
    #container .main_notice .inner .notice_wrap .center ul li strong a{font-size:3.5vw;}
    #container .main_notice .inner .notice_wrap .center ul li strong a b{font-size:3.5vw;}
    #container .main_notice .inner .notice_wrap .center ul li span{font-size:2.5vw;}
      /* main_특장점 */
/*  #container .main_advantage{
      background-image: none;
      background-color:#e0ebf8;
    }
    #container .main_advantage .img{display:none;}
    #container .main_advantage .m_advantage{display:block;}
    .main_classreview .m_review_box ul li{
      border:1px solid #dedede;
    }
    /* //main */
/* web_table*/
/*    .web_table{
      display:block;
    }
    .web_table .web_tr{
      display:block;
    }
    .web_table_list .web_tr .web_td{
      display:inline-block;border:0;
      width:auto;
    }
    .web_table .web_tr .web_td:first-child{
      border:0;
    }
    .web_table_list .web_th{display:none !important;}
    .web_table_list .web_tr .web_td .web_number{
      display:15%;
    }
    .web_table_list .web_tr .web_td .web_
    /* mypage */
/*    .myclass .section h4{
        width:100%;
        background-color:#034ea2;
        background-image: none;
    }
    /* myclass table */
/*    .myclass .web_table{
      display:block;
      border-bottom:1px solid #ddd;
    }
    .myclass .web_table *{box-sizing:border-box;}
    .myclass .web_table .web_tr{
      border-top:1px solid #ddd;
      display: block;
    }
    .myclass .web_table .web_tr::after{
      display: block;content:'';clear:both;
    }
    .myclass .web_table .web_tr .web_td{
      display: block;
      float:left;
      border-right:1px solid #ddd;
      border-left: 1px solid #ddd;
    }
    .myclass .web_table .web_tr .web_td:first-child{
      border-left:1px solid #ddd;
    }
    .myclass .web_table .web_tr .web_th{
      border-left:1px solid #ddd;
    }
    .myclass .web_table_list .web_tr .web_td{
      text-align:center;
    }
    .myclass .web_table .web_tr .web_td{border-bottom:1px solid #ddd;}
    .myclass .web_table_list .web_td{
      padding:0;
      border-bottom:1px solid #ddd;
    }
    .myclass .web_table_list .web_td > span{
      float:left;
      width:50%;
      padding-left:8px;
      text-align:left;
      line-height:47px;
    }
    .myclass .web_table_list .web_td > b{
      display:block;
      float:left;
      height:48px;
      line-height:47px;
      width:50%;
      background-color:#f5f5f5;
      font-weight:400;
    }
    .myclass .web_table_list .web_tr .web_th{
      display:none;
    }
    .myclass .web_td_4{
      width:50%;
    }
    .myclass .web_td_5{
      width:100%;
    }
    .myclass .section .schedule_ico table td{
      display: block;
    }
    /* myclass pop */
/*    #wrap .pop_time_delay .inner{
      width:340px;
      height:400px !important;
      padding:20px;
    }
    .pop.pop_time_delay .count{
      padding-bottom:30px;
    }
    .pop.pop_time_delay .inner h4{
      font-size:22px;
    }
    .pop.pop_time_delay .delay_calendar .tit strong{
      position:relative;
      left:0;
      top:0;
    }
    .pop.pop_time_delay .delay_calendar .tit p{
      padding:0;
    }
    .pop.pop_time_delay .delay_calendar .calendar_month{
      display:none;
    }
    .pop .class_schedule_wrap{
      display:none;
    }
}
/* 해상도 400이하 폰트 문제 */
/*@media screen and (max-width:400px){
    /*  layout  */
/*    #footer .foot_menu ul li a{
        font-size:4vw;
    }
    /*main*/
/*    .pop.pop_sampleSkype .inner{
      width:340px;
      height:250px;
      left:0;right:0;bottom:0;top:0;
      margin:auto;
    }

    .pop.pop_sampleBoard .inner{
      width:340px;
      height:250px;

      left:0;right:0;bottom:0;top:0;
      margin:auto;
    }
    #container .main_classreview .btn_more a{
      width:100%;
      border-radius:5px;
    }
    .main_classreview .m_review_box{padding:0 5px;}
    .main_classreview .m_review_box .bx-wrapper{width:320px !important;max-width:320px !important;}
    .main_classreview .sPrev, .main_classreview .sNext{display:none;}
    /* login */
/*    .login > h3{
        font-size:10vw;
    }
    /* join */
/*    .join .join_agree .agree ul li label{
        font-size:3.5vw;
    }
    .join_tb_td .chk{
        padding-top:8px;
        line-height:1.5;
    }


}*/
