@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@media (max-width:1023px) {
  .inner {
    /*min-width:1050px !important;*/
  }

  #header .inner .gnb>ul>li {
    padding: 0px 10px;
  }

  #header .tel_chi {
    left: 48%;
  }
}

/* layout */
#wrap {
  font-family: 'Noto Sans KR';
  min-width: 1024px;
}

#header {
  background-image: url(/img/header_bg.jpg);
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  min-width: 1024px;
  background-repeat: repeat-x;
}

#header .inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#header .inner h1 {
  position: absolute;
  left: 0;
  top: 23px;
}

#header .inner .gnb {
  margin: 0 130px 0 170px;
}

#header .inner .gnb>ul {}

#header .inner .gnb>ul>li {
  float: left;
  padding: 0 18px;
  position: relative;
}

#header .inner .gnb>ul>li>a {
  display: block;
  font-size: 16px;
  color: #fff;
  height: 75px;
  line-height: 75px;
  text-align: center;
  min-width: 100px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background: url(/img/bg_gnb_over.png) no-repeat right top;
}

#header .inner .gnb>ul>li:hover>a {
  background-position: left top;
}

#header .inner .gnb>ul>li>.gnb_sub {
  display: none;
  padding: 10px 0 25px 0;
  height: 240px;
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
}

#header .inner .gnb>ul>li>.gnb_sub>ul>li>a {
  display: block;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: #034ea2;
  letter-spacing: -1px;
}

#header .inner .gnb>ul:after {
  content: '';
  display: block;
  clear: both;
}

#header .inner .open_mymenu {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 26px;
  padding-bottom: 50px;
  z-index: 100
}

#header .inner .mymenu {
  position: absolute;
  right: 0;
  top: 75px;
}

#header .inner .mymenu ul {
  display: none;
  padding: 10px 0;
  width: 110px;
  border-left: 1px solid #306db1;
  height: 230px;
}

#header .inner .mymenu ul li a {
  display: block;
  line-height: 36px;
  font-size: 14px;
  color: #034ea2;
  letter-spacing: -1px;
  text-align: right;
}

#header .tel_chi {
  position: absolute;
  left: 50%;
  margin-left: 380px;
  top: 0;
  height: 28px;
  padding: 23px 0
}

#header .tel_chi a {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #fff;
  font-size: 12px;
  color: #fff;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header .tel_chi a:hover {
  background: #fff;
  color: #034ea2;
}

#container {}

#container .inner {
  max-width: 1000px;
  margin: 0 auto;
}

#container h2.main_h2_tit {
  font-size: 40px;
  color: #000;
  text-align: center;
  font-weight: 300;
  padding-bottom: 50px;
}

#container h2.main_h2_tit strong {
  color: #034ea2;
  font-weight: 500;
}

#container .main_visual {
  overflow: hidden;
  padding-top: 75px;
  height: 863px;
}

.main_visual ul li {
  position: relative;
  overflow: hidden;
  height: 863px;
}

#container .mobile_visual .item {
  width: 100%;
}

#container .mobile_visual ul {
  height: 100vw;
  overflow: hidden;
}

#container .mobile_visual ul li {
  float: left;
}

#container .mobile_visual .bx-wrapper {
  position: relative;
}

#container .mobile_visual .bx-pager {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  z-index: 100
}

#container .mobile_visual .bx-pager .bx-pager-item {
  display: inline-block;
}

#container .mobile_visual .bx-pager .bx-pager-item a {
  display: block;
  width: 70px;
  height: 5px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/img/ico_nav.png) no-repeat right top;
  margin: 0 2px;
}

#container .mobile_visual .bx-pager .bx-pager-item a.active {
  background-position: left top;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#container .main_visual ul li>a {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -960px;
  height: 863px;
  width: 1920px;
  background-position: center;
  background-repeat: no-repeat;
}

#container .main_visual ul li a img {
  max-width: 100%;
}

#container .main_visual .bx-wrapper {
  position: relative;
}

#container .main_visual .bx-pager {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 100
}

#container .main_visual .bx-pager .bx-pager-item {
  display: inline-block;
}

#container .main_visual .bx-pager .bx-pager-item a {
  display: block;
  width: 70px;
  height: 5px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/img/ico_nav.png) no-repeat right top;
  margin: 0 2px;
}

#container .main_visual .bx-pager .bx-pager-item a.active {
  background-position: left top;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#container .main_onstop {
  padding: 135px 0 160px 0;
  border-bottom: 1px solid #034ea2;
}

#container .main_onstop .list {}

#container .main_onstop .list ul {
  overflow: hidden;
  margin-left: -12px;
}

#container .main_onstop .list ul li {
  float: left;
  width: 240px;
  margin-left: 12px;
  text-align: center;
}

#container .main_onstop .list ul li .img {
  display: block;
  width: 240px;
  height: 240px;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#container .main_onstop .list ul li p {
  font-size: 20px;
  color: #034ea2;
  letter-spacing: -1px;
}

#container .main_onstop .list ul li.main_onstop_list01 .img {
  background-image: url(/img/img_main_onstop01_over.png);
  background-image: url(/img/img_main_onstop01.png);
}

#container .main_onstop .list ul li.main_onstop_list02 .img {
  background-image: url(/img/img_main_onstop02_over.png);
  background-image: url(/img/img_main_onstop02.png);
}

#container .main_onstop .list ul li.main_onstop_list03 .img {
  background-image: url(/img/img_main_onstop03_over.png);
  background-image: url(/img/img_main_onstop03.png);
}

#container .main_onstop .list ul li.main_onstop_list04 .img {
  background-image: url(/img/img_main_onstop04_over.png);
  background-image: url(/img/img_main_onstop04.png);
}

#container .main_onstop .list ul li.main_onstop_list01 .img:hover {
  background-image: url(/img/img_main_onstop01_over.png);
}

#container .main_onstop .list ul li.main_onstop_list02 .img:hover {
  background-image: url(/img/img_main_onstop02_over.png);
}

#container .main_onstop .list ul li.main_onstop_list03 .img:hover {
  background-image: url(/img/img_main_onstop03_over.png);
}

#container .main_onstop .list ul li.main_onstop_list04 .img:hover {
  background-image: url(/img/img_main_onstop04_over.png);
}

#container .main_curriculum {
  padding: 135px 0 160px 0;
}

#container .main_curriculum .list ul {
  overflow: hidden;
  margin-left: -13px;
}

#container .main_curriculum .list ul li {
  float: left;
  margin-left: 13px;
  width: 189px;
}

#container .main_curriculum .list ul li a {
  display: block;
}

#container .main_curriculum .list ul li a h3 {
  background: #034ea2;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
  font-weight: 400;
}

#container .main_curriculum .list ul li a .img {
  position: relative;
  overflow: hidden;
}

#container .main_curriculum .list ul li a .img .hover {
  background: url(/img/bg_white02.png) repeat left top;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  height: 195px;
  text-align: center;
  font-size: 17px;
  color: #034ea2;
  padding: 40px 10px 10px 10px;
  letter-spacing: -1px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#container .main_curriculum .list ul li a:hover .img .hover {
  bottom: 0;
}

#container .main_advantage {
  padding: 155px 0 180px 0;
  background: url(/img/bg_main_advantage.png) repeat left top;
}

#container .main_edu {
  padding: 105px 0 150px 0
}

#container .main_edu h2 {
  padding-bottom: 30px !important;
}

#container .main_edu .inner>p {
  font-size: 22px;
  color: #3a3a3a;
  font-weight: 300;
  text-align: center;
  padding-bottom: 60px;
}

#container .main_edu .list {
  max-width: 772px;
  margin: 0 auto;
  background: url(/img/bg_main_edu_list.png) no-repeat center top;
  height: 301px;
  background-size: cover;
}

#container .main_edu .list ul {
  overflow: hidden;
  text-align: center;
  padding: 50px 25px 0 25px;
}

#container .main_edu .list ul li {
  float: left;
  width: 33.3333%;
  text-align: center;
}

#container .main_edu .list ul li a {
  display: block;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 150px;
  width: 137px;
  margin: 0 auto;
  letter-spacing: -1px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#container .main_edu .list ul li a strong {
  font-size: 18px;
  color: #034ea2;
  font-weight: 400;
}

#container .main_edu .list ul li a p {
  font-size: 16px;
  color: #3a3a3a;
}

#container .main_edu .list ul li a.main_edu_list01 {
  background-image: url(/img/img_main_edu01_over.png);
  background-image: url(/img/img_main_edu01.png)
}

#container .main_edu .list ul li a.main_edu_list02 {
  background-image: url(/img/img_main_edu02_over.png);
  background-image: url(/img/img_main_edu02.png)
}

#container .main_edu .list ul li a.main_edu_list03 {
  background-image: url(/img/img_main_edu03_over.png);
  background-image: url(/img/img_main_edu03.png)
}

#container .main_edu .list ul li a.main_edu_list01:hover {
  background-image: url(/img/img_main_edu01_over.png);
}

#container .main_edu .list ul li a.main_edu_list02:hover {
  background-image: url(/img/img_main_edu02_over.png);
}

#container .main_edu .list ul li a.main_edu_list03:hover {
  background-image: url(/img/img_main_edu03_over.png);
}

#container .main_classreview {
  height: 725px;
  padding-top: 80px;
  background: url(/img/bg_mgin_classReview.jpg) no-repeat center top;
  background-size: cover;
  position: relative;
}

#container .main_classreview h2 {
  color: #fff !important;
}

#container .main_classreview h2 strong {
  color: #fff !important;
}

#container .main_classreview .review {
  padding: 80px 0;
  background: url(/img/ico_main_classreview.png) no-repeat center top;
}

#container .main_classreview .review ul {}

#container .main_classreview .review ul li {
  text-align: center;
}

#container .main_classreview .review ul li p {
  font-size: 28px;
  color: #fff;
  font-weight: 100;
  letter-spacing: -1px;
  line-height: 150%;
}

#container .main_classreview .review ul li strong.name {
  width: 550px;
  margin: auto;
  display: block;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  line-height: 150%;
}

#container .main_classreview .review .bx-wrapper {
  position: relative;
  padding: 0 40px;
}

#container .main_classreview .review .bx-prev {
  position: absolute;
  left: 0;
  top: 50%;
  width: 23px;
  height: 43px;
  margin-top: -21px;
  background: url(/img/btn_prev.png) no-repeat left top;
  overflow: hidden;
  text-indent: -9999px;
}

#container .main_classreview .review .bx-next {
  position: absolute;
  right: 0;
  top: 50%;
  width: 23px;
  height: 43px;
  margin-top: -21px;
  background: url(/img/btn_next.png) no-repeat left top;
  overflow: hidden;
  text-indent: -9999px;
}

#container .main_classreview .btn_more {
  text-align: center;
  margin-top: 40px;
}

#container .main_classreview .btn_more a {
  display: inline-block;
  width: 226px;
  height: 56px;
  line-height: 56px;
  color: #034ea2;
  background: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -1px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#container .main_classreview .btn_more a:hover {
  color: #fff;
  background: #034ea2
}

#container .main_notice {
  padding: 135px 0;
  background: url(/img/bg_main_notice.png) repeat left top;
}

#container .main_notice .inner {
  overflow: hidden;
}

#container .main_notice .inner .notice_wrap {
  float: left;
  width: 494px;
}

#container .main_notice .inner .notice_wrap .notice {
  background: #fff;
  padding: 30px;
  height: 173px;
}

#container .main_notice .inner .notice_wrap .notice h2 {
  font-size: 20px;
  color: #034ea2;
  border-bottom: 1px solid #034ea2;
  position: relative;
  margin-bottom: 25px;
  font-weight: 400;
}

#container .main_notice .inner .notice_wrap .notice h2 span {
  display: inline-block;
  border-bottom: 3px solid #034ea2;
  padding-bottom: 10px;
}

#container .main_notice .inner .notice_wrap .notice h2 .more {
  position: absolute;
  right: 0;
  top: 0;
}

#container .main_notice .inner .notice_wrap .notice .list ul li {
  position: relative;
  padding: 4px 0
}

#container .main_notice .inner .notice_wrap .notice .list ul li a {
  display: block;
  margin-right: 75px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  color: #333;
}

#container .main_notice .inner .notice_wrap .notice .list ul li .date {
  position: absolute;
  right: 0;
  top: 4px;
}

#container .main_notice .inner .notice_wrap .center {
  background: #034ea2;
  color: #fff;
  padding: 25px 30px;
  height: 184px;
}

#container .main_notice .inner .notice_wrap .center h2 {
  font-size: 26px;
  color: #fff;
  padding: 0 0 10px 0;
  font-weight: 500;
}

#container .main_notice .inner .notice_wrap .center ul li {
  font-size: 17px;
  font-weight: 400;
  line-height: 110%;
  padding-bottom: 7px;
  letter-spacing: 0;
  color: #fff;
}

#container .main_notice .inner .notice_wrap .center ul li a {
  color: #fff;
}

#container .main_notice .inner .notice_wrap .center ul li strong {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

#container .main_notice .inner .notice_wrap .center ul li strong b {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
}

#container .main_notice .inner .notice_wrap .center ul li span {
  font-size: 14px;
  color: #fff;
}

#container .main_notice .inner .banner {
  float: right;
  width: 506px;
}

#container .main_notice .inner .banner ul {
  overflow: hidden;
}

#container .main_notice .inner .banner ul li {
  float: left;
}

#footer {
  background: #dfdfdf;
}

#footer .foot_menu {
  border-bottom: 1px solid #c3c3c3;
  padding: 12px 0;
}

#footer .foot_menu ul {
  max-width: 1000px;
  margin: 0 auto;
  text-align: right;
}

#footer .foot_menu ul li {
  display: inline-block;
  padding: 0 7px;
  background: url(/img/ico_bar01.png) no-repeat left center;
}

#footer .foot_menu ul li a {
  display: block;
  line-height: 100%;
  font-size: 14px;
  color: #727272;
}

#footer .foot_menu ul li:first-child {
  background: none;
}

#footer .inner {
  max-width: 1000px;
  margin: 0 auto;
}

#footer .inner .logo {
  position: relative;
  left: 0;
  top: 100px;
}

#footer .inner .foot_info {
  padding: 55px 0 65px 326px;
  overflow: hidden;
}

#footer .inner .foot_info h2 {
  font-size: 18px;
  color: #034ea2;
  padding-bottom: 20px;
}

#footer .inner .foot_info ul li {
  font-size: 14px;
  color: #034ea2;
  line-height: 100%;
  padding: 3px 0;
  font-weight: 300;
}

#footer .inner .foot_info .about {
  float: left;
  width: 50%
}

#footer .inner .foot_info .center {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 29px;
}

.pop.pop_sampleSkype .inner {
  width: 700px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -350px;
}

.pop.pop_sampleSkype .inner .close_pop {
  right: -40px;
  top: 5px;
}

.pop.pop_sampleSkype .inner .video {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.pop.pop_sampleSkype .inner .video video {
  width: 100%;
  height: 100%;
}

.pop.pop_sampleBoard .inner {
  width: 700px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -350px;
}

.pop.pop_sampleBoard .inner .close_pop {
  right: -40px;
  top: 5px;
}

.pop.pop_sampleBoard .inner .video {
  width: 100%;
  height: 100%;
}

.pop.pop_sampleBoard .inner .video video {
  width: 100%;
  height: 100%;
}

/* sub_layout */
.path {
  position: relative;
  background: #fff;
  margin-top: 75px;
}

.path .inner {
  max-width: 1000px;
  margin: 0 auto;
}

.path .inner ul {
  overflow: hidden;
  padding: 13px 0;
}

.path .inner ul li {
  float: left;
  background: url(/img/ico_path_arrow.png) no-repeat left center;
  font-size: 15px;
  color: #034ea2;
  padding-left: 18px;
  margin-right: 10px;
}

.path .inner ul li:first-child {
  background: url(/img/ico_home.png) no-repeat left center;
  padding-left: 30px;
}

.sub_top {
  position: relative;
  height: 350px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.sub_top>p {
  font-size: 42px;
  color: #034ea2;
  line-height: 150%;
  padding-top: 140px;
  letter-spacing: -2px;
  font-weight: 500;
}

.sub_top.sub01 {
  background-image: url(/img/bg_sub_top01.jpg);
}

.sub_top.sub02 {
  background-image: url(/img/bg_sub_top02.jpg);
}

.sub_top.sub02_1 {
  background-image: url(/img/bg_sub_top02_1.jpg);
}

.sub_top.sub02_2 {
  background-image: url(/img/bg_sub_top02_2.jpg);
}

.sub_top.sub02_3 {
  background-image: url(/img/bg_sub_top02_3.jpg);
}

.sub_top.sub02_4 {
  background-image: url(/img/bg_sub_top02_4.jpg);
}

.sub_top.sub02_5 {
  background-image: url(/img/bg_sub_top02_5.jpg);
}

.sub_top.sub02_6 {
  background-image: url(/img/bg_sub_top02_6.jpg);
}

.sub_top.sub03 {
  background-image: url(/img/bg_sub_top03.jpg);
}

.sub_top.sub04 {
  background-image: url(/img/bg_sub_top04.jpg);
}

.sub_top.sub05 {
  background-image: url(/img/bg_sub_top05.jpg);
}

.sub_top.sub06 {
  background-image: url(/img/bg_sub_top05.jpg);
}

#container .inner {
  overflow: hidden;
}

#container #snb {
  width: 200px;
  /* margin-right: 65px; */
  float: left;
}

#container #snb h2 {
  font-size: 22px;
  color: #fff;
  height: 95px;
  padding-top: 65px;
  background: #034ea2;
  text-align: center;
  font-weight: 300;
}

#container #snb ul li {
  margin-top: 2px;
}

#container #snb ul li a {
  display: block;
  background: #034ea2;
  color: #fff;
  text-align: center;
  padding: 13px 0;
  font-size: 15px;
}

#container #snb ul li a:hover {
  background: #cddcec;
  color: #034ea2
}

#container #snb ul li a:focus {
  background: #cddcec;
  color: #034ea2
}

#container #snb ul li a.on {
  background: #cddcec;
  color: #034ea2
}

#container #snb ul li a#snb_list06_01:hover {
  background: #034ea2;
  color: #fff;
}

#container #snb ul li a#snb_list06_01:focus {
  background: #034ea2;
  color: #fff;
}

#container #snb ul li a#snb_list06_01.on {
  background: #034ea2;
  color: #fff;
}

#container #snb ul li a#snb_list06_02:hover {
  background: #034ea2;
  color: #fff;
}

#container #snb ul li a#snb_list06_02:focus {
  background: #034ea2;
  color: #fff;
}

#container #snb ul li a#snb_list06_02.on {
  background: #034ea2;
  color: #fff;
}

#container #snb ul li ul li {
  margin-top: 1px;
}

#container #snb ul li ul li a {
  font-size: 15px;
  color: #fff;
  background: #9ab8da;
  padding: 8px 0;
}

#container #snb ul li ul li a:hover {
  background: #cddcec;
  color: #034ea2
}

#container #snb ul li ul li a:focus {
  background: #cddcec;
  color: #034ea2
}

#container #snb ul li ul li a.on {
  background: #cddcec;
  color: #034ea2
}

#container #snb .btn_screen {
  border: 1px solid #034ea2;
  color: #034ea2;
  font-size: 15px;
  text-align: center;
  background: url(/img/ico_screen.png) no-repeat 50px center;
  display: block;
  margin-top: 10px;
  padding: 5px 0 5px 25px;
}

#container .inner #contents {
  margin-left: 265px;
  position: relative;
  width: 735px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

ui-view>.inner {
  padding: 75px 0 100px 0;
  /* border:1px solid red; */
}

#container #contents .h3_tit {
  border-bottom: 1px solid #ccc;
  color: #034ea2;
  font-size: 32px;
  line-height: 150%;
  padding-bottom: 20px;
  margin-bottom: 25px;
  font-weight: 500;
  letter-spacing: -2px;
}

#container #contents .h3_tit span {
  font-weight: 100;
  color: #404040;
}

#container #contents .h3_tit.noBorder {
  border-bottom: 0;
  margin-bottom: 0;
}

#container #contents .sub_txt {
  font-size: 18px;
  color: #303030;
  line-height: 150%;
  padding-bottom: 25px;
  letter-spacing: -1px;
}

#container #contents .sub_txt .blue {
  color: #034ea2;
  font-weight: 500;
}

#container #contents.wide {
  margin: 0 auto;
  width: 1000px;
  margin-top: 100px;
}

.paging {
  text-align: center;
  padding-bottom: 20px;
}

.paging a {
  display: inline-block;
  font-size: 15px;
  color: #333;
  padding: 0 8px;
  line-height: 22px;
}

.paging strong {
  display: inline-block;
  font-size: 15px;
  color: #333;
  padding: 0 8px;
  line-height: 22px;
}

.paging a.btn {
  padding: 0;
  vertical-align: top;
}

.table_list table {
  border-collapse: collapse;
  width: 99.9%;
}

.table_list table th {
  font-size: 17px;
  color: #333;
  line-height: 150%;
  border: 1px solid #ccc;
  background: #f5f5f5;
  font-weight: 400;
  padding: 15px 5px;
}

.table_list table td {
  font-size: 17px;
  color: #333;
  line-height: 150%;
  border: 1px solid #ccc;
  padding: 15px 5px;
  text-align: center;
}

.table_list02 table {
  width: 100%;
  border-collapse: collapse;
}

.table_list02 table th {
  font-size: 16px;
  color: #fff;
  padding: 5px;
  background: #757575 url(/img/ico_bar04.png) no-repeat left center;
  font-weight: 400;
  text-align: center;
}

.table_list02 table th:first-child {
  background-image: none;
}

.table_list02 table td {
  text-align: center;
  font-size: 16px;
  color: #333;
  padding: 5px;
  border-bottom: 1px solid #b3b3b3
}

.table_list02 table td.left {
  text-align: left;
  padding: 5px 10px;
}

.table_list02 table td.left>a>label {
  color: #ff1800;
  display: inline-block;
  margin-right: 10px;
}

.notice_list .table_list02 table td.left>a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  box-sizing: border-box;
  max-width: 440px;
  padding-right: 50px;
}

.consult_list .table_list02 table td.left>a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  box-sizing: border-box;
  max-width: 380px;
  padding-right: 50px;
}

.table_list03 table {
  width: 99.99%;
  border-collapse: collapse;
}

.table_list03 table th {
  font-size: 15px;
  color: #1d1d1d;
  padding: 10px;
  background: #d9e5f1;
  font-weight: 500;
  text-align: center;
  border: 1px solid #acacac;
}

.table_list03 table td {
  text-align: center;
  font-size: 15px;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #acacac
}

.table_list03 table td.left {
  text-align: left;
  font-size: 13px;
}

.table_list03 table td.first {
  background: #efefef;
  font-weight: 500;
}

.table_list04 table {
  width: 99.99%;
  border-collapse: collapse;
}

.table_list04 table th {
  font-size: 15px;
  color: #1d1d1d;
  padding: 10px;
  background: #f5f5f5;
  font-weight: 500;
  text-align: center;
  border: 1px solid #ccc;
}

.table_list04 table td {
  text-align: center;
  font-size: 15px;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc
}

.table_list04 table td.left {
  text-align: left;
  font-size: 15px;
}

.table_list04 table td.first {
  background: #efefef;
  font-weight: 500;
}

.table_list04 table td .btn {
  display: inline-block;
  width: 65px;
  height: 38px;
  line-height: 38px;
  color: #333;
  font-size: 15px;
  border: 1px solid #d5d5d5;
  background: #f3f3f3;
}

.table_list04 table td input[type="text"] {
  border: 1px solid #ccc;
  width: 90%;
  height: 34px;
  line-height: 34px;
  text-indent: 5px;
}

.table_list04 table td select {
  border: 1px solid #ccc;
  height: 36px;
  line-height: 36px;
}

.table_list04 table td .textarea textarea {
  width: 100%;
  font-size: 14px;
  line-height: 150%;
  font-family: 'Noto Sans KR';
  height: 300px;
  border: 0;
  padding: 0;
}

.table_write table {
  border-collapse: collapse;
  width: 100%;
}

.table_write table th {
  font-size: 17px;
  color: #333;
  line-height: 40px;
  font-weight: 300;
  text-align: left;
  letter-spacing: -1px;
}

.table_write table th .star {
  color: #fe3600;
  font-weight: 500;
}

.table_write table td {
  padding: 7px 0;
  font-size: 15px;
}

.table_write table td input {
  border: 1px solid #d5d5d5;
  height: 38px;
  line-height: 38px;
  text-indent: 5px;
  font-size: 14px;
  letter-spacing: -1px;
}

.table_write table td input.startDay+img {
  margin-left: -35px;
  margin-top: 5px;
}

.table_write table td select {
  border: 1px solid #d5d5d5;
  height: 40px;
  line-height: 40px;
  color: #6b6b6b;
  min-width: 130px;
  font-size: 14px;
}

.table_write table td .btn {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  border: 1px solid #d5d5d5;
  color: #333;
  font-size: 16px;
  width: 100px;
  background: #f3f3f3;
  text-align: center;
  vertical-align: top;
  letter-spacing: -1px;
  margin-left: 10px;
}

.table_write table td .chk {
  display: inline-block;
  font-size: 15px;
  color: #6c6c6c;
  margin-left: 10px;
  line-height: 40px;
  vertical-align: top;
}

.table_write table td .chk2 {
  display: inline-block;
  line-height: 40px;
  font-size: 15px;
  color: #1aa82a;
  margin-left: 10px;
  vertical-align: top;
}

.table_write table td .chk_red {
  display: inline-block;
  line-height: 40px;
  font-size: 14px;
  color: #ff3600;
  margin-left: 10px;
  vertical-align: top;
}

.table_write table .textarea {
  padding: 10px;
  border: 1px solid #ddd;
}

.table_write table .textarea textarea {
  width: 100%;
  line-height: 150%;
  font-family: 'Noto Sans KR';
  font-size: 12px;
  border: 0;
  vertical-align: top;
  height: 100px;
}

.table_write table td .agree_tit {
  font-size: 18px;
  color: #034ea2;
  background: #e5edf6;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  letter-spacing: -1px;
}

.table_view {
  border-top: 1px solid #b3b3b3;
}

.table_view table {
  width: 99.9%;
  border-collapse: collapse
}

.table_view table th {
  border-bottom: 1px solid #b3b3b3;
  font-size: 16px;
  color: #333;
  line-height: 150%;
  font-weight: 400;
  padding: 10px 0 10px 20px;
  text-align: left;
}

.table_view table td {
  border-bottom: 1px solid #b3b3b3;
  font-size: 16px;
  color: #333;
  line-height: 150%;
  font-weight: 400;
  padding: 10px;
  text-align: left;
}

.table_view table td.cont {
  border-bottom: 0;
  padding: 20px;
  min-height: 300px;
}

.table_view table td.cont.border {
  border-bottom: 1px solid #b3b3b3;
}

.search_area {
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 55px;
}

.search_area .left {
  float: left;
}

.search_area .left select {
  display: inline-block;
  border: 1px solid #d5d5d5;
  font-size: 15px;
  color: #333;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
}

.search_area .left input[type="text"] {
  border: 1px solid #d5d5d5;
  font-size: 15px;
  color: #333;
  height: 38px;
  line-height: 38px;
}

.search_area .left button {
  display: inline-block;
  border: 1px solid #d5d5d5;
  background: #f3f3f3;
  font-size: 15px;
  color: #333;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

.search_area .right {
  float: right
}

.search_area .right a {
  display: inline-block;
  border: 1px solid #d5d5d5;
  background: #f3f3f3;
  font-size: 15px;
  color: #333;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
}

.teacher_reply {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.teacher_reply dl dt {
  background: #f1f1f1;
  border-bottom: 1px solid #ccc;
  font-size: 17px;
  color: #333;
  padding: 10px 20px;
  font-weight: 500;
}

.teacher_reply dl dd {
  padding: 18px 20px;
  min-height: 108px;
  font-size: 16px;
  line-height: 150%;
}

.teacher_reply dl dd textarea {
  width: 100%;
  border: 0;
  line-height: 150%;
  font-size: 16px;
  height: 100px;
}

.btn_group {
  overflow: hidden;
  padding-bottom: 20px;
}

.btn_group .left {
  float: left
}

.btn_group .right {
  float: right;
  margin-right: -3px;
}

.btn_group .center {
  text-align: center;
}

.btn_group .btn_style01 {
  display: inline-block;
  border: 1px solid #ccc;
  background: #f3f3f3;
  color: #333;
  font-size: 15px;
  padding: 0 25px;
  height: 38px;
  line-height: 38px;
  margin: 0 3px;
}

/* 원스탑에듀 */
.tc_introduction {
  padding-top: 30px;
}

.tc_introduction .tc_introduction_list>ul>li {
  position: relative;
  padding: 30px 0;
  border-top: 1px dashed #cfcfcf
}

.tc_introduction .tc_introduction_list>ul>li:first-child {
  border-top: 0;
}

.tc_introduction .tc_introduction_list>ul>li .img {
  position: absolute;
  left: 0;
  top: 0px !important;
  bottom: 0;
  margin: auto;
  width: 204px;
  height: 204px;
}

.tc_introduction .tc_introduction_list>ul>li .txt {
  min-height: 159px;
  padding: 20px 0 15px 250px;
}

.tc_introduction .tc_introduction_list>ul>li .txt strong {
  display: block;
  font-size: 26px;
  color: #034ea2;
  letter-spacing: -1px;
  padding-bottom: 10px;
}

.tc_introduction .tc_introduction_list>ul>li .txt p {
  font-size: 17px;
  color: #333;
  line-height: 140%;
  letter-spacing: -1px;
}

.tc_introduction .tc_introduction_list>ul>li .no_people {
  font-size: 22px;
  color: #303030;
  text-align: center;
  padding: 20px 0 100px 0
}

/* login */
.login {
  border-top: 1px solid #cecece;
  letter-spacing: -1px;
}

.login.borderBottom {
  border-bottom: 1px solid #cecece;
  padding-bottom: 55px;
}

.login>h3 {
  font-size: 42px;
  color: #034ea2;
  line-height: 150%;
  padding: 45px 0 20px 0;
  text-align: center;
  font-weight: 500;
  letter-spacing: -2px;
}

.login>p {
  text-align: center;
  font-size: 20px;
  color: #414141;
  padding-bottom: 30px;
}

.login .login_form {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.login .login_form ul li {
  padding-bottom: 8px;
}

.login .login_form ul li label {
  display: inline-block;
  width: 90px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  color: #414141;
  vertical-align: top;
}

.login .login_form ul li input[type="text"] {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  border: 1px solid #d5d5d5;
  width: 335px;
  text-indent: 5px;
  font-size: 14px;
}

.login .login_form ul li input[type="password"] {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  border: 1px solid #d5d5d5;
  width: 335px;
  text-indent: 5px;
  font-size: 14px;
}

.login .login_form .btn_login {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 104px;
  line-height: 104px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #034ea2;
  border: 0;
}

.login .login_form p {
  padding: 5px 0 100px 90px;
}

.login .login_form p input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.login .login_form p label {
  display: inline-block;
  line-height: 20px;
  font-size: 16px;
  color: #333;
  vertical-align: top;
  padding-left: 10px;
}

.login .login_form .necessary {
  position: relative;
  top: -95px;
}

.login .login_form .necessary p {
  padding: 0 0 0 90px;
  color: #Ff0000;
}

.login .btn_list ul {
  border-top: 1px solid #cecece;
}

.login .btn_list ul li {
  border-bottom: 1px solid #cecece;
  font-size: 19px;
  color: #414141;
  line-height: 42px;
  padding: 4px 0 4px 50px;
  background: url(/img/ico_bar03.png) no-repeat 20px center;
  position: relative;
}

.login .btn_list ul li a.btn {
  background: #353535;
  line-height: 42px;
  height: 42px;
  color: #fff;
  font-size: 16px;
  display: block;
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: -21px;
  width: 180px;
  text-align: center;
}

.findID {
  max-width: 510px;
  margin: 0 auto;
  border: 1px solid #cecece;
}

.findID .tab ul {
  overflow: hidden;
  max-width: none;
  margin: 0;
}

.findID .tab ul li {
  float: left;
  width: 50%;
  padding-bottom: 0;
}

.findID .tab ul li a {
  display: block;
  font-size: 18px;
  color: #333;
  text-align: center;
  padding: 15px 0;
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  font-weight: 400;
}

.findID .tab ul li a.on {
  background: #034ea2;
  color: #fff;
}

.findID .tab ul li:first-child a {
  border-left: 0;
}

.findID p {
  font-size: 22px;
  color: #414141;
  text-align: center;
  padding: 30px;
}

.findID ul {
  max-width: 380px;
  margin: 0 auto 25px auto;
}

.findID ul li {
  padding-bottom: 8px;
}

.findID ul li label {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  width: 60px;
  font-size: 17px;
  color: #414141;
}

.findID ul li input[type="text"] {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  border: 1px solid #d5d5d5;
  width: 310px;
  font-size: 14px;
  text-indent: 5px;
  vertical-align: top;
  letter-spacing: -1px;
}

.findID .btn_findID {
  background: #353535;
  color: #fff;
  height: 62px;
  line-height: 62px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  border: 0;
  display: block;
  margin-bottom: 30px;
}

.pop {
  display: none;
  background: url(/img/bg_gray.png) repeat left top;
  position: fixed;
  left: 0;
  right: 0px;
  top: 0;
  bottom: 0;
  z-index: 1000
}

.pop.show {
  display: block;
}

.findID .pop p {
  font-size: 0;
  /* color: ; */
  text-align: center;
  padding: 0;
}

.pop .inner .close_pop {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100
}

.pop .inner h3 {
  font-size: 32px;
  line-height: 120%;
  color: #034ea2;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  padding: 10px 0 25px 0;
  margin-bottom: 20px;
  letter-spacing: -2px;
}

.pop.pop_findID .inner {
  width: 443px;
  height: 198px;
  position: absolute;
  left: 37%;
  top: 40%;
  margin: -130px 0 0 -222px;
  border: 1px solid #7d7d7d;
  background: #fff;
  padding-top: 60px;
  text-align: center;
}

.pop.pop_findID .inner .txt {
  font-size: 20px;
  color: #414141;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 0 20px 5px 20px;
  word-break: keep-all;
}

.pop.pop_findID .inner .txt_strong {
  font-size: 22px;
  color: #414141;
  line-height: 150%;
  font-weight: 500;
  padding-bottom: 40px;
}

.pop.pop_findID .inner .findId {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  padding-bottom: 40px;
  color: #1aa82a;
}

.pop.pop_findID .inner .findIdErr {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  padding-bottom: 40px;
  color: #ff3600;
}

.pop.pop_findID .inner .txt_red {
  font-size: 15px;
  color: #ff3600;
  line-height: 150%;
  padding-bottom: 20px;
  letter-spacing: -1px;
}

.pop.pop_findID .inner a {
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  width: 200px;
  margin: 0 auto;
  background: #034ea2;
  position: static;
}

/* join */
.join {}

.join h3 {
  font-size: 40px;
  color: #034ea2;
  text-align: center;
  letter-spacing: -2px;
  padding-bottom: 60px;
  border-bottom: 1px solid #cecece;
  margin-bottom: 20px;
  line-height: 150%;
  font-weight: 500;
}

.join p.txt {
  font-size: 18px;
  color: #333;
  line-height: 150%;
  padding-bottom: 40px;
}

.join .table_write {
  padding-bottom: 25px;
  border-bottom: 1px solid #cecece;
  margin-bottom: 35px;
}

.join .join_agree {
  position: relative;
  margin-top: 30px;
  padding-top: 35px;
  border-top: 1px solid #cecece;
}

.join .join_agree h4 {
  font-size: 26px;
  color: #034ea2;
  line-height: 150%;
  padding-bottom: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}

.join .join_agree input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -4px;
  cursor: pointer;
}

.join .join_agree .agree .all_chk {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 18px;
  color: #333;
  padding-top: 35px;
}

.join .join_agree .agree .all_chk label {
  display: inline-block;
  margin-left: 10px;
}

.join .join_agree .agree ul {
  overflow: hidden;
  border: 1px solid #d5d5d5;
  margin-bottom: 30px;
}

.join .join_agree .agree ul li {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 18px;
  color: #333;
  line-height: 150%;
  padding: 15px 0;
}

.join .join_agree .agree ul li label {
  display: inline-block;
  padding-left: 10px;
}

.join .join_agree .agree ul li label span {
  color: #fe3600
}

.join .join_agree .terms>strong {
  display: block;
  font-size: 20px;
  color: #034ea2;
  text-align: center;
  padding: 12px 0;
  line-height: 150%;
  font-weight: 500;
  background: #e5edf6;
  margin-bottom: 10px;
}

.join .join_agree .terms .txt {
  height: 160px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #d5d5d5;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 35px;
}

.join .join_agree .btn {
  text-align: center;
  padding-top: 40px;
}

.join .join_agree .btn a {
  display: inline-block;
  width: 254px;
  height: 72px;
  line-height: 72px;
  color: #fff;
  background: #034ea2;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
}

.join_complete {
  padding: 80px 0;
}

.join_complete h3 {
  font-size: 40px;
  color: #034ea2;
  font-weight: 500;
  letter-spacing: -3px;
  text-align: center;
  line-height: 150%;
  padding-bottom: 50px;
}

.join_complete .txt {
  font-size: 18px;
  color: #333;
  line-height: 150%;
  padding-bottom: 130px;
  letter-spacing: -1px;
  text-align: center;
}

.join_complete .btn {
  text-align: center;
  padding-top: 40px;
}

.join_complete .btn a {
  display: inline-block;
  width: 254px;
  height: 72px;
  line-height: 72px;
  color: #fff;
  background: #034ea2;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
}

.join .form-group>div input {
  width: 240px;
}

/* 레벨테스트 */
.test_guide {
  padding-top: 45px;
}

.test_guide .section {
  padding-bottom: 80px;
}

.test_guide .section h4 {
  background: url(/img/bg_test_guide01.png) no-repeat left top;
  width: 235px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: -1px;
}

.test_guide .section .level_test_process {}

.test_guide .section .level_test_process ul {
  overflow: hidden;
}

.test_guide .section .level_test_process ul li {
  float: left;
  padding-left: 38px;
  background: url(/img/ico_test_guide_arrow.png) no-repeat 14px 65px;
  text-align: center;
  font-size: 17px;
  color: #2c2c2c;
  letter-spacing: -1px;
}

.test_guide .section .level_test_process ul li:first-child {
  background: none;
}

.test_guide .section .level_test_process ul li img {
  padding-bottom: 10px;
}

.test_guide .section .level_test_list {
  padding-left: 60px;
}

.test_guide .section .level_test_list ol li {
  font-size: 18px;
  color: #303030;
  line-height: 23px;
  position: relative;
  padding: 0 0 15px 30px;
}

.test_guide .section .level_test_list ol li .num {
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  line-height: 23px;
  background: url(/img/bg_level_test_list.png) no-repeat left top;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.test_guide .section .level_test_list ol li strong {
  font-weight: 500;
}

.request .txt {
  font-size: 18px;
  color: #303030;
  line-height: 150%;
  padding: 20px 0 40px 0;
  text-align: center;
}

.request .txt strong {
  display: block;
  font-size: 25px;
  color: #034ea2;
  line-height: 150%;
  font-weight: 500;
}

.request .section {
  border: 1px solid #ccc;
  padding: 35px 50px;
  margin-bottom: 35px;
}

.request .section .table_write table td.agree {
  font-size: 17px;
  color: #333;
}

.request .section .table_write table td.agree input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 10px;
}

.request .section .table_write table td.agree a {
  color: #ff3600
}

.request .btn {
  text-align: center;
}

.request .btn a {
  display: inline-block;
  width: 254px;
  height: 72px;
  line-height: 72px;
  color: #fff;
  background: #034ea2;
  font-size: 22px;
  text-align: center;
  font-weight: 500
}

.request .test_hour {
  border: 1px solid #ddd;
  width: 612px;
  height: 150px;
  overflow-y: auto;
  padding: 0 20px;
}

.request .test_hour table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
}

.request .test_hour table th {
  background: #034ea2;
  color: #fff;
  text-align: center;
  padding: 0 5px;
  font-size: 14px;
  line-height: normal;
}

.request .test_hour table td {
  color: #fff;
  text-align: center;
  padding: 0 5px;
  color: #034ea2;
  font-size: 14px;
}

.request .test_hour table td span {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 0 10px;
  cursor: pointer
}

.request .test_hour table td span.pass:hover {
  border: none;
  cursor: inherit;
}

.request .test_hour table td span:hover {
  border: 1px solid #034ea2
}

.request .test_hour table td span:focus {
  border: 1px solid #034ea2
}

.request .test_hour table td span.on {
  border: 1px solid #034ea2
}

.request .test_hour table td span.pass {
  text-decoration: line-through;
  color: #a1a1a1;
}

.pop.pop_privacy .inner {
  width: 443px;
  height: 258px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -130px 0 0 -222px;
  border: 1px solid #7d7d7d;
  background: #fff;
}

.pop.pop_privacy .inner .close_pop {
  position: absolute;
  right: 20px;
  top: 20px;
}

.pop.pop_privacy .inner .tit {
  font-size: 20px;
  color: #414141;
  padding: 25px 0 20px 30px;
  text-align: left;
  font-weight: 300;
  letter-spacing: -1px;
}

.pop.pop_privacy .inner .terms_area {
  border: 1px solid #ddd;
  height: 130px;
  padding: 10px;
  margin: 0 30px;
  font-size: 14px;
  overflow-y: auto;
}

.test_confirm .txt {
  font-size: 18px;
  color: #303030;
  line-height: 150%;
  padding-bottom: 40px;
  text-align: center;
}

.test_confirm .txt strong {
  color: #034ea2;
  font-weight: 400;
}

.test_confirm .table_list {
  margin-bottom: 50px;
}

.test_confirm .btn {
  text-align: center;
}

.test_confirm .btn a {
  display: inline-block;
  width: 252px;
  height: 70px;
  line-height: 70px;
  color: #333;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  border: 1px solid #ccc;
}

/* 교육과정 */
.curriculum>.txt strong {
  display: block;
  font-size: 24px;
  color: #034ea2;
  line-height: 150%;
  letter-spacing: -1px;
  padding-bottom: 10px;
}

.curriculum>.txt p {
  font-size: 18px;
  line-height: 150%;
  color: #303030;
  padding-bottom: 40px;
  letter-spacing: -1px;
}

.curriculum .img_area img {
  max-width: 100%;
}

.curriculum .curriculum_list>ul>li {
  position: relative;
  padding-bottom: 80px;
}

.curriculum .curriculum_list>ul>li .img {
  position: absolute;
  left: 0;
  top: 45px;
}

.curriculum .curriculum_list>ul>li .txt {
  padding: 0 0 0 320px;
}

.curriculum .curriculum_list>ul>li .txt .level_txt {}

.curriculum .curriculum_list>ul>li .txt .level_txt span {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: #034ea2;
  font-size: 12px;
  text-align: center;
  background: url(/img/bg_curriculum_level.png) no-repeat left top;
  font-weight: 500;
  margin-right: 3px;
}

.curriculum .curriculum_list>ul>li .txt .tit {
  font-size: 30px;
  color: #034ea2;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -1px;
  padding-bottom: 5px;
}

.curriculum .curriculum_list>ul>li .txt .tit span {
  display: inline-block;
  background: #949494;
  color: #fff;
  font-size: 12px;
  padding: 0 7px;
  height: 21px;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 0;
  margin-left: 10px;
  vertical-align: middle;
}

.curriculum .curriculum_list>ul>li .txt .level {
  padding-bottom: 25px;
}

.curriculum .curriculum_list>ul>li .txt .level>ul {
  background-image: url(/img/level_bar.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 302px;
  height: 13px;
}

.curriculum .curriculum_list>ul>li .txt .level>ul>li {
  background-color: #034ea2;
  color: #fff;
  text-align: center;
  height: 13px;
  line-height: 13px;
  letter-spacing: 1px;
  font-size: 10px;
}

.curriculum .curriculum_list>ul>li .txt .list>ul>li {
  padding-bottom: 20px;
}

.curriculum .curriculum_list>ul>li .txt .list>ul>li>strong {
  display: block;
  font-size: 20px;
  color: #034ea2;
  line-height: 150%;
  font-weight: 300;
  background: url(/img/ico_curriculum_list.png) no-repeat left 7px;
  padding: 0 0 5px 17px;
}

.curriculum .curriculum_list>ul>li .txt .list>ul>li>ul {
  padding: 0 0 0 17px;
}

.curriculum .curriculum_list>ul>li .txt .list>ul>li>ul>li {
  font-size: 14px;
  color: #2d2d2d;
  line-height: 180%;
  letter-spacing: -1px;
}

.curriculum .btn {
  text-align: center;
}

.curriculum .btn a {
  display: inline-block;
  width: 210px;
  height: 58px;
  line-height: 58px;
  color: #fff;
  background: #034ea2;
  text-align: center;
  font-size: 20px;
}

.curriculum .curriculum_list .img {
  position: relative;
}

.curriculum .curriculum_list>ul>li:hover .curriculum_btnarea {
  display: block
}

.curriculum .curriculum_list .img .curriculum_btnarea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.curriculum .curriculum_list>ul>li:hover .curriculum_btnarea {
  opacity: 1
}

.curriculum .curriculum_list .img .curriculum_btnarea a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto auto auto auto;
  padding-top: 40px;
  font-weight: 600;
}

.curriculum .curriculum_list .img .curriculum_btnarea a::before {
  display: block;
  content: '+';
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
}

/* 교육지원센터 */
.notice_list .table_list02 {
  padding-bottom: 30px
}

.notice_view .table_view {
  padding-bottom: 20px;
}

.event_list {
  padding-bottom: 20px;
  padding-top: 40px;
}

.event_list>ul {
  overflow: hidden;
  margin-left: -2%;
}

.event_list>ul>li {
  float: left;
  width: 23%;
  margin: 0 0 2% 2%;
}

.event_list>ul>li .img {
  margin-bottom: 13px;
  border: 1px solid #c4c4c4;
  overflow: hidden;
}

.event_list>ul>li .img img {}

.event_list>ul>li .txt {
  font-size: 16px;
  color: #303030;
  letter-spacing: -1px;
  line-height: 130%;
  height: 48px;
}

.event_list>ul>li .txt strong {
  font-weight: 500;
}

.event_view .table_view {
  padding-bottom: 20px;
}

.question_list .search_area {
  padding-top: 30px;
}

.question_list .table_list02 {
  padding-bottom: 30px;
}

.question_write {
  padding-top: 25px;
}

.question_write .table_list04 {
  padding-bottom: 20px;
}

.faq_list {
  border-top: 1px solid #cfcfcf;
}

.faq_list dl {
  /* border-top: 1px solid #cfcfcf; */
  letter-spacing: -1px;
}

.faq_list dl dt {
  border-bottom: 1px dashed #cfcfcf
}

.faq_list dl dt a {
  display: block;
  background: url(/img/ico_Q.png) no-repeat 15px 13px;
  padding: 12px 15px 12px 55px;
  font-size: 18px;
  color: #333;
}

.faq_list dl dd {
  display: none;
  background: #eee url(/img/ico_A.png) no-repeat 15px 12px;
  padding: 12px 15px 12px 55px;
  border-bottom: 1px dashed #cfcfcf;
  font-size: 16px;
  color: #333;
}

.faq_list dl dd.show {
  display: block;
}

.tab_area {
  padding-bottom: 60px;
}

.tab_area ul {
  overflow: hidden;
}

.tab_area ul li {
  float: left;
  width: 25%;
}

.tab_area ul li a {
  display: block;
  font-size: 16px;
  color: #333;
  text-align: center;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #d5d5d5;
  margin-left: -1px;
}

.tab_area ul li a:hover {
  background: #034ea2;
  color: #fff;
  font-weight: 400;
  border: 1px solid #034ea2
}

.tab_area ul li a:focus {
  background: #034ea2;
  color: #fff;
  font-weight: 400;
  border: 1px solid #034ea2
}

.tab_area ul li a.on {
  background: #034ea2;
  color: #fff;
  font-weight: 400;
  border: 1px solid #034ea2
}

.tab_area ul li:first-child a {
  margin-left: 0;
}

.tab_area.three ul li {
  float: left;
  width: 33.33%;
}

.pr_support .pr_support_list>.item {
  display: none;
}

.pr_support .pr_support_list>.item:first-child {
  display: block;
}

.pr_support .pr_support_list>.item>ol>li {
  padding-bottom: 75px;
}

.pr_support .pr_support_list>.item>ol>li .tit {
  font-size: 26px;
  color: #034ea2;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 15px;
}

.pr_support .pr_support_list>.item>ol>li .tit .num {
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 21px;
  color: #fff;
  background: #034ea2;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 5px;
}

.pr_support .pr_support_list>.item>ol>li .txt {
  font-size: 17px;
  color: #333;
  line-height: 150%;
  padding: 0 0 25px 30px;
}

.pr_support .pr_support_list>.item>ol>li .txt span.red {
  color: #ff3600;
  font-weight: 500;
  padding-top: 10px;
  display: inline-block;
}

.pr_support .pr_support_list>.item>ol>li .table_list02 {
  margin-left: 30px;
}

.pr_support .pr_support_list>.item>ol>li .table_list03 {
  margin-left: 30px;
}

.pr_support .pr_support_list>.item .btn {
  text-align: center;
}

.pr_support .pr_support_list>.item .btn a {
  display: inline-block;
  width: 210px;
  height: 58px;
  line-height: 58px;
  color: #fff;
  background: #034ea2;
  text-align: center;
  font-size: 18px;
}

.pr_support .pr_support_list .img_area {
  margin-left: 30px;
}

/* 수강안내 */
.le_process {
  padding-top: 40px;
  padding-bottom: 80px;
}

.le_process>ul {
  background: url(/img/bg_le_process_line.png) repeat-y 135px top;
}

.le_process>ul>li {
  position: relative;
  min-height: 270px;
  padding: 40px 0 50px 0
}

.le_process>ul>li>.img {
  position: absolute;
  left: 0;
  top: 40px;
  padding-bottom: 50px;
  background: url(/img/ico_le_process_arrow.jpg) no-repeat center bottom;
}

.le_process>ul>li>.txt {
  padding: 50px 0 0 330px;
}

.le_process>ul>li>.txt.long {
  padding-top: 10px;
}

.le_process>ul>li>.txt .step {
  font-size: 30px;
  color: #034ea2;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -1px;
}

.le_process>ul>li>.txt p {
  font-size: 22px;
  color: #034ea2;
  line-height: 150%;
  padding-bottom: 15px;
}

.le_process>ul>li>.txt ul {
  padding-bottom: 20px;
}

.le_process>ul>li>.txt ul li {
  font-size: 17px;
  color: #4a4a4a;
}

.le_process>ul>li>.txt ul li strong {
  font-weight: 500;
}

.le_process>ul>li>.txt .btn a {
  display: block;
  font-size: 17px;
  color: #fff;
  background: #4a4a4a;
  width: 200px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -1px;
}

.le_process>ul>li:first-child {
  padding-top: 0;
}

.le_process>ul>li:first-child>.img {
  top: 0;
}

.le_process>ul>li.last {
  padding-bottom: 0;
}

.le_process>ul>li.last>.img {
  background: none;
}

.le_process02 {
  border-top: 1px solid #ccc;
}

.le_process02>p {
  font-size: 18px;
  color: #303030;
  line-height: 150%;
  padding: 30px 0 45px 0
}

.le_process02>ul>li {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  position: relative;
}

.le_process02>ul>li .img {
  position: absolute;
  left: 40px;
  top: 30px;
}

.le_process02>ul>li .txt {
  padding: 40px 0 40px 250px;
  min-height: 140px;
  letter-spacing: -1px;
}

.le_process02>ul>li .txt strong {
  display: block;
  font-size: 24px;
  color: #034ea2;
  line-height: 150%;
  font-weight: 500;
  padding-bottom: 10px;
}

.le_process02>ul>li .txt p {
  font-size: 16px;
  color: #666;
  line-height: 150%;
}

.le_process02>ul>li .txt.long {
  padding-top: 30px;
}

.resister .resister_list>ol>li {
  padding-bottom: 30px;
}

.resister .resister_list>ol>li .tit {
  padding-bottom: 15px;
  font-size: 22px;
  color: #222;
  line-height: 26px;
}

.resister .resister_list>ol>li .tit .num {
  display: inline-block;
  background: url(/img/bg_resister_list.png) no-repeat left top;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
  vertical-align: top;
}

.resister .resister_list>ol>li .tit span {
  font-size: 14px;
  color: #222;
  font-weight: 100;
}

.resister .resister_list>ol>li .process {
  overflow: hidden;
}

.resister .resister_list>ol>li .process p {
  font-size: 16px;
  color: #034ea2;
  font-weight: 400;
  padding-bottom: 5px;
}

.resister .resister_list>ol>li .process select {
  border: 0;
  border-bottom: 1px solid #c3c3c3;
  color: #222;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  width: 100%;
}

.resister .resister_list>ol>li .process .left {
  float: left;
  width: 350px;
}

.resister .resister_list>ol>li .process .right {
  float: right;
  width: 350px;
}

.resister .resister_list>ol>li .select_option {
  padding-bottom: 13px;
}

.resister .resister_list>ol>li .select_option ul {
  overflow: hidden;
}

.resister .resister_list>ol>li .select_option ul li {
  float: left;
  width: 33.33%;
}

/*.resister .resister_list > ol > li .lesson_type ul li {width:25%;}*/
.resister .resister_list>ol>li .select_option ul.month li {
  float: left;
  width: 25%;
}

.resister .resister_list>ol>li .select_option ul li a {
  display: block;
  font-size: 16px;
  color: #222;
  height: 44px;
  line-height: 44px;
  border: 1px solid #ccc;
  text-align: center;
  margin-left: -1px;
  font-weight: 400;
}

.resister .resister_list>ol>li .select_option ul li a.on {
  background: #034ea2;
  color: #fff;
  border: 1px solid #034ea2
}

.resister .resister_list>ol>li .select_option ul li:first-child a {
  margin-left: 0;
}

.resister .resister_list>ol>li .select_option.six ul li {
  width: 16.66%;
}

.resister .resister_list>ol>li .select_startDay ul {
  overflow: hidden;
  margin-left: -6%;
}

.resister .resister_list>ol>li .select_startDay ul li {
  float: left;
  width: 27.33%;
  margin-left: 6%;
}

.resister .resister_list>ol>li .select_startDay ul li select {
  border: 0;
  border-bottom: 1px solid #c3c3c3;
  color: #222;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  width: 100%;
}

.resister .resister_list>ol>li .select_startDay ul li input[type="text"] {
  border: 0;
  border-bottom: 1px solid #c3c3c3;
  color: #222;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  width: 100%;
}

.resister .resister_list>ol>li .select_startDay ul li input[type="text"]+img {
  margin-left: -35px;
  margin-top: 4px;
}

.resister>.center_txt {
  font-size: 25px;
  color: #034ea2;
  letter-spacing: -2px;
  line-height: 150%;
  font-weight: 500;
  text-align: center;
  padding: 45px 0
}

.resister .payment {
  background: #f2f2f2;
  border: 1px solid #ccc;
  padding: 15px 40px 35px 40px;
}

.resister .payment>.center_txt {
  text-align: center;
  font-size: 26px;
  color: #034ea2;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: -1px;
  padding: 20px 0 20px 0;
}

.resister .payment .section {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.resister .payment .section.noBorder {
  border-bottom: 0;
  padding-bottom: 0;
}

.resister .payment .section h3 {
  font-size: 24px;
  color: #034ea2;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: -1px;
  padding-bottom: 5px;
}

.resister .payment .section h3.tit {
  font-size: 26px;
  font-weight: 500;
}

.resister .payment .section>ul>li {
  font-size: 16px;
  color: #222;
  line-height: 150%;
}

.resister .payment .section>ul>li strong {
  font-weight: 400;
}

.resister .payment .section .payment_info>ul>li {
  padding: 4px 0;
  font-size: 13px;
  position: relative;
}

.resister .payment .section .payment_info>ul>li input[type="text"] {
  height: 28px;
  line-height: 28px;
  border: 1px solid #ccc;
}

.resister .payment .section .payment_info>ul>li label {
  display: inline-block;
  width: 85px;
  font-size: 15px;
  color: #222;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
}

.resister .payment .section .payment_info>ul>li select {
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  width: 170px;
  margin-right: 10px;
}

.resister .payment .section .payment_info>ul>li .all_point {
  display: inline-block;
  width: 60px;
  border: 1px solid #ccc;
  height: 28px;
  line-height: 28px;
  background: #fff;
  vertical-align: top;
  text-align: center;
  margin-left: 10px;
  font-size: 12px;
  margin-right: 10px;
}

.resister .payment .section .payment_info>ul>li .bank,
.resister .payment .section .payment_info>ul>li .ARS,
.resister .payment .section .payment_info>ul>li .SMS {
  padding-left: 270px;
  margin-top: -31px;
  font-size: 14px;
  color: #222;
  line-height: 150%;
}

.resister .payment .section .payment_info>ul>li .bank strong {
  font-size: 13px;
  font-weight: 400;
}

.resister .payment .section .account {
  font-size: 18px;
  color: #2f2f2f
}

.resister .payment .section .account input[type="text"] {
  height: 28px;
  line-height: 28px;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #2f2f2f;
  text-align: right;
  width: 140px;
  padding-right: 10px;
  margin-left: 10px;
}

.resister .payment .section .account input[type="checkbox"] {
  margin-left: 10px;
  width: 19px;
  height: 19px;
}

.resister .payment .section .account label {
  font-size: 15px;
  color: #333;
}

.resister .payment .btn {
  text-align: center;
  margin-top: 35px;
}

.resister .payment .btn a {
  display: inline-block;
  background: #034ea2;
  font-size: 22px;
  color: #fff;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 254px;
  font-weight: 400;
  letter-spacing: -1px;
}

.regul {
  padding-top: 45px;
}

.regul .section {
  padding-bottom: 50px;
}

.regul .section h4 {
  background: url(/img/bg_test_guide01.png) no-repeat left top;
  width: 235px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: -1px;
}

.regul .section p {
  font-size: 18px;
  color: #303030;
  line-height: 180%;
  padding-left: 60px;
  letter-spacing: -1px;
}

.regul .section p strong {
  font-weight: 400;
}

.regul .section .deposit {
  border: 1px solid #ccc;
  font-size: 18px;
  padding: 20px 40px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.regul .section .deposit>strong {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
  color: #303030;
  font-weight: 500;
}

.regul .section .deposit ul {
  margin-left: 45px;
}

.regul .section .deposit ul li {
  font-size: 16px;
  color: #303030;
  line-height: 180%;
}

/* 마이페이지 */
.myclass {
  padding: 50px 0 100px 0;
}

.myclass .section {
  padding-bottom: 40px;
}

.myclass .section h4 {
  background: url(/img/bg_test_guide01.png) no-repeat left top;
  width: 235px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: -1px;
}

.myclass .section .select_class {
  text-align: right;
  padding-bottom: 10px;
}

.myclass .section .select_class .tit {
  display: inline-block;
  border: 1px solid #ccc;
  background: #f5f5f5;
  font-size: 15px;
  color: #333;
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
}

.myclass .section .select_class select {
  border: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
}

.myclass .section .table_list04 {
  padding-bottom: 20px;
}

.myclass .section .class_schedule_wrap {
  border: 1px solid #ccc;
  background: #fafafa;
  padding: 30px 10px 10px 10px;
  margin-bottom: 10px;
}

.myclass .section .class_schedule_wrap .year {
  text-align: center;
  margin-bottom: 13px;
  position: relative;
  font-size: 15px;
  color: #333;
  font-weight: 300;
}

.myclass .section .class_schedule_wrap .year select {
  width: 115px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin: 0 5px;
}

.myclass .section .class_schedule_wrap .year .year_select {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

.myclass .section .class_schedule_wrap .year .year_select>a {
  display: inline-block;
  font-size: 30px;
  color: #034ea2;
  font-weight: 500;
}

.myclass .section .class_schedule_wrap .year .year_select>.list {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  border: 1px solid #ddd;
  background: #fff;
  padding: 10px 0;
}

.myclass .section .class_schedule_wrap .year .year_select>.list>ul>li a {
  display: block;
  font-size: 16px;
  color: #666;
  padding: 2px 10px;
}

.myclass .section .class_schedule_wrap .year .month_select {
  display: inline-block;
  position: relative;
}

.myclass .section .class_schedule_wrap .year .month_select>a {
  display: inline-block;
  font-size: 30px;
  color: #034ea2;
  font-weight: 500;
}

.myclass .section .class_schedule_wrap .year .month_select>.list {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  border: 1px solid #ddd;
  background: #fff;
  padding: 10px 0;
}

.myclass .section .class_schedule_wrap .year .month_select>.list>ul>li a {
  display: block;
  font-size: 16px;
  color: #666;
  padding: 2px 10px;
}

.myclass .section .class_schedule_wrap .year .btn_prev {
  position: absolute;
  left: 45px;
  top: 50%;
  margin-top: -13px;
}

.myclass .section .class_schedule_wrap .year .btn_next {
  position: absolute;
  right: 45px;
  top: 50%;
  margin-top: -13px;
}

.myclass .section .class_schedule_wrap .class_schedule {
  background: #fff;
}

.myclass .section .class_schedule_wrap .class_schedule table {
  width: 100%;
  border-collapse: collapse
}

.myclass .section .class_schedule_wrap .class_schedule table th {
  border: 1px solid #ccc;
  font-size: 15px;
  color: #333;
  padding: 10px;
  font-weight: 500;
}

.myclass .section .class_schedule_wrap .class_schedule table th:first-child {
  color: red;
}

.myclass .section .class_schedule_wrap .class_schedule table th:last-child {
  color: blue;
}

.myclass .section .class_schedule_wrap .class_schedule table td:first-child {
  color: red;
}

.myclass .section .class_schedule_wrap .class_schedule table td:nth-child(7) {
  color: blue;
}

.myclass .section .class_schedule_wrap .class_schedule table td {
  border: 1px solid #ccc;
  font-size: 14px;
  height: 70px;
  vertical-align: top;
}

.myclass .section .class_schedule_wrap .class_schedule table td .date {
  display: block;
  padding: 10px;
}

.myclass .section .class_schedule_wrap .class_schedule table td .stat {
  padding: 0 3px 10px 3px;
  font-size: 13px;
}

.myclass .section .class_schedule_wrap .class_schedule table td .stat>div>span {
  display: inline-block;
  line-height: 25px;
}

.myclass .section .schedule_ico {
  float: left;
  width: 440px;
  border: 1px solid #ccc;
  padding: 10px 18px;
}

.myclass .section .schedule_ico table td {
  font-size: 15px;
  color: #333;
  line-height: 27px;
  letter-spacing: -1px;
  padding: 3px 0;
}

.myclass .section .schedule_ico table td img {
  margin-right: 3px;
}

.myclass .section .btn {
  float: right;
}

.myclass .section .btn a {
  display: inline-block;
  border: 1px solid #ccc;
  background: #f5f5f5;
  font-size: 15px;
  color: #333;
  padding: 12px 30px;
  margin-left: 5px;
}

.pop.pop_appraisal .inner {
  width: 580px;
  height: 600px;
  background: #fff;
  position: absolute;
  left: 34%;
  top: 20%;
  margin: -460px 0 0 -340px;
  padding: 0 50px 20px 50px;
  border: 1px solid #7d7d7d;
  overflow-y: auto;
}

.pop.pop_appraisal .inner h3 {
  font-size: 32px;
  color: #034ea2;
  font-weight: 500;
  padding: 40px 0 15px 0;
  line-height: 150%;
  letter-spacing: -1px;
}

.pop.pop_appraisal .inner p.txt {
  font-size: 15px;
  color: #333;
  line-height: 150%;
  padding-bottom: 10px;
  font-weight: 300;
  letter-spacing: -1px;
}

.pop.pop_appraisal .inner .btn {
  padding-bottom: 15px;
  float:left;
}

.pop.pop_appraisal .inner .btn a {
  padding:0;
  display: inline-block;
  background: #f5f5f5;
  border: 1px solid #ccc;
  width: 115px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  font-size: 15px;
  color: #333;
  margin-right: 5px;
}

.pop.pop_appraisal .inner .table_list04 {
  padding-bottom: 40px;
}

.pop.pop_appraisal .inner .table_list04 th {
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: 400;
}

.pop.pop_appraisal .inner .table_list04 td {
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: 300;
}

.pop.pop_appraisal .inner .appraisal dl {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  letter-spacing: -1px;
}

.pop.pop_appraisal .inner .appraisal dl dt {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  color: #333;
  line-height: 150%;
  padding: 10px 30px;
}

.pop.pop_appraisal .inner .appraisal dl dd {
  letter-spacing: 0px;
  font-size: 15px;
  color: #333;
  line-height: 150%;
  padding: 10px 30px;
  font-weight: 300;
}

.pop.pop_time_change .inner {
  width: 405px;
  height: 220px;
  background: #fff;
  position: absolute;
  left: 40%;
  top: 40%;
  margin: -130px 0 0 -222px;
  padding: 20px;
  border: 1px solid #7d7d7d;
}

.pop.pop_time_change .inner h3 {
  font-size: 20px;
  color: #414141;
  text-align: left;
  font-weight: 300;
  padding: 0 0 10px 10px;
  line-height: 150%;
}

.pop.pop_time_change .inner p.txt {
  text-align: center;
  font-size: 19px;
  color: #414141;
  line-height: 150%;
  padding-bottom: 30px;
  font-weight: 300;
}

.pop.pop_time_change .inner p.txt strong {
  font-weight: 400;
}

.pop.pop_time_change .inner .btn {
  text-align: center;
}

.pop.pop_time_change .inner .btn a {
  display: inline-block;
  background: #034ea2;
  font-size: 18px;
  color: #fff;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 200px;
  font-weight: 400;
  letter-spacing: -1px;
}

.pop.pop_time_delay .inner {
  width: 580px;
  height: 900px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -460px 0 0 -340px;
  padding: 0 50px 20px 50px;
  border: 1px solid #7d7d7d;
}

.pop.pop_time_delay .inner h3 {
  font-size: 32px;
  color: #034ea2;
  text-align: left;
  font-weight: 500;
  padding: 40px 0 30px 0;
  line-height: 150%;
  letter-spacing: -1px;
}

.pop.pop_time_delay .inner h4 {
  font-size: 25px;
  color: #034ea2;
  padding-bottom: 20px;
  font-weight: 400;
  letter-spacing: -1px;
}

.pop.pop_time_delay .count {
  padding-bottom: 60px;
}

.pop.pop_time_delay .count ul li {
  padding: 5px 0;
  line-height: 150%;
}

.pop.pop_time_delay .count ul li .tit {
  display: inline-block;
  width: 120px;
  font-weight: 400px;
  color: #333;
  font-size: 16px;
}

.pop.pop_time_delay .count ul li .txt {
  display: inline-block;
  font-weight: 500px;
  color: #333;
  font-size: 16px;
}

.pop.pop_time_delay .delay_calendar {
  background: #fafafa;
  border: 1px solid #ccc;
  padding: 10px;
}

.pop.pop_time_delay .delay_calendar .tit {
  padding: 10px 0 30px 0;
  position: relative;
}

.pop.pop_time_delay .delay_calendar .tit strong {
  position: absolute;
  left: 30px;
  top: 10px;
  font-size: 20px;
  color: #333;
  letter-spacing: -1px;
  font-weight: 400;
}

.pop.pop_time_delay .delay_calendar .tit p {
  padding: 0 0 0 200px;
  line-height: 25px;
  font-size: 14px;
  color: #333;
  font-weight: 300;
  letter-spacing: -1px;
}

.pop.pop_time_delay .delay_calendar .calendar_month {
  text-align: center;
  padding-bottom: 10px;
}

.pop.pop_time_delay .delay_calendar .calendar_month .year {
  font-size: 15px;
  color: #333;
}

.pop.pop_time_delay .delay_calendar .calendar_month .month {
  font-size: 30px;
  color: #333;
  line-height: 150%;
  vertical-align: top;
}

.pop.pop_time_delay .delay_calendar .calendar_month .month strong {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.pop.pop_time_delay .delay_calendar .calendar_month .month a img {
  margin-top: 15px;
}

.pop.pop_time_delay .delay_calendar .class_schedule {
  background: #fff;
}

.pop.pop_time_delay .delay_calendar .class_schedule table {
  width: 100%;
  border-collapse: collapse
}

.pop.pop_time_delay .delay_calendar .class_schedule table th {
  border: 1px solid #ccc;
  font-size: 12px;
  color: #333;
  padding: 5px 10px;
  font-weight: 500;
}

.pop.pop_time_delay .delay_calendar .class_schedule table td {
  border: 1px solid #ccc;
  font-size: 11px;
  height: 55px;
  vertical-align: top;
}

.pop.pop_time_delay .delay_calendar .class_schedule table td .date {
  display: block;
  padding: 5px 10px 5px 10px;
}

.pop.pop_time_delay .delay_calendar .class_schedule table td .date strong {
  font-size: 12px;
}

.pop.pop_time_delay .delay_calendar .class_schedule table td .btn {
  text-align: center;
}

.withdrawal .btn {
  text-align: center;
  margin-top: 100px;
}

.withdrawal .btn a {
  display: inline-block;
  background: #034ea2;
  font-size: 22px;
  color: #fff;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 254px;
  font-weight: 400;
  letter-spacing: -1px;
}

.with_confirm {
  text-align: center;
  padding: 100px 0 150px 0;
}

.with_confirm h3 {
  font-size: 40px;
  color: #034ea2;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: -2px;
}

.with_confirm p {
  font-size: 18px;
  color: #333;
  line-height: 150%;
  padding-bottom: 120px;
  letter-spacing: -1px;
}

.with_confirm .btn {
  text-align: center;
}

.with_confirm .btn a {
  display: inline-block;
  background: #034ea2;
  font-size: 22px;
  color: #fff;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 254px;
  font-weight: 400;
  letter-spacing: -1px;
}

.screen_p {
  border: 1px solid #ccc;
  height: 480px;
  margin-top: 50px;
}

.point_list .point_list_top {
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.point_list .point_list_top .left {
  float: left;
  font-size: 25px;
  color: #333;
  font-weight: 500;
}

.point_list .point_list_top .right {
  float: right;
  font-size: 18px;
  color: #333;
  line-height: 37px;
}

.point_list .point_list_top .right strong {
  display: inline-block;
  color: #ff3600;
  font-size: 22px;
  font-weight: 500;
  margin-left: 60px;
  letter-spacing: -1px;
}

.point_list .table_list04 {
  padding-bottom: 40px;
}

.point_list .table_list04 table th {
  font-size: 17px;
}

.point_list .table_list04 table td {
  font-size: 17px;
}

.coupon_list .coupon_list_top {
  border: 1px solid #ccc;
  padding: 20px 30px;
  margin-bottom: 30px;
  position: relative;
}

.coupon_list .coupon_list_top .tit {
  letter-spacing: -1px;
}

.coupon_list .coupon_list_top .tit strong {
  display: inline-block;
  font-size: 25px;
  color: #333;
  margin-right: 30px;
  line-height: 150%;
  font-weight: 500;
}

.coupon_list .coupon_list_top .tit span {
  display: inline-block;
  font-size: 18px;
  color: #333;
  line-height: 150%;
}

.coupon_list .coupon_list_top .btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.coupon_list .coupon_list_top .btn a {
  display: inline-block;
  background: #034ea2;
  color: #fff;
  width: 125px;
  height: 37px;
  line-height: 37px;
  font-size: 17px;
  text-align: center;
  border-radius: 10px;
  letter-spacing: -1px;
}

.coupon_list .table_list04 {
  padding-bottom: 40px;
}

.coupon_list .table_list04 table th {
  font-size: 17px;
}

.coupon_list .table_list04 table td {
  font-size: 17px;
}

.coupon_list .table_list04 table td .use {
  color: #ff3300;
  font-weight: 500;
}

.coupon_list .table_list04 table td .nouse {
  color: #1aa82a;
  font-weight: 500;
}

.coupon_list .coupon_list_search {
  padding-bottom: 15px;
  font-size: 16px;
  color: #333;
  position: relative;
}

.coupon_list .coupon_list_search select {
  height: 40px;
  line-height: 40px;
  border: 1px solid #ccc;
  margin-right: 5px;
  margin-left: 10px;
  min-width: 75px;
}

.coupon_list .coupon_list_search select:first-child {
  margin-left: 0;
}

.coupon_list .coupon_list_search a {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  line-height: 40px;
  width: 95px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  color: #333;
  font-size: 15px;
  text-align: center;
}

.pop.pop_regi_coupon .inner {
  width: 400px;
  height: 370px;
  background: #fff;
  position: absolute;
  left: 40%;
  top: 27%;
  margin: -225px 0 0 -239px;
  padding: 40px;
  text-align: center;
  line-height: 150%;
}

.pop.pop_regi_coupon .inner .txt {
  font-size: 18px;
  color: #333;
  letter-spacing: -1px;
  font-weight: 300;
  padding-bottom: 15px;
}

.pop.pop_regi_coupon .inner .txt02 {
  font-size: 16px;
  color: #333;
  letter-spacing: -1px;
  padding-bottom: 15px;
}

.pop.pop_regi_coupon .inner .txt03 {
  font-size: 18px;
  color: #333;
  letter-spacing: -1px;
  font-weight: 300;
  padding-bottom: 40px;
  line-height: 150%;
}

.pop.pop_regi_coupon .inner .txt04 {
  position: relative;
  display: inline-block;
  font-size: 19px;
  letter-spacing: -1px;
  font-weight: 400;
  top: -30px;
}

.pop.pop_regi_coupon .inner .coupon_num {
  font-size: 20px;
  padding-bottom: 15px;
}

.pop.pop_regi_coupon .inner .coupon_num input[type="text"] {
  border: 1px solid #ccc;
  width: 73px;
  height: 38px;
  line-height: 38px;
}

.pop.pop_regi_coupon .inner .btn a {
  display: inline-block;
  width: 200px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #034ea2;
}

.pay_list {
  padding-top: 25px;
}

.pay_list .table_list04 {
  padding-bottom: 40px;
}

.pay_list .table_list04 table th {
  font-size: 16px
}

.pay_list .table_list04 table th {
  font-size: 17px;
  letter-spacing: -1px;
}

.pop.pop_receipt .inner {
  display: block;
  width: 355px;
  min-height: 585px;
  background: #fff;
  position: absolute;
  left: 43%;
  top: 13%;
  margin: -233px 0 0 -218px;
  padding: 40px;
  text-align: center;
  line-height: 150%;
}

.pop.pop_receipt .inner h3 {
  border-bottom: 0;
  margin-bottom: 0;
}

.pop.pop_receipt .table_list04 {
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.pop.pop_receipt .table_list04 table th {
  padding: 7px 10px;
  font-weight: 400;
}

.pop.pop_receipt .table_list04 table td {
  padding: 7px 10px;
  font-weight: 300;
}

.pop.pop_receipt .table_list04 table td.left {
  font-size: 15px;
}

.pop.pop_receipt .table_list04 table td .btn02 {
  border-radius: 5px;
  background: #034ea2;
  color: #fff;
  padding: 0 10px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin-left: 5px;
  font-size: 12px;
}

.pop.pop_receipt .sign {
  padding: 10px 0 25px 0;
  font-size: 18px;
  color: #333;
  line-height: 170%;
  letter-spacing: -1px;
  position: relative;
}

.pop.pop_receipt .sign strong {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.pop.pop_receipt .sign .sign_img {
  position: absolute;
  left: 50%;
  top: 25px;
  margin-left: 50px;
}

.pop.pop_receipt .btn {
  text-align: center;
  padding-top: 20px;
}

.pop.pop_receipt .btn a {
  display: inline-block;
  background: #034ea2;
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-align: center;
  height: 62px;
  line-height: 62px;
  width: 200px;
}

.pop.pop_appear .inner {
  width: 355px;
  height: 585px;
  background: #fff;
  position: absolute;
  left: 43%;
  top: 13%;
  margin: -333px 0 0 -218px;
  padding: 40px;
  text-align: center;
  line-height: 150%;
}

.pop.pop_appear .inner h3 {
  border-bottom: 0;
  margin-bottom: 0;
}

.pop.pop_appear .table_list04 {
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.pop.pop_appear .table_list04 table th {
  padding: 6px 10px;
  font-weight: 400;
}

.pop.pop_appear .table_list04 table td {
  padding: 6px 10px;
  font-weight: 300;
}

.pop.pop_appear .table_list04 table td.left {
  font-size: 15px;
}

.pop.pop_appear .table_list04 table td .btn02 {
  border-radius: 5px;
  background: #034ea2;
  color: #fff;
  padding: 0 10px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin-left: 5px;
  font-size: 12px;
}

.pop.pop_appear .sign {
  padding: 0 0 15px 0;
  font-size: 18px;
  color: #333;
  line-height: 170%;
  letter-spacing: -1px;
  position: relative;
}

.pop.pop_appear .sign strong {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.pop.pop_appear .sign .sign_img {
  position: absolute;
  left: 50%;
  top: 15px;
  margin-left: 50px;
}

.pop.pop_appear .btn {
  text-align: center;
  padding-top: 20px;
}

.pop.pop_appear .btn a {
  display: inline-block;
  background: #034ea2;
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-align: center;
  height: 62px;
  line-height: 62px;
  width: 200px;
}

.pop.pop_certificate .inner {
  width: 355px;
  height: 585px;
  background: #fff;
  position: absolute;
  left: 43%;
  top: 13%;
  margin: -333px 0 0 -218px;
  padding: 40px;
  text-align: center;
  line-height: 150%;
}

.pop.pop_certificate .inner h3 {
  border-bottom: 0;
  margin-bottom: 0;
}

.pop.pop_certificate .table_list04 {
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.pop.pop_certificate .table_list04 table th {
  padding: 7px 10px;
  font-weight: 400;
}

.pop.pop_certificate .table_list04 table td {
  padding: 7px 10px;
  font-weight: 300;
}

.pop.pop_certificate .table_list04 table td.left {
  font-size: 15px;
}

.pop.pop_certificate .table_list04 table td .btn02 {
  border-radius: 5px;
  background: #034ea2;
  color: #fff;
  padding: 0 10px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin-left: 5px;
  font-size: 12px;
}

.pop.pop_certificate .finish_txt {
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  letter-spacing: -1px;
  font-weight: 300;
}

.pop.pop_certificate .sign {
  padding: 10px 0 25px 0;
  font-size: 18px;
  color: #333;
  line-height: 170%;
  letter-spacing: -1px;
  position: relative;
}

.pop.pop_certificate .sign strong {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.pop.pop_certificate .sign .sign_img {
  position: absolute;
  left: 50%;
  top: 25px;
  margin-left: 50px;
}

.pop.pop_certificate .btn {
  text-align: center;
  padding-top: 20px;
}

.pop.pop_certificate .btn a {
  display: inline-block;
  background: #034ea2;
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-align: center;
  height: 62px;
  line-height: 62px;
  width: 200px;
}

.modify>.btn {
  text-align: center;
  padding-top: 60px;
}

.modify>.btn a {
  display: inline-block;
  background: #034ea2;
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-align: center;
  height: 62px;
  line-height: 62px;
  width: 200px;
}

.consult_list .table_list02 {
  padding-bottom: 30px;
}

.consult_write {
  padding-top: 55px;
}

.consult_write .table_list04 {
  padding-bottom: 20px;
}

.mo_evaluation_list {
  padding-top: 25px;
}

.mo_evaluation_list .table_list04 {
  padding-bottom: 20px;
}

.mo_evaluation_list .table_list04 th {
  font-size: 17px;
}

.mo_evaluation_list .table_list04 td {
  font-size: 17px;
}

.capital {
  text-transform: capitalize;
}

/*.mo_evaluation_list .table_list04 td .comment{height:82px;}*/
.mo_evaluation_list .paging {
  padding-bottom: 80px;
}

.mo_evaluation_list .evaluation_list {
  overflow: hidden;
}

.mo_evaluation_list .evaluation_list>.inner>.left {
  float: left;
  border: 1px solid #ccc;
  width: 248px;
  height: 248px;
  overflow: hidden;
  margin-bottom: 40px;
}

.graph, .chart {
  width: 248px;
  height: 248px;
}

.mo_evaluation_list .evaluation_list>.inner>.right {
  float: right;
  width: 475px;
}

.mo_evaluation_list .evaluation_list>.inner>.clear {
  clear: both;
}

.mo_evaluation_list .evaluation_list>.inner>.clear dl {
  border: 1px solid #ccc;
}

.mo_evaluation_list .evaluation_list>.inner>.clear dl dt {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 15px 25px;
  font-size: 17px;
  color: #333;
  font-weight: 500;
}

.mo_evaluation_list .evaluation_list>.inner>.clear dl dd {
  padding: 20px 25px;
  font-size: 16px;
  color: #333;
  line-height: 150%;
}

.le_result_list {
  padding-top: 25px;
}

.le_result_list .table_list04 {
  padding-bottom: 60px;
}

.le_result_list .table_list05 {
  padding-bottom: 25px;
}

.le_result_list .table_list05 table {
  width: 99.99%;
  border-collapse: collapse;
}

.le_result_list .table_list05 table th {
  font-size: 17px;
  border: 1px solid #ccc;
  font-weight: 400;
  color: #333;
  padding: 12px 10px;
}

.le_result_list .table_list05 table td {
  font-size: 16px;
  border: 1px solid #ccc;
  font-weight: 300;
  color: #333;
  padding: 12px 10px;
}

.le_result_list .result_list h4 {
  background: url(/img/bg_test_guide01.png) no-repeat left top;
  width: 235px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: -1px;
}

.le_result_list .result_list h5 {
  font-size: 20px;
  color: #333;
  line-height: 150%;
  padding-bottom: 15px;
  letter-spacing: -1px;
  font-weight: 500;
}

.le_result_list .result_list .evaluation_table {
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

.le_result_list .result_list .evaluation_table .info {
  padding: 5px 10px;
  text-align: center;
}

.le_result_list .result_list .evaluation_table .info li {
  display: inline-block;
  text-align: center;
  padding: 0 15px;
}

.le_result_list .result_list .evaluation_table .info li strong {
  font-size: 17px;
  color: #333;
  font-weight: 500;
  margin-right: 5px;
}

.le_result_list .result_list .evaluation_table .info li span {
  font-size: 17px;
  color: #333;
  font-weight: 300;
}

.le_result_list .result_list .evaluation_table .info li span a.btn {
  background: #f3f3f3;
  border: 1px solid #d5d5d5;
  font-size: 15px;
  color: #333;
  padding: 10px 25px;
  display: inline-block;
  line-height: 120%;
}

.le_result_list .result_list .evaluation_table .result {
  border-top: 1px solid #ccc;
  padding: 7px 10px;
  overflow: hidden;
}

.le_result_list .result_list .evaluation_table .result>li {
  float: left;
  width: 30.33%;
  margin: 0 1.5%;
}

.le_result_list .result_list .evaluation_table .result>li>div {
  min-height: 58px;
  box-sizing: border-box;
}

.le_result_list .result_list .evaluation_table .result>li .level {
  border: 2px solid #7fb8ff;
  border-radius: 15px;
  padding: 15px 20px;
  position: relative;
}

.le_result_list .result_list .evaluation_table .result>li .level strong {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 16px;
  color: #0072ff;
  font-weight: 500;
}

.le_result_list .result_list .evaluation_table .result>li .level span {
  display: block;
  font-weight: 300;
  padding: 0 0 0 70px;
  text-align: right;
  font-size: 16px;
  color: #0072ff;
}

.le_result_list .result_list .evaluation_table .result>li .process {
  border: 2px solid #ff977f;
  border-radius: 15px;
  padding: 15px 20px;
  position: relative;
}

.le_result_list .result_list .evaluation_table .result>li .process strong {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 16px;
  color: #ff3000;
  font-weight: 500;
}

.le_result_list .result_list .evaluation_table .result>li .process span {
  display: block;
  font-weight: 300;
  padding: 0 0 0 70px;
  text-align: right;
  font-size: 16px;
  color: #ff3000;
}

.le_result_list .result_list .evaluation_table .result>li .teachingBook {
  border: 2px solid #8acd97;
  border-radius: 15px;
  padding: 15px 20px;
  position: relative;
}

.le_result_list .result_list .evaluation_table .result>li .teachingBook strong {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 16px;
  color: #169c2f;
  font-weight: 500;
}

.le_result_list .result_list .evaluation_table .result>li .teachingBook span {
  display: block;
  font-weight: 300;
  padding: 0 0 0 70px;
  text-align: right;
  font-size: 16px;
  color: #169c2f;
}

.le_result_list .result_list>.inner>.left {
  float: left;
  border: 1px solid #ccc;
  width: 248px;
  height: 248px;
}

.le_result_list .result_list>.inner>.right {
  float: right;
  width: 475px;
}

.le_result_list .result_list>.inner>.clear {
  clear: both;
  padding-bottom: 70px;
}

.le_result_list .result_list>.inner>.clear dl {
  border: 1px solid #ccc;
}

.le_result_list .result_list>.inner>.clear dl dt {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 15px 25px;
  font-size: 17px;
  color: #333;
  font-weight: 500;
}

.le_result_list .result_list>.inner>.clear dl dd {
  padding: 20px 25px;
  font-size: 16px;
  color: #333;
  line-height: 150%;
}

.le_result_list .result_list>.inner>.btn {
  text-align: center;
}

.le_result_list .result_list>.inner>.btn a {
  display: inline-block;
  background: #034ea2;
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-align: center;
  height: 62px;
  line-height: 62px;
  width: 235px;
}

.pop.pop_class_audio .inner {
  width: 310px;
  height: 220px;
  background: #fff;
  position: absolute;
  left: 45%;
  top: 36%;
  margin: -130px 0 0 -175px;
  padding: 20px;
  border: 1px solid #7d7d7d;
}

.pop.pop_class_audio .inner h3 {
  font-size: 20px;
  color: #414141;
  text-align: left;
  font-weight: 300;
  padding: 0 0 10px 10px;
  line-height: 150%;
}

.pop.pop_class_audio .inner .audio {
  padding-bottom: 25px;
}

.pop.pop_class_audio .inner .audio audio {
  width: 100%;
  height: 50px;
}

.pop.pop_class_audio .inner .btn {
  text-align: center;
}

.pop.pop_class_audio .inner .btn a {
  display: inline-block;
  background: #034ea2;
  font-size: 18px;
  color: #fff;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 200px;
  font-weight: 400;
  letter-spacing: -1px;
}

/* 개인정보 취급방침 */
.info_pesonal h3 {
  font-size: 32px;
  color: #333;
  line-height: 150%;
  text-align: center;
  font-weight: 500;
  padding-bottom: 40px;
  margin-top: 50px;
}

.info_pesonal .txt {
  height: 380px;
  border: 1px solid #d5d5d5;
  padding: 20px;
  font-size: 16px;
  color: #333;
  line-height: 150%;
  overflow-y: auto;
  margin-bottom: 100px;
}

/*
textarea {
    resize: none;
}*/
/* 스카이프, 화상 10분 수업 disabled */
.time_disabled {
  background-color: #d5d5d5;
  cursor: default;
  text-decoration: line-through;
  pointer-events: none;
}

.time_disabled:hover {
  text-decoration: line-through;
}

/* 2018-12-03 Billy main_수강후기 */
.main_classreview * {
  box-sizing: border-box;
}

.main_classreview .review_box {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  padding: 0 40px;
}

.main_classreview .review_box ul {
  overflow: hidden;
  zoom: 1;
  width: 500%;
  margin-left: 30px;
}

.main_classreview .review_box .bx-wrapper {
  max-width: 867px !important;
}

.main_classreview .review_box ul li {
  margin-right: 20px;
  float: left;
  _display: inline;
  overflow: hidden;
  text-align: center;
  border: 3px solid #dedede;
  border-radius: 150px;
  height: 485px;
  width: 275px;
  position: relative;
  box-sizing: border-box;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out
}

.main_classreview .review_box ul li .pic {
  text-align: center;
  /*border:1px solid #dedede;*/
  border-radius: 150px;
  height: 460px;
  width: 250px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out
}

.main_classreview .sPrev, .main_classreview .sNext {
  position: absolute;
  left: 5px;
  top: 50%;
  display: block;
  width: 40px;
  margin-top: -60px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: url(/img/btn_prev.png) center center no-repeat transparent;
}

.main_classreview .sNext {
  left: auto;
  right: 5px;
  background: url(/img/btn_next.png) center center no-repeat transparent;
}

.main_classreview .sPrev:hover, .main_classreview .sNext:hover {}

.main_classreview .review_box ul li:hover {
  background: #4179b8;
}

.main_classreview .review_box ul li:hover .pic {
  width: 100%;
  height: 100%;
}

.main_classreview .review_box ul li:hover .orange {
  color: #fff;
}

/*
.dou {
  background: url(/imagesv3/17268-11.png) no-repeat center;
  width: 39px;
  height: 29px;
  margin: 0 auto;
  display: none;
}

.main_classreview .review_box ul li:hover .dou {
  background: url(/imagesv3/17268-12.png) no-repeat center;
  width: 39px;
  height: 29px;
}
*/
.main_classreview .review_box ul li:hover .gray-two {
  color: #fff;
}

.slideGroup-content {
  margin-top: 90px;
  text-align: center;
}

.orange {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  height: 80px;
  padding: 10px;
}

.gray {
  color: #fff;
  margin-top: 30px;
  line-height: 26px;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.gray-two {
  margin-top: 50px;
  line-height: 26px;
  color: #fff;
  font-size: 21px;
}

/* 2018-12-03 Billy main_커리큘럼 */
#container .main_curriculum2 {
  padding: 135px 0 160px 0;
}

#container .main_curriculum2 .inner {
  width: 1000px
}

#container .main_curriculum2 .inner>h2 {
  padding-bottom: 10px;
  color: #3a3a3a;
}

#container .main_curriculum2 .inner>h2 strong {}

#container .main_curriculum2 .inner>p {
  font-size: 22px;
  color: #3a3a3a;
  font-weight: 300;
  text-align: center;
  padding-bottom: 60px
}

#container .main_curriculum2 .inner>p strong {
  font-weight: 400;
  color: #3a3a3a;
}

#container .main_curriculum2 .list ul {
  overflow: hidden;
}

#container .main_curriculum2 .list ul li {
  float: left;
  margin-right: 27px;
  width: 315px;
  margin-bottom: 20px;
}

#container .main_curriculum2 .list ul li:nth-child(3) {
  margin-right: 0;
}

#container .main_curriculum2 .list ul li:nth-child(6) {
  margin-right: 0;
}

#container .main_curriculum2 .list ul li a {
  display: block;
}

#container .main_curriculum2 .list ul li a h3 {
  font-size: 23px;
  text-align: center;
  color: #034ea2;
  background-color: #e5edf6;
  line-height: 56px;
  height: 56px;
  font-weight: 400;
}

#container .main_curriculum2 .list ul li a .img {
  position: relative;
  overflow: hidden;
}

#container .main_curriculum2 .list ul li a .img>img {
  max-width: 100%;
  border: none;
}

#container .main_curriculum2 .list ul li a .img .hover {
  background-color: #034ea2;
  position: relative;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding-top: 25px;
  line-height: 1.5;
  box-sizing: border-box;
  height: 123px;
  font-weight: 200;
}

#container .main_curriculum .list ul li a:hover .img .hover {
  bottom: 0;
}

/* billy sub  수정 */
.curriculum_tb {
  border: 1px solid #ddd;
  width: 734px;
  position: relative;
}

.curriculum_tb table {
  position: relative;
  top: 0;
  width: 733px;
  border-spacing: 0px;
  border-collapse: collapse;
}

.curriculum_tb table thead th {
  height: 24px;
  text-align: center;
  color: #034ea2;
  border: 1px solid #ddd;
}

.curriculum_tb table thead td img {
  display: none;
}

.curriculum_tb table thead td {
  background-color: #034ea2;
}

.curriculum_tb table thead td span {
  display: block;
  text-align: center;
  background-color: #034ea2;
  color: #fff;
  border-right: 1px solid #fff;
  font-weight: 500;
  font-size: 13px;
}

.curriculum_tb table thead td:last-child span {
  border-right: 0;
}

.curriculum_tb table tbody th {
  background-color: #f0f0f0;
  color: #034ea2;
  font-size: 14px;
  border: 1px solid #ddd;
}

.curriculum_tb table tbody td {
  height: 83px;
  background-image: url(/img/cur_td_bg.jpg);
  background-repeat: repeat-x;
  background-size: 64px 85px;
}

.curriculum_tb table tbody td>div {}

.curriculum_tb table tbody td>div>a>img {}

.curriculum_tb table tbody .cur_tr_bor {
  border-top: 2px solid #ddd;
}

/* page 추가 18-12-20 해외수강안내 */
.le_gb_process * {
  box-sizing: border-box;
}

.le_gb_process .chat_box {
  width: 100%;
  background-color: #f6f6f6;
  padding: 30px;
  overflow: hidden;
  background-image: url(/img/chat_left.png), url(/img/chat_right.png);
  background-position: left 35px, right bottom;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: 60px;
}

.le_gb_process .chat_box h4 {
  font-size: 18px;
  color: #303030;
  margin-bottom: 17px;
}

.le_gb_process .chat_box::after {
  display: block;
  content: '';
  clear: both;
}

.text_balloon {
  width: 460px;
  padding: 10px 25px;
  color: #303030;
  font-size: 17px;
  background-color: #cddcec;
  border-radius: 150px;
  margin-bottom: 17px;
  font-weight: 400;
  position: relative;
  float: left;
  margin-left: 79px;
}

.gray_balloon {
  text-align: left;
  background-color: #cccccc;
  float: right;
  margin-right: 79px;
}

.text_balloon::after {
  content: '';
  position: absolute;
  border-top: 30px solid #cddcec;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  bottom: -16px;
  left: 2px;
  transform: rotate(50deg);
}

.gray_balloon::after {
  transform: rotate(-50deg);
  bottom: -16px;
  left: 445px;
  border-top-color: #cccccc
}

.gray_balloon:nth-last-child(1)::after {
  bottom: -8px;
}

.le_gb_process .section {
  margin-bottom: 60px;
}

.le_gb_process .section .hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  text-indent: -9999px;
}

.le_gb_process .section>h4 {
  background: url(/img/bg_test_guide01.png) no-repeat left top;
  width: 235px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: -1px;
}

.le_gb_process .section p {
  font-size: 18px;
  color: #303030;
  line-height: 180%;
  padding-left: 60px;
  font-weight: 400;
  letter-spacing: -1px;
}

.m_content {
  display: none;
}

.effctVisual .effctImgSect {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  animation-name: effctImgSect;
  animation-duration: 4s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}

.only_web {
  display: block;
  margin: 0 auto;
}

.only_mobile {
  display: none;
}

.talk_banner>img.talk_naver_btn {
  position: relative;
  padding-right: 50px;
}

.mainBottomBanner {}

.mainBottomBanner>a {
  background-position: center center;
  background-repeat: no-repeat;
}

.mainBottomBanner .only_web {
  background-image: url(/img/190319-bottomBanner.jpg);
  height: 115px;
}

.mainBottomBanner .only_web img {
  width: 100%;
}

.talk_banner {
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -mz-transition: all 0.25s ease-in-out;
  position: fixed;
  right: 0;
  bottom: -115px;
  z-index: 999;
  width: 100%;
  text-align: right;
}

.talk_banner>img.only_web {
  display: inline;
}

.mainBottomBanner .only_mobile {
  background-size: cover;
  height: auto;
}

.mainBottomBanner .only_mobile img {
  width: 100%;
}

@keyframes effctImgSect {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #footer .inner .foot_info ul li {
    font-size: 13px;
    line-height: 1.2;
  }
}

@media screen and (min-width:0\0) {
  #footer .inner .foot_info ul li {
    font-size: 13px;
    line-height: 1.2;
  }
}

@media screen and (max-width:1024px) {
  #container .main_visual .bx-pager {
    bottom: 20px;
  }

  .talk_banner>img.only_web {
    display: none;
  }
}

/**/
#container .main_visual ul li.act img {
  position: absolute;
}

#container .main_visual ul li.act .actRight {
  left: 0;
  top: 0;
  transform: translate(-100%, -100%);
  opacity: 0;
  z-index: 5;
  animation-name: actRight;
  animation-duration: 8s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
}

#container .main_visual ul li.act .actText {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#container .main_visual ul li.act .actCy {
  left: 1070px;
  top: 260px;
  opacity: 0;
  animation-name: foot_1;
  animation-duration: 8s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  z-index: 4;
}

#container .main_visual ul li.act .actSmCy {
  left: 1200px;
  top: 201px;
  opacity: 0;
  animation-name: foot_2;
  animation-duration: 8s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  z-index: 4;
}

#container .main_visual ul li.act .actBigCy {
  left: 1155px;
  top: 245px;
  opacity: 0;
  animation-name: foot_3;
  animation-duration: 8s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  z-index: 4;
}

#container .main_visual ul li.act .actStar {
  left: 1280px;
  top: 240px;
  opacity: 0;
  animation-name: foot_4;
  animation-duration: 8s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  z-index: 4;
}

@keyframes actRight {
  0% {
    transform: translate(-100%, -100%);
    opacity: 0;
  }

  20% {
    transform: translate(-30%, -30%);
    opacity: 1;
  }

  50% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes foot_1 {
  39% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes foot_2 {
  49% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes foot_3 {
  59% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes foot_4 {
  69% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes foot_5 {
  59% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes star {
  15% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

.small_event {
  width: 120px;
  height: 120px;
  z-index: 10000;
  position: fixed;
  right: 30px;
  bottom: 150px;
}

.small_event img {
  width: 100%;
}

.small_event button {
  border: none;
  background-color: transparent;
  width: 9px;
  height: 9px;
  right: 11px;
  top: 9px;
  position: absolute;
}
