.form-group {
  width: 100%;
}

.form-group>label {
  font-size: 17px;
  color: #333;
  line-height: 54px;
  font-weight: 300;
  text-align: left;
  letter-spacing: -1px;
  width: 135px;
  float: left;
}

.form-group>div {
  padding: 7px 0;
  font-size: 15px;
}

.star {
  color: #fe3600;
  font-weight: 500;
}

.green {
  color: #1aa82a;
}

.red {
  color: #fe3600;
}

.border-red {
  border: 1px solid #Ff0000;
}

.phone-left {
  float: left;
  width: 84px;
}

.form-group>div .btn {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  border: 1px solid #d5d5d5;
  color: #333;
  font-size: 16px;
  width: 100px;
  background: #f3f3f3;
  text-align: center;
  vertical-align: top;
  letter-spacing: -1px;
  margin-left: 10px;
}

.form-group>div input {
  border: 1px solid #d5d5d5;
  height: 38px;
  line-height: 38px;
  text-indent: 5px;
  font-size: 14px;
  letter-spacing: -1px;
}

.form-group>div .chk {
  display: inline-block;
  font-size: 15px;
  color: #6c6c6c;
  margin-left: 10px;
  line-height: 40px;
  vertical-align: top;
}

.form-group>div .chk2 {
  display: inline-block;
  line-height: 40px;
  font-size: 15px;
  margin-left: 10px;
  vertical-align: top;
}

/**
 * Angular Message validate
 */
.error-text, .success-text, .dn {
  display: none;
}

.has-success .help-block.success-text {
  display: inline-block;
  color: #1aa82a;
  line-height: 38px;
}

.has-error .help-block.error-text {
  display: inline-block;
  color: #Ff0000;
  line-height: 38px;
}

.has-error .help-inline.error-text {
  display: inline;
}

.has-error .help-block.error-input {
  display: inline-block;
  border: 1px solid #Ff0000;
  height: 38px;
  line-height: 38px;
  text-indent: 5px;
  font-size: 14px;
  letter-spacing: -1px;
}

.error-box {
  display: inline-block;
  border: 1px solid #Ff0000 !important;
  height: 38px;
  line-height: 38px;
  text-indent: 5px;
  font-size: 14px;
  letter-spacing: -1px;
}

.has-error .help-block.find-error-input {
  display: inline-block;
  border: 1px solid #Ff0000;
}

.has-error .help-block.error-check {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -4px;
  border: 1px solid #Ff0000;
}

.text-strong {
  font-weight: 900 !important;
}

/*partner*/
#capcha {
  margin-top: 20px;
  margin-bottom: -15px;
  width: 302px;
  height: 76px;
}

/*pagination*/
.pagination {
  text-align: center;
}

.pager {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}

.pager>li {
  display: inline;
  font-size: 16px;
}

.pager>li>a {
  position: relative;
  float: left;
  cursor: pointer;
  padding: 8px 0;
  text-decoration: none;
}

.pager>.active>a {
  z-index: 2;
  cursor: default;
  font-weight: bold;
}

.disabled {
  display: none;
}

/*datepicker cursor*/
.ui-datepicker-trigger {
  cursor: pointer;
}

.hasDatepicker {
  cursor: pointer;
}

/*leveltest*/
.request .section {
  height: 770px;
}

.request .section .table_write ul {
  width: 100%;
  height: 55px;
  line-height: 52px;
}

.request .section .table_write ul li {
  float: left;
  font-size: 17px;
  color: #333;
  height: 40px;
}

.request .section .table_write ul .title {
  width: 95px;
  line-height: 53px;
}

.request .section .table_write ul .inputs {
  width: 180px;
}

.request .section .table_write ul li input[type="text"] {
  width: 168px;
  height: 36px;
  font-size: 14px;
  text-indent: 5px;
}

.request .section .table_write ul li img {
  margin: 13px 0 0 -35px;
}

.request .section .table_write ul li select {
  width: 125px;
  height: 40px;
  font-size: 14px;
  color: #6b6b6b;
}

.level_txt {
  display: inline-block;
  margin-left: 95px;
  line-height: 20px;
  font-size: 15px;
  color: red;
}

.request .section .table_write ul li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 10px;
}

.request .section .table_write ul li a {
  color: #ff3600
}

.request .section .table_write ul .inputs.agree a {
  color: #ff3600
}

/*mypage course list status*/
.course_list .status {
  width: 99.9%;
  margin-left: 4.5px;
}

.course_list .status div {
  width: 21.99%;
  float: left;
}

.course_list .status div:nth-child(odd) {
  font-size: 15px;
  color: #1d1d1d;
  padding: 10px;
  background: #f5f5f5;
  font-weight: 500;
  text-align: center;
  border: 1px solid #ccc;
  border-right: none;
}

.course_list .status div:nth-child(even) {
  width: 24.71%;
  height: 42px;
  text-align: center;
  font-size: 15px;
  color: #333;
  border: 1px solid #ccc;
  border-right: none;
  line-height: 42px;
}

.course_list .status div:last-child {
  border: 1px solid #ccc;
}

.course_list .status:not(:first-child) div {
  border-top: none;
}

/*mypage course list state*/
.course_list .state {
  width: 99.99%;
  margin-left: 1.5px;
}

.course_list .state div {
  width: 17.08%;
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
  font-size: 15px;
  background: #f5f5f5;
  text-align: center;
  border: 1px solid #ccc;
  border-right: none;
  float: left;
}

.course_list .state div:last-child {
  border: 1px solid #ccc;
}

.course_list .state:first-child div {
  color: #1d1d1d;
  font-weight: 500;
}

.course_list .state:last-child div {
  background: none;
  border-top: none;
  color: #333;
}

/*popup*/
.pop {
  font-family: 'Noto Sans KR';
}



/*print*/
@media screen {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
    .inner {
      transform:scale(1.5) !important;
			border: 1px solid grey !important;
			padding: 20px !important;
			position: static !important;
			margin: 100px !important;
      margin-top:180px !important;
		}

		.inner table.table_list04 tr>th.row {
			background-color: black !important
		}

    .btn, .close_pop {
      visibility:hidden;
      display:none;
    }
}
